.email-send-header-wrapper{
  background-color: #FFEBB2;
  padding: 0px 10px 0px 21px;
}

.email-send-body-wrapper{
  padding: 10px 40px;
}

.email-send-dialog{
  border-radius: 0 !important;
}

.email-send-input{
  padding: 10px 0 !important;
}