.two-step-status-caption {
  font-size: rem-calc(16);

  @include breakpoint(md up) {
    font-size: rem-calc(18);
  }
}

.two-step-status-indicator {
  font-size: rem-calc(16);

  @include breakpoint(md up) {
    font-size: rem-calc(18);
  }

  @include breakpoint(lg up) {
    font-size: rem-calc(14);
  }
}


.two-step-row__bordered {
  border-bottom: 1px solid #c4c4c4;
}

.content-h3 {
  font-weight: bold;
  font-size: rem-calc(16);
}

.two-step_otp-header {
  margin: rem-calc(30) 0 0 0;
}

.two-step-info {
  font-size: rem-calc(14);

  @include breakpoint(md up) {
    font-size: rem-calc(16);
  }

  @include breakpoint(lg up) {
    font-size: rem-calc(14);
  }
}

.two-step-learn-more {
  font-size: rem-calc(13);
}
