.form-button__theme-dark-grey {
  font-weight: normal;
  border: rem-calc(2) solid #c4c4c4;
  background-color: #f4f4f4;

  @include breakpoint(lg up) {
    border-width: rem-calc(1);
  }

  &:hover, &:focus {
    background-color: #e6e6e6;
  }

  &:active {
    background-color: #d2d2d2;
  }

  &:active, &:focus {
    box-shadow: 0 0 0 rem-calc(4) rgba(197, 197, 197, 0.34);
  }

  &:hover, &:active, &:focus {
    border-color: #c4c4c4;
  }
}
