.catalog-product__tile {
  flex: 0 0 33.33333%;
  width: 33.33333%;
  padding: rem-calc(15);

  @include breakpoint(md up) {
    flex: 0 0 25%;
    width: 25%;
  }

  @include breakpoint(xl up) {
    flex: 0 0 20%;
    width: 20%;
  }
}
