.navigation-login-button__tablet {
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    font-size: rem-calc(24);
    padding: 0 rem-calc(24);
    height: rem-calc(81);
    width: rem-calc(290);
}
