.common-button-upload {
  padding: 8px;
  font-weight: 400;
  font-size: 18px;
  color: #49474A;
  border: 2px solid #ffb400;
  background-color: #fefefe;
  border-radius: 5px;
  text-transform: uppercase;
}