.button__big {
    padding: 0 rem-calc(10);
    height: rem-calc(38);
    font-size: rem-calc(14);
    font-weight: 700;

    @include breakpoint(sm up) {
        height: rem-calc(45);
        font-size: rem-calc(18);
    }

    @include breakpoint(md up) {
        padding: 0 rem-calc(20);
        height: rem-calc(50);
        font-size: rem-calc(20);
    }

    @include breakpoint(lg up) {
        padding: 0 rem-calc(34);
        font-size: rem-calc(18);
    }
}
