.form-button {
    background-color: #ffb400;
    color: #000000;
    height: rem-calc(34);
    font-size: rem-calc(16);
    font-weight: 900;
    border: none;
    transition: all .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;

    &:focus {
        background-color: #ffb400;
        color: #000000;
        box-shadow: 0 0 0 rem-calc(2) rgba(242, 180, 5, 0.34);
    }

    &:hover {
        color: #000000;
        background-color: #e8a400;
    }

    &:active {
        color: #000000;
        border-color: #f2b405;
        box-shadow: 0 0 0 rem-calc(2) rgba(242, 180, 5, 0.34);
        background-color: #d59701;
    }
}
