.products-state-line {
  font-weight: 500;
  height: rem-calc(60);
  line-height: rem-calc(60);
  padding-left: rem-calc(5);
  padding-right: rem-calc(5);

  @include breakpoint(large up) {
    background-color: #ebebeb;
    height: rem-calc(40);
    line-height: rem-calc(40);
  }

  @include breakpoint(sm down) {
    height: rem-calc(45);
    line-height: rem-calc(45);
  }
}
