@import "cds_animation";
@import "jquery.mmodal.scss";

body {
  &.mmodal-opened {}

  .mmodal-modal-bg {
    z-index: 1500 !important;
    background-color: rgba(0,0,0,.5);

    .mmodal-container {
      margin: 10vh auto 0;

      //@include breakpoint(medium up) {
      //  width: 90vw !important;
      //  max-width: 80rem;
      //}
      //
      //@include breakpoint(medium down) {
      //  width: 100vw !important;
      //  min-height: 100vh;
      //  margin:0;
      // /Users/anna/git/xcart/www/static/frontend/demo_images/category/1280
      //}

      .mmodal-close{
        overflow: hidden;
        text-indent: -999px;
        display: block;
        width: 27px;
        height: 27px;
        opacity: .7;
        top: 9px;
        right: 9px;

        background: {
          repeat: no-repeat;
          image: url("../images/icons/modal/close_grey.svg");
          position: center center;
          size: 27px 27px;
        };

        @include breakpoint(sm down) {
          background: {
            size: 20px 20px;
          };
        }

        &:hover {
          opacity: 1;
        }
      }
      .mmodal-content {
        border-radius: 0;

        @include breakpoint(medium down) {
          min-height: 50px;
        }

        .show-for-modal {
          display: inherit;
        }
        .hide-for-modal {
          display: none;
        }
      }
    }

    &.front, &.filters {
      .mmodal-container {
        .mmodal-close {}
        .mmodal-content {
          padding: 0;

          .block-title {
            padding: 0 rem-calc(30);
            text-transform: uppercase;
            text-align: left;
            background-color: #1e3f51;
            color: #90a6b1;
            line-height: 3rem;
            font: {
              size: 1.25rem;
              weight: 600;
            }

            @include breakpoint(sm down) {
              font: {
                size: 1rem;
                weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

.show-for-modal {
  display: none;
}



//body .mmodal-modal-bg .mmodal-container {
//  .mmodal-close {
//    text-indent: 0 !important;
//    width: rem-calc(20) !important;
//    height: rem-calc(20) !important;
//    background-image: none !important;
//    top: rem-calc(12) !important;
//    right: rem-calc(12) !important;
//  }
//}
.mmodal-container {
  &.quantitySelector{
    width: rem-calc(300);

    @include breakpoint(sm) {
      width: rem-calc(350);
    }
    @include breakpoint(medium) {
      width: rem-calc(480);
    }
  }
}
