.switcher-slider-label {
  position: relative;
  display: block;
  padding: 2px 13px;
  background: #ffffff;
  border-radius: 20px;
  height: 28px;
  width: 80px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}
