.product-rating {
  font-size: rem-calc(14);

  @include breakpoint(md up) {
    font-size: rem-calc(18);
  }

  @include breakpoint(lg up) {
    font-size: rem-calc(16);
    width: rem-calc(340);
  }
}
