.sidebar-menu-link__old-current {
    font-weight: bold;
    color: #000000;
    cursor: default;
    transition: none;

    &:hover,
    &:visited {
        padding: rem-calc(5) rem-calc(5) rem-calc(9) rem-calc(7);
        text-decoration: none;
        color: #000000;
    }

    &:before {
        content: none;
    }

    &:after {
        width: 100%;
        left: 0;
    }
}
