@media only screen and (min-width: $break-normal) {
  #main_container{

    .container{
      .button-action{

        &:after{

        }
      }

      .list-info{

        &.list-info_bottom{

        }

        .list-info__title{
          margin-bottom: 6px;

        }

        .list-info__text-wrapper{
          padding-left: 6px;
        }

        .list-info__text-block{

          &:after{
          }

          .list-info__text{

          }

          .list-info__text_more{
          }

        }

        .list-info__read-more{

          &:after{
          }

          &:hover{
            &:after{

            }
          }
        }

        .list-info__brand-logo{
          padding-left: 0;
        }

        .list-info__text-wrapper{

        }

        &.full{

          .list-info__text {

            &:after{
            }
          }

          .list-info__text_more{

          }

          .list-info__read-more{

            .less{

            }

            .more{
            }

            &:after{
            }

            &:hover{

              &:after{
              }
            }
          }
        }

      }

      .breadcrumb-section{


        .breadcrumb{

          &:before{

          }

          .breadcrumb__item{


            &.current{

            }

            &:nth-child(n+3):before {

            }

            .breadcrumb__link{

            }
          }

        }
      }

      .title-section{


        .title {

        }

        .brand-page{

          img{

          }

          .brand-page__title-container{

            .title{

            }
          }

        }
      }

      .list-info_top{
        margin-bottom: 38px;

      }

      .search-result{

        .search-result__warning{

          .text_red{
          }
        }

        .search-result__caption{

          .highlighted__yellow{
          }
        }

        .search-result__related{

          ul{

            li{

              &:first-child{
              }

              a{

              }
            }
          }
        }
      }

      .subdepartments {

        &.open {
          .subdepartments__link {

            &:before {

            }

          }
        }

        .subdepartments__link {

          &:before {
          }

          &:after {

          }

        }

        .dropdown-menu{

          .subdepartments__list {


            &.hidden-xs {

            }

            li {

              &:last-child {

              }

              &:hover {
                a {
                }
              }

              a {

                .count {
                }
              }
            }
          }

          .subdepartments__see-all {

            &:hover {

              &:before {
              }
            }

            &:before {
            }
          }
        }

        .subdepartments__modal-all{

          .modal-dialog{

            .modal-content{

              .modal-header{

                .close{

                }

                .modal-title{

                }
              }

              .modal-body{

                .subdepartments__list{


                  li{

                    a{

                    }

                  }

                  &.hidden-xs {
                    li{

                    }
                  }

                }
              }
            }
          }
        }
      }

      .items{
        .button-group-actions{
          .col-offset-fixed{

          }



          .button-action-wrapper{

            &.open{
              .button-action {

              }
            }

            &.col-fixed{

            }

            .button-action{

              &:after{

              }

              &.button-filter-by{

              }

              &.button-sort-by{

              }


              &.button-switch-view{

                &:before{

                }

                &:after{

                }

                &:hover{
                  &:before{

                  }
                }

                &:focus{
                  &:before{

                  }
                }

                &.button-tile{
                  &:before{

                  }
                  &:hover{
                    &:before{

                    }
                  }
                  &:focus{
                    &:before{

                    }
                  }
                }
              }
            }

            .filter-by__modal {

            }


            .dropdown-menu {


              &.sort-by__list{


                li{


                  &.active{

                    a{

                      &:before{


                      }
                    }

                  }

                  &:hover{
                    a{
                    }
                  }

                  a{

                  }
                }
              }
            }
          }

        }

        .button-load-more-wrapper{

          .button-load-more {

            &:hover{
            }

            &:focus{
            }

            &:after{
            }
          }
        }

        .applied-filters{

          .applied-filters__list{

            &.applied-filters__list_sort{

            }

            li{
              a{

                &:before{

                }

                &:hover {
                  &:before{

                  }

                }

                .category{
                }
              }
            }
          }
        }

        .items__count{
          margin: 0 10px;
        }

        .items__list{
          margin: 0 10px 20px 10px;

          .item{


            .item__pic-container{

              a {

                .item__pic{

                }
              }
            }

            .item__info-container{
              padding-left: 40px;

              .item__caption {
                a{

                  &:hover, &:focus{
                  }

                  &:after{

                  }
                }
              }

              .item__description{

                .item__description_extend{
                  margin-right: 10px;
                }

                .item__description_see-details{

                }

                .item__description_parameters{

                  li{

                    .color-box{

                      &:first-child{

                      }

                      &.color-box_light-green{

                      }

                      &.color-box_blue{

                      }

                      &.color-box_purple{

                      }

                      &.color-box_orange{

                      }

                      &.color-box_red{

                      }

                      &.color-box_white{

                      }

                      &.color-box_grey{

                      }
                    }

                    .show-all-link{

                    }
                  }
                }
              }

              .item__price{

                .item__price_old{

                }

                .item__price_new{

                }
              }
            }

            .item__info-buy{
              padding-left: 17px;

              .item__price{

                .item__price_old{

                  .l-through{

                  }
                }

                .item__price_new{

                  .bold{

                  }

                }
              }

              .item__info-buy_quantity{
                width: 137px;

                .btn{

                  &:active{

                  }
                }

                .quantity_modify{

                  &.active{


                    &:hover{

                    }

                    &:active{

                    }
                  }

                }

                .quantity_dec{

                }

                .quantity_inc{

                }


                .quantity_input{

                  &:hover, &:focus{

                  }
                }
              }

              .item__info-buy_add{


                .item__info-buy_add-button {

                  &:before{
                  }

                  &:hover {

                  }

                  &:active {

                  }
                }
              }


              .item__info-buy_subtotal{

              }

              .item__info-buy_save{

              }
            }
          }

          &.tile-view{

            .item{
              width: 18.3%;
              padding: 0 0 23px 0;
              margin-right: 2.125%;

              .item__pic-container{

                .item__pic {

                }

              }


              &:nth-child(4n+1) {
                clear: none;
              }

              &:nth-child(3n+3) {
                margin-right: 2.125%;
              }

              &:nth-child(4n+4) {
                margin-right: 2.125%;
              }



              &:nth-child(5n+1) {
                clear: both;
              }

              &:nth-child(5n+5) {
                margin-right: 0;
              }
            }

            .item__info-container{
              padding-left: 0;

              .item__caption {

                a{

                  .item__caption_type{

                  }

                  &:after{

                  }
                }
              }

              .item__description{

              }

              .item__price{


                .item__price_old{
                }

                .item__price_new{

                }
              }
            }

            .item__info-buy{
              padding-left: 0;

              .item__price{

              }

              .item__info-buy_quantity{
                width: 65%;

                .btn-group{


                  .quantity_modify{

                  }

                  .quantity_input{

                  }
                }
              }

              .item__info-buy_add{
                .item__info-buy_add-button {

                  &:before{

                  }

                }

                .with-text{

                }

                .no-text{

                }
              }

              .item__info-buy_subtotal, .item__info-buy_save{

              }
            }



            &:after {

            }
          }
        }
      }
      .recently-viewed-wrapper{

        .up-btn{

        }
      }
    }
  }
}