@media only screen and (min-width: $break-small) {

  #main_container{
    .container{
      .banners-section{

        .promotion__active-wrapper{
          .promotion__frame{
            ul{
              .promotion__item{
                height: 210px;

                .slider-horizontal__item_link{
                  height: 261px;
                  background-position: 48% -53px;

                  .promotion__item_cover{
                    bottom: 20px;
                    line-height: 26px;
                    padding: 18px 9px 9px;

                    .promotion__item_caption{
                      font-size: 1.5rem;
                    }

                    .promotion__item_description{
                      font-size: 0.875rem;
                    }
                  }
                }
              }
            }
          }

          .promotion__pages{

            li{

            }
          }


        }

        .banner__product-of-the-day{
          .banner__product-of-the-day_link{
            .product-of-the-day_cover{
              .product-of-the-day__caption{

              }
            }
          }
        }

        .banner__bestsellers{
          .banner__bestsellers_link{
            .bestsellers_cover {
              .bestsellers__caption{

              }

              .bestsellers__description{

              }
            }
          }
        }

        .banner__whatsnew{
          .banner__whatsnew_link{
            .whatsnew_cover {
              .whatsnew__caption{

              }
            }
          }
        }
      }

      .slider-horizontal{
        margin: 0 9px 46px;

        .slider-horizontal__active-wrapper{

          &:hover{

            .slider-horizontal__controls{

            }

            .slider-horizontal__scrollbar{

              .slider-horizontal__scrollbar_handle{

                .slider-horizontal__scrollbar_mousearea{

                }
              }
            }
          }

          .slider-horizontal__frame{

            ul{
              .slider-horizontal__item{

                &:hover{
                }

                &:hover{
                  a{

                    &.slider-horizontal__item_quick-view{

                    }

                    &.slider-horizontal__item_add-to-cart{

                    }
                  }
                }

                a{
                  &.slider-horizontal__item_image-link{

                    .slider-horizontal__item_image{
                    }
                  }

                  &.slider-horizontal__item_quick-view{

                    &:before{

                    }

                    &:hover{

                    }

                    &:focus, &:active{

                    }
                  }

                }

                .slider-horizontal__item_caption{

                  a{

                    .slider-horizontal__item_caption-type{

                    }
                  }
                }

                .slider-horizontal__item_price{

                  .slider-horizontal__item_price-old{

                  }

                  .slider-horizontal__item_price-new{

                  }
                }
              }
            }
          }

          .slider-horizontal__controls{

            .slider-horizontal__controls_btn{
              top: 54px;

              &.slider-horizontal__controls_prev-page{

                &:hover{

                }
              }

              &.slider-horizontal__controls_next-page{

                &:hover{

                }
              }

              &.disabled{

              }
            }
          }

          .slider-horizontal__scrollbar{

            .slider-horizontal__scrollbar_handle{


              .slider-horizontal__scrollbar_mousearea{

              }
            }
          }
        }

        &.featured-products, &.whats-new, &.customers-who-bought-also-bought{

          .slider-horizontal__title{

          }

          .slider-horizontal__view-all{

          }

          .slider-horizontal__active-wrapper{

            &:hover{

              .slider-horizontal__controls{

              }

              .slider-horizontal__scrollbar{

                .slider-horizontal__scrollbar_handle{


                  .slider-horizontal__scrollbar_mousearea{

                  }
                }
              }
            }

            .slider-horizontal__frame{
              padding-bottom: 16px;

              ul{
                .slider-horizontal__item{
                  width: 168px;
                  margin-right: 18px;

                  &:hover{
                  }

                  &:hover{
                    a{

                      &.slider-horizontal__item_quick-view{

                      }
                    }
                  }


                  a{
                    &.slider-horizontal__item_image-link{
                      height: 190px;

                      .slider-horizontal__item_image{

                      }
                    }

                    &.slider-horizontal__item_quick-view{
                      top: 155px;

                      &:before{
                      }

                      &:hover{

                      }

                      &:focus, &:active{

                      }
                    }

                  }

                  .slider-horizontal__item_caption{

                    a{
                      font-size: 1rem;
                      line-height: 1.25rem;

                      .slider-horizontal__item_caption-type{

                      }
                    }
                  }

                  .slider-horizontal__item_price{

                    .slider-horizontal__item_price-old{
                      font-size: 0.875rem;
                    }

                    .slider-horizontal__item_price-new{
                      font-size: 1rem;
                    }
                  }
                }
              }
            }

            .slider-horizontal__controls{

              .slider-horizontal__controls_btn{

              }
            }

            .slider-horizontal__scrollbar{

              .slider-horizontal__scrollbar_handle{

                .slider-horizontal__scrollbar_mousearea{

                }
              }
            }
          }

        }

        &.brands{

          .slider-horizontal__active-wrapper{

            &:hover{

              .slider-horizontal__controls{
              }

              .slider-horizontal__scrollbar{

                .slider-horizontal__scrollbar_handle{

                  .slider-horizontal__scrollbar_mousearea{

                  }
                }
              }
            }

            .slider-horizontal__frame{

              ul{
                .slider-horizontal__item{
                  width: 105px;
                  margin-right: 11px;
                  padding: 3px 0 15px;

                  &:hover{

                  }

                  &:hover{
                    a{
                    }
                  }

                  a{
                    &.slider-horizontal__item_image-link{
                      height: 39px;

                      .slider-horizontal__item_image{
                      }
                    }

                  }
                }
              }
            }

            .slider-horizontal__controls{

              .slider-horizontal__controls_btn{
                top: 6px;

                &.slider-horizontal__controls_prev-page{

                  &:hover{

                  }
                }

                &.slider-horizontal__controls_next-page{

                  &:hover{

                  }
                }

                &.disabled{

                }
              }
            }

            .slider-horizontal__scrollbar{

              .slider-horizontal__scrollbar_handle{

                .slider-horizontal__scrollbar_mousearea{

                }
              }
            }
          }
        }

        &.recently-viewed{

          .slider-horizontal__active-wrapper{

            &:hover{

              .slider-horizontal__controls{
              }

              .slider-horizontal__scrollbar{

                .slider-horizontal__scrollbar_handle{

                  .slider-horizontal__scrollbar_mousearea{

                  }
                }
              }
            }

            .slider-horizontal__frame{

              ul{
                .slider-horizontal__item{
                  width: 68px;
                  margin-right: 8px;
                  padding: 0 2px;
                  height: 105px;

                  &:hover{

                  }

                  &:hover{
                    a{

                      &.slider-horizontal__item_add-to-cart{

                      }
                    }
                  }

                  a{
                    &.slider-horizontal__item_image-link{
                      height: 75px;

                      .slider-horizontal__item_image{
                      }
                    }

                    &.slider-horizontal__item_add-to-cart{
                      top: 60px;

                      &:hover {

                      }
                      &:active {

                      }
                    }

                  }


                }
              }
            }

            .slider-horizontal__controls{

              .slider-horizontal__controls_btn{
                top: 21px;

                &.slider-horizontal__controls_prev-page{

                  &:hover{

                  }
                }

                &.slider-horizontal__controls_next-page{


                  &:hover{

                  }
                }

                &.disabled{

                }
              }
            }

            .slider-horizontal__scrollbar{

              .slider-horizontal__scrollbar_handle{

                .slider-horizontal__scrollbar_mousearea{
                }
              }
            }
          }
        }
      }

      .recently-viewed-wrapper{

      }
    }
  }

}