.account-alert {
  width: 70%;
  color: black;
  border-radius: 0;
  border: none;
  padding: rem-calc(25) rem-calc(16);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
