#admin-menu-wrapper {
  /*position: fixed;*/
  /*bottom: 15px;*/
  /*right: 15px;*/
}
.main-menu {
  list-style: none;
  padding: 0;
  margin: 5px;
  font-size: 11px;

  .module {
    margin-bottom: 5px;

    .name {
      font-weight: 700 ;
    }
  }

  .items {
    padding: 0;
    margin: 3px 0;

    .item {
      list-style: none;
      padding: 0.2em 0.2em 0.2em 1em;
      /*display: inline-block;*/

      a, span {
        text-decoration: none;
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
