.hat-navigation-item-wrapper {
    padding: 0 rem-calc(5);
    height: rem-calc(53);

    @include breakpoint(md up) {
        padding: 0 rem-calc(10);
        height: rem-calc(80);
    }
}

.hat-navigation-item {
    background-position: center !important;
    height: 100% !important;
}

.hat-navigation_items-wrapper {
    margin: 0 rem-calc(-5);
}
