.decisions-lists__header {
  margin: rem-calc(18) 0 rem-calc(22) 0;

  @include breakpoint(md up) {
    margin: rem-calc(25) 0;
  }

  @include breakpoint(lg up) {
    margin: rem-calc(29) 0 rem-calc(29) rem-calc(25);
  }
}
