html {height:100%;}
body.verifiaction
{
    margin: 0;
    padding: 0;
    height:100%;
    overflow:hidden;
}

div.iframediv
{
    width: 100%;
    height: -webkit-calc(100% - 100px);
    height: -moz-calc(100% - 100px);
    height: calc(100% - 100px);
    margin-top: 100px;
    transition: width 0.1s ease 0s;
}
.iframediv.left {
    width: 100%;
    float:left;
}
.iframediv.right {
    width: 0;
    float:right;
}


iframe
{
    width: 100%;
    height:100%;
    border: 0;
    z-index: 0;
}
#header {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.72);
    color: #000000;
    min-height: 100px;
    left: 0;
    min-width: 990px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.buttons-wrap-left {
    width:50%;
    float: left;
    min-width: 780px;
    display: table;

}
.wrap-left{
    display: table-cell;
}
.buttons-wrap-right {
    width:50%;
    float: left;
    min-width: 700px;
}
.buttons-right{
    height: 100px;
    margin: 0 auto;
    width: 610px;
    text-align: center;
}

.ui.segment {
    padding:0;
    margin:0;
}
.ui.three.buttons, .ui.one.buttons {
    height: 50px;
    padding-top: 20px;
}
.ui.three.buttons {
    width: 400px;
}
.ui.one.buttons {
    width: 125px;
}
.ui.left.attached.button, .ui.right.attached.button{
    text-align: center;
}
.ui.select.buttons {
    padding-top: 20px;
    height: 50px;
    /*float:left;*/
}
.ui.left.button {
    border-radius: 0.285714rem 0 0 0.285714rem;
}
.ui.buttons .or{
    font-size: 12px;
    height: 50px;
}
.ui.form.comment {
    float:left;
    margin-left:20px;
    padding-top: 12px;
    width: 300px;
}
.ui.form.comment textarea{
    font-size: 12px;
    width: 100%;
    resize: both;
}
.ui.modal > .content {
    width: auto;
}
#original_product{
    width: 130px;
    border-radius: 0.285714rem;
    height: 100%;
}
#no_products{
    display: none;
    height: -webkit-calc(100% - 100px);
    height: -moz-calc(100% - 100px);
    height: calc(100% - 100px);
    margin-top: 20%;
    width:100%;
    text-align: center;
    font-size: 45px;
}
.ui.progress > .label
{
    font-size:10px;
}
.ui.progress .bar > .progress{
    right: 0;
}
.ui.active.progress .bar::after{
    animation: none;
}
#search_amazon_by_asin, #search_amazon_by_upc{
    display: none;
}
#batch_amount {
    font-size: 13px;
}
.ui.error.message {
    font-size: 13px;
}
.progress-wrap{
    float: right;
    right: 20px;
    width: 100px;
    top: 15px;
    font-family: Verdana;
    font-size: 13px;
    position: relative;
}
.progress-wrap > .label {
    margin-bottom: 4px;
}
#progress-indicator{
    height: 18px;
    font-size: 10px;
}
.buttons-wrap-left .form.ui.field{
    display: table-cell;
    width:160px;
    font-family: Verdana;
    font-size: 13px;
}
#negative_conclusion{
    color: #0000ff;
    cursor: pointer;
    text-decoration: underline;
}
.ui.modal .actions > .button{
    color:rgba(0, 0, 0, 1);
}
.test-batch-header{
    padding: 0.8rem 1.5rem 0;

}
.test-batch-header label {
    font-size: 1rem !important;
}
.ui.modal .actions > .button.positive{
    background-color: #e0e1e2!important;
}
.ui.popup {
    z-index: 13000;
    min-width: 475px;
    font-size: 0.875em;
    font-family: Verdana;
}
@media only screen and (max-width: 1559px) {
    div.iframediv {
        height: -webkit-calc(100% - 170px);
        height: -moz-calc(100% - 170px);
        height: calc(100% - 170px);
        margin-top: 170px;
        transition: width 0.1s ease 0s;
    }

    .buttons-wrap-left {
        width:100%;
    }
    .buttons-wrap-right {
        width:100%;
    }
}
.ui.steps .step .title {
    font-family: Verdana;
    font-size: 0.9em;
    margin-bottom: 0.1em;
}
.ui.steps .step label{
    font-family: Verdana;
}
.ui.steps .step .description, .ui.checkbox .box, .ui.checkbox label {
    font-size: 0.82em;
    margin: 0!important;
    cursor:pointer;
}

.ui.radio.checkbox .box::after, .ui.radio.checkbox label::after {
    top: 2px;
    width: 17px;
}
.ui.form .grouped.fields .field, .ui.form .grouped.inline.fields .field {
    margin: 0.05em 0;
}
.ui.mini.input label {
    width:75%;
    line-height: 2em;
}
.ui.mini.input input {
    padding:2px;
    text-align: right;
    width:1% !important;
}
.popup_drop_link{
    border-bottom: 1px dotted; color: #0000ff; text-decoration: none; font-family:Verdana;
}
.amazon_products_listed {
    width:140px;
    float:left;
    margin:0!important;
}
.conclusion_submit_button{
    margin-top:0.7em;
    float:right;
    margin-left:20px;
}
.conclusion_submit_button .button {
    float:left;
}
.conclusion_submit_button .menu{
    right:0;
    left:auto !important;
}
.conclusion_submit_button .ui.dropdown .menu > .item {
    padding: 0.68571429rem 1.94285714rem !important;
}
.action_not_same {
    background-color: #F2A3A8;
}
.question_not_same {
    background-color: #fff2cc;
}