.button {
    border-radius: 5px;
    min-height: 2em;
    text-align: center;
    padding: 0 .1875rem;
    min-width: 2em;
    display: inline-block
}

.button.yellow {
    background-color: #ffb400;
    border: 2px solid #ffb400;
    color: #000
}

.button.yellow-white {
    border: 2px solid #ffb400;
    background-color: #fefefe;
    color: #4a4949
}

.button.yellow-white:hover {
    background-color: #fff8e4
}

.button.yellow-white:active {
    background-color: #ffb400
}

.button.yellow-white.waves-effect:active {
    background-color: #fff8e4
}


.cart-quantity {
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    grid-area: price-option__quantity
}

@media print, screen and (min-width: 48em) {
    .cart-quantity__list {
        padding: 0 0 0 .9375rem
    }
}
