@import "styles/utils/Utils.module";

$items-in-viewport: 3;

.decisions-list-items {
  overflow-y: scroll;
  height: pxToRem(70*$items-in-viewport);

  @include breakpoint(md) {
    height: pxToRem(75*$items-in-viewport);
  }

  @include breakpoint(lg) {
    height: pxToRem(70*$items-in-viewport);
  }
}
