.product-price-advanced__tile {
    @include breakpoint(md up) {
        position: absolute;
        display: none;
        box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15);
        left: -1px;
        z-index: 1;
        background: white;
        border: 1px solid #b7b7b7;
        border-top: none;
        bottom: 0;
        width: calc(100% + 2px);
        transform: translateY(100%);
        padding: 0 rem-calc(15) rem-calc(15);
    }
}

@include breakpoint(md up) {
    .catalog-product:hover .product-price-advanced__tile {
        display: block;
        position: absolute;
        padding: 0 rem-calc(15) rem-calc(15);
    }
}

