.dialog-header{
  background-color: #F4F4F4;
  padding: 0px 5px 0px 22px;
  display: flex;
  align-items: center;
}

.dialog-header-label{
  font-size: 18px;
  font-weight: 700;
}

.dialog-header-cross{
  cursor: pointer;
  width: 63px;
}

.dialog-title{
  font-size: 24px;
  margin-bottom: 20px;
}