.form-radio input[type=radio] {
  display: none;
}
.form-radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 18px;
  width: 100%;
  user-select: none;
  padding: 10px 25px 10px 45px;
  margin: 0;
}

.form-radio-checked{
  background-color: #F4F4F4;
}
.form-radio label:before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  position: absolute;
  left: 10px;
  top: 9px;
  background: url("/static/frontend/dist/images/icons/account/radio.svg") no-repeat center / cover;
}

.form-radio input[type=radio]:checked + label:before {
  background: url("/static/frontend/dist/images/icons/account/radio-checked.svg") no-repeat center / cover;
}

.form-radio label:hover:before {
  filter: brightness(120%);
}

.form-radio input[type=radio]:disabled + label:before {
  filter: grayscale(100%);
}