###################################
## files with extensions to exclude
*.orig
*.tiff
*.log
www.*.xml
thumbs.db
Thumbs.db
.DS_Store
package-lock.json
###################################
## scripts to exclude
/app/config/*_local.php
/robots.txt
/modules/XPDF/dompdf/lib/fonts/log.htm
######################
## folders to exclude
/www/images/
/www/media/
/www/files/
/www/product_files/
/.idea/
/www/verificator/cookies/*
/www/include/system/
node_modules
/www/static/**/temp/
/www/skin1_kolin/pages/
/app/runtime/
!.gitkeep
/log/debug_cache/
/html_cache/
/app/Modules/Translate/lang/*.i18next.json
/www/static/frontend/dist
/www/static/frontend/versions
/www/static/frontend/bem/bem.scss
/www/static/backend/dist
/www/static/backend/versions
/www/static/backend/bem/bem.scss
/app/include/vendors
!/skin1_kolin/
/docker/mysql/data/
/docker/redis/data/
/docker/certbot/сonf/
