###################################
## files with extensions to exclude
*.tiff
*.log
*.mmdb
www.*.xml
thumbs.db
Thumbs.db
.DS_Store
package-lock.json
composer.lock
###################################
## scripts to exclude
/app/config/*_local.php
/robots.txt
/modules/XPDF/dompdf/lib/fonts/log.htm
######################
## folders to exclude
/www/images/
/www/media/
/www/m1/
/www/files/
/www/product_files/
/.idea/
/www/verificator/cookies
/www/var/
/www/include/system/
node_modules
bower_components
/www/static/**/temp/
/www/skin1_kolin/pages/
/app/runtime/

!.gitkeep
!/config.php
!/skin1_kolin/