###################################
## files with extensions to exclude
*.pdf
*.jpg
*.png
*.bmp
*.jpeg
*.gif
*.tiff
*.log
*.*.201*.php
/logs.txt
www.*_*.xml
thumbs.db
Thumbs.db
*.cur
###################################
## scripts to exclude
/robots.txt.php
/modules/Multiple_Storefronts/init.php
/modules/Multiple_Storefronts/config.php
#/init.php
/config.php
/config.local.php
/robots.txt
/test.php
/modules/XPDF/dompdf/lib/fonts/log.htm
######################
## folders to exclude
/images/**
/.pgp.def/**
/upgrade/**
/.pgp/**
/ioncube/**
/livehelp/**
/ads_switch/**
/brushes/**
/brushmaking/**
/ki/**
/kolonok/**
/lh/**
/links/**
/make-up/**
/menu/**
/pictures/**
/prices/**
/reviews/**
/rs/**
/wc/**
/dymkovo-figurines/**
/dymkovofigurines/**
/art-teachers/**
/research/**
/m1/**
/cc/**
/artlessons/**
/cgi-bin/**
/tmp/**
/ads/**
/sql/**
/var/**
/backup/**
/qt/**
/woodenboxes/**
/files/**
/product_files/**
/shipping/*.txt
/product_files/
/files/
/.idea/**
/verificator/cookies
/include/system/
/testDF78KL54AS01.php
node_modules
/skin1_kolin/pages/