.products-slider-image-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: rem-calc(174);
  max-width: 100%;
  width: 100%;
  line-height: normal;

  &:hover {
    text-decoration: none;
  }
}
.products-slider-images-group {
  height: 100%;
}