.label-create-color-block {
  margin: 10px;
}

.example-create-label-wrapper {
  background-color: #ffc107;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  width: max-content;
}

.example-create-label-text {
  color: #f8f9fa;
  font-size: 12px;
  line-height: 14px;
}