.product-card-sku {
    margin: 5px 0;
    line-height: 1.1;
    font: {
        size: rem-calc(16);
    };

    .value {
        color: $forest_green;
        text-transform: uppercase;
        font: {
            weight: 400;
        }
    }

    .has-tip {
        width: 19px;
        height: 19px;
        line-height: 1.3;
        color: $white;
        background-color: #cfcfcf;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        text-align: center;
        display: inline-block;
        border: none;
    }
}
