.product-card-brand {
    @include breakpoint(medium down) {
        font: {
            size: rem-calc(14)
        }
    }

    @include breakpoint(small down) {
        font: {
            size: rem-calc(12)
        }
    }
}
