.button_outline {
    font-size: rem-calc(13);
    border: rem-calc(1) solid #ffb400;
    border-radius: rem-calc(2);
    padding: rem-calc(2) rem-calc(18);
    background: #ffffff;
    height: rem-calc(21);
}
