.order-item-body-product-container, .order-item-body-product-left-part{
  display: flex;
}

.order-item-body-product-container{
  justify-content: space-between;
  margin-bottom: rem-calc(30);
}

.order-item-body-product-img{
  width: 42px;
  height: 42px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: rem-calc(20);
}

.order-item-body-product-right-part-text{
  white-space: nowrap;
}

.order-items-list{
  overflow: hidden;
  transition: .3s all linear;
}

.order-item-body-product-name, .order-item-body-product-sku{
  font-size: 16px;
}

.order-item-body-product-name{
  color: #075A91;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.order-item-body-product-sku{
  color: #009317;
}

.order-product{
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;

  &:last-child{
    border-bottom: 0;
  }
}

.order-products{
  width: 100%;
}

.order-product-select-count{
  width: 70px !important;
}


.order-product-select-action{
  width: 100% !important;
}

.order-product-select-action-header{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}