@import "styles/utils/Utils.module";

.userIcon {
  width: pxToRem(45);
  height: initial;

  @include breakpoint(lg) {
    width: pxToRem(20);
  }
}

.userAvatar {
  width: pxToRem(55);
  height: auto;
  border-radius: 100px;

  @include breakpoint(lg) {
    width: pxToRem(30);
  }
}

.hatLoginButton {
  $bgColor: #145f8b;
  position: relative;
  background-color: $bgColor;
  color: $white;
  height: pxToRem(50);
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.15s ease-out;
  text-decoration: none;
  padding: 0 pxToRem(26);
  width: pxToRem(180);

  &:hover {
    background-color: darken($bgColor, 2%);
  }

  &:active,
  &:focus {
    background-color: darken($bgColor, 4%);
  }

  &:hover, &:focus {
    color: $white;
  }
}
