@import "styles/utils/Utils.module";

.userIcon {
  width: pxToRem(45);
  height: initial;

  @include breakpoint(lg) {
    width: pxToRem(20);
  }
}

.userAvatar {
  width: pxToRem(55);
  height: auto;
  border-radius: 100px;

  @include breakpoint(lg) {
    width: pxToRem(30);
  }
}
