@import "styles/utils/Utils.module";

.pageHeader {
  text-align: center;
  font-weight: bold;
  font-size: pxToRem(22);
  line-height: 1;

  @include breakpoint(md) {
    font-size: pxToRem(30);
  }

  @include breakpoint(lg) {
    text-align: left;
    font-size: pxToRem(24);
  }
}

.accountPageHat {
  padding: pxToRem(18) pxToRem(0) pxToRem(22);

  @include breakpoint(md) {
    padding: 0 pxToRem(24) pxToRem(27);
  }

  @include breakpoint(lg) {
    padding: 0 pxToRem(24) pxToRem(23);
  }
}

.accountPageHat__mobile {
  padding: pxToRem(18) pxToRem(14);
}

.accountPageBody {
  @include breakpoint(md) {
    padding: pxToRem(24) pxToRem(20) pxToRem(16);
  }

  @include breakpoint(lg) {
    padding: 0 pxToRem(24);
  }
}

.accountPageFooter {
  padding: pxToRem(26) 0 0;

  @include breakpoint(md) {
    padding: pxToRem(30) pxToRem(20) 0;
  }

  @include breakpoint(lg) {
    padding: pxToRem(24) pxToRem(24) 0;
  }
}
