/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * General CSS stylesheet for storefront pages
 * 
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    $Id: main.css,v 1.56.2.1 2010/08/16 07:16:11 igoryan Exp $
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

html,
body
{
  width: 655px;
  min-width: 655px;
  text-align: left;
  padding-left: 35px;
  padding-right: 35px
}

html,
body
{
  background-color: #ffffff;
  background-image: none;
  font-family: Verdana,Arial,Helvetica,Sans-serif;
  font-size: 12px;
}

table {
  border-spacing: 0px;
}

/**
 * Invoice
 */
.order-invoice {
  width: 100%;
  border: 0px none;
}

.order-invoice-next {
  page-break-before: always;
}

.invoice-company-icon {
  padding-top: 0px;
  width: 189px;
}

.invoice-company-icon img {
  margin-top: 20px;
  width: 159px;
  height: 51px;
}

.invoice-data-box {
  padding-left: 0px;
  width: 516px;
}

.invoice-products tr th,
.invoice-totals tr .invoice-total-name-fin,
.invoice-totals tr .invoice-total-value-fin
{
  background-color: #ccc;
}

.invoice-products tr th {
  width: 345px;
}

.invoice-products tr th.invoice-sku-column,
.invoice-products tr th.invoice-quantity-column,
.invoice-products tr th.invoice-total-column
{
  width: auto;
}

td.invoice-line img {
  background-color: #58595b;
}

.invoice-address-box .invoice-address-title,
.invoice-address-box td.invoice-line img
{
  width: 327px;
}

.invoice-address-box .invoice-address-separator {
  width: 50px;
}

HR {
        COLOR: #999999;
        HEIGHT: 1px;
}

hr.invoice-line {
  margin: 2px 0px 0px 0px;
  border-width: 1px;
}

.invoice-totals tr .invoice-total-name,
.invoice-totals tr .invoice-total-name-fin,
.invoice-totals tr .invoice-line-1 img
{
  width: 605px;
}

.invoice-total-value,
.invoice-totals tr .invoice-total-value-fin,
.invoice-totals tr .invoice-line-2 img
{
  width: 100px;
}

.invoice-totals tr td.invoice-line {
  width: auto;
}

.invoice-personal-info {
  padding-bottom: 15px;
  padding-top: 17px;
  margin-bottom: 0px;
}

table.invoice-products {
  border-spacing: 1px;
  background-color: #000;
}

table.invoice-products td {
  background-color: #fff;
}

.invoice-customer-notes div {
  height: auto;
  overflow: auto;
}

.invoice-giftcerts .invoice-giftcert-id {
  width: 120px;
}

.invoice-giftcerts .invoice-giftcert-cost {
  width: 599px;
}

.xpdf-border {
  background-color: #000000;
  border-spacing: 1px;
}

.xpdf-border th,
.xpdf-border td
{
  background-color: #ffffff;
}

.xpdf-no-border th,
.xpdf-no-border td
{
  border-style: none;
}
