.switcher-slider-background {
  width: calc(260% + 10px);
  position: absolute;
  height: calc(100% + 10px);
  background: linear-gradient(-90deg, #1ca839 40%, #3691d3 60%);
  top: rem-calc(-5);
  left: -137px;
  z-index: 0;
}
