.products-order-item-title{
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.products-order-item-header{
  padding: 14px 24px;
  background-color: #F4F4F4;
}

.products-order-item, .products-order-item-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-order-item-header-sku{
  width: 50%;
}

.products-order-item-header-extended, .products-order-item-header-qty, .products-order-item-header-price{
  width: 15%;
  text-align: center;
}

.products-order-item-header-extended{
  text-align: right;
}

.products-order-item-transaction-total{
  padding-right: 40px;
}

.products-order-item{
  padding: 26px 24px;
  border-bottom: 1px solid #C4C4C4;

  &:last-child{
    border: 0;
  }
}

.products-ordered-total{
  padding: 0 !important;
}

.product-ordered-total-right{
  width: 245px !important;
}

@media (max-width: 1400px) {
  .product-ordered-total-right{
    width: 200px !important;
  }
}


@media (max-width: 1200px) {
  .products-ordered-label{
    text-align: center;
  }

  .product-ordered-total-right{
    width: 270px !important;
  }

  .product-ordered-total-container-spacing{
    justify-content: space-between !important;
  }

  .product-ordered-total-left{
    display: block !important;
    width: 100% !important;
  }

  .product-ordered-total-container{
    flex-direction: column;
  }

}

@media (max-width: 768px) {
  .product-ordered-total-left {
    padding-top: 15px;
    background-color: #F8F8F8;
  }

  .product-ordered-total-container{
    padding: 10px 0;
    }

  .product-ordered-total-right, .product-ordered-total-left{
    padding: 0 10px;
  }

  .product-ordered-total-left{
    padding-top: 15px;
    margin-bottom: 10px;
  }

  .product-ordered-extended-mobile{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .products-order-item-header-sku{
    width: 100%;
  }

  .products-order-item-header-price{
    width: auto;
  }
  .table-content-mobile{
    width: 100%;
  }

  .products-order-item{
    padding-bottom: 10px;
  }

}