.time-item {
    display: inline-block;
    text-align: center;

    &:nth-child(2) {
        color: #8a8a8a;
    }
}

.time-list_item {
    margin: 0 rem-calc(24) 0 0;

    &:last-child {
        margin: 0;
    }
}

.time-number {
    display: block;
    font-size: rem-calc(24);
    font-weight: bold;
}

.time-cation {
    display: block;
    font-size: rem-calc(13);
}
