@import "settings";
@import "__cds_index";
@import "utils/bootstrap-extends";
@import "node_modules/bootstrap/dist/css/bootstrap.min";
@import "node_modules/jquery-ui-dist/jquery-ui";
@import "node_modules/select2/dist/css/select2";
@import "node_modules/air-datepicker/dist/css/datepicker";
@import "vendors/mmodal";
@import "vendors/modal";
@import "vendors/mnotify";
@import "vendors/mtooltip";

@import "admin";

@import "mixins/base";

@import "base/layout";
@import "base/defaults";
@import "base/buttons";
@import "base/forms";
@import "base/breadcrumbs";
@import "base/typo";
@import "base/heading";
@import "base/modal";

@import "parts/list";
@import "parts/confirm";
@import "parts/flash";
@import "parts/main_menu";
@import "parts/sa_block";
@import "parts/fieldset";
@import "parts/pager";
@import "parts/char_navigator";
@import "parts/shapeshift";
@import "parts/i_icons";

@import "pages/login";
@import "pages/admin";
@import "pages/all";
@import "pages/email_all";
@import "pages/info";
@import "pages/form";
@import "pages/search";
@import "pages/dashboard";
@import "pages/report";
@import "pages/brand";
@import "pages/product_group";
@import "pages/amazon_restocking";

@import "blocks/blocks";
@import "../static/local_modules/mindy-sass/mindy/_functions";
@import "../fonts/GothamPro/css/GothamPro";
@import "../fonts/lato";
@import "../fonts/icons/css/style";
@import "../bem/bem";

html, body {
    font-size: initial;
}

.admin-main-content,
.VertMenuBorder,
.headSearchLine,
.select2-container {
    font-size: 13px;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1310px;
    }
}

.OrderSheet, .OrderSheet td{
    border: 1px solid #000000;
}