.list-block {
  .list-wrapper {
    table {
      tbody {
        tr {
          border-bottom: 1px solid #DFDFDF;

          &:nth-child(2n) {
            background-color: inherit;
          }

          &.child {
            background-color: #e1e5ed;
            display:none;
          }
        }
      }
    }
  }
}