.form-input {
    border: 1px solid #C4C4C4;
    padding: 0 rem-calc(14);
    width: 100%;
    line-height: rem-calc(32);
    border-radius: 0;
    height: rem-calc(38);

    @include breakpoint(md up) {
        height: rem-calc(42);
    }

    @include breakpoint(lg up) {
        height: rem-calc(34);
    }

    &::placeholder{
        font-style: italic;
        font-size: 14px;
        color: #959595;
    }

    &:focus {
        border-color: #f2b405;
        box-shadow: 0 0 0 0.2rem rgba(242, 180, 5, 0.34);
    }

    &.is-invalid, &.is-valid {
        background: none;
    }
}
