.table-head__fraud-check-question {
  background-color: #eaeaea;
  text-align: center;
}

.table-item-positive__fraud-check-question {
  background-color: #D9EAD3;
  color: black;
  font-size: 13px;
}

.table-item-negative__fraud-check-question {
  background-color: #F4CCCC;
  color: black;
  font-size: 13px;
}


.answer-matrix-detail-text,
.question-matrix-detail-text{
  cursor: pointer;
  line-height: 12px;
  width: 32px;
  color: blue;
  border-bottom: 1px dotted;
  text-decoration: none;
}

.table-item-wrapper-red {
  background-color: #f4cccc;
}

.table-item-wrapper-blue {
  background-color: #cfe2f3;
}

.table-item-wrapper-green {
  background-color: #d9ead3;
}
.question-code-header-item{
  max-width: 90px;
  min-width: 90px;
  word-wrap: break-word;
}
.question-info-header-item {
  width: 777px;
}
.table-question-fraud-check{
  border: black;
}
.center-header-item{
  text-align: center;
}
.redundant-text{
  background-color: #d9d9d9;
  color: black;
}
.header-item-question-code {
  width: 89px;
}
.row-type-question {
  width: 50px
}
.row-outcome {
  width: 65px
}