.checkout-form__submit-button {
  margin: 26px 0 0 0;
}

@include breakpoint(md up) {
  .checkout-form__submit-button {
    margin: 36px 0 0 0;
  }
}

@include breakpoint(lg up) {
  .checkout-form__submit-button {
    margin: 50px 0 0 0;
  }
}
