.search-line-menu-hat {
    height: rem-calc(45);
    padding: 0 rem-calc(38) 0 rem-calc(21);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
