.add-to-cart-button-wrapper {
  flex-grow: 1;
  display: none;
}

@include breakpoint(md up) {
  .add-to-cart-button-wrapper {
    flex-grow: 0;
  }
}

@include breakpoint(lg up) {
  .add-to-cart-button-wrapper {
    flex-grow: 1;
  }
}
