.left-logo-cart{
  display: inline-block;
  width: 15px;
  height: 35px;
  line-height: 3.125rem;
  vertical-align: middle;
  background-image: url('/static/frontend/images/icons/header/svg-editor-image_left.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.center-logo-cart {
  display: inline-block;
  position: relative;
  line-height: 3.125rem;
  vertical-align: middle;
  background-image: url(/static/frontend/images/icons/header/center_cart_icon.svg);
  background-repeat: repeat-x;
  background-position: 100%;
  background-size: 10px;
}
.right-logo-cart{
  display: inline-block;
  width: 19px;
  height: 35px;
  line-height: 3.125rem;
  vertical-align: middle;
  background-image: url('/static/frontend/images/icons/header/right_cart_icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.count-text-cart {
  position: relative;
  bottom: 7px;
}
.header-info-cart{
  @include active-triangle(5px, 5px);
}