.left-logo-cart{
  display: inline-block;
  width: rem-calc(12);
  height: rem-calc(28);
  line-height: 3.125rem;
  vertical-align: middle;
  background-image: url('/static/frontend/images/icons/header/left_cart_icon.svg');
  background-repeat: no-repeat;
}
.center-logo-cart {
  display: inline-block;
  position: relative;
  line-height: 3.125rem;
  vertical-align: middle;
  background-image: url('/static/frontend/images/icons/header/center_cart_icon.svg');
  background-repeat: repeat-x;
  min-width: rem-calc(12);
  height: rem-calc(28);
}
.right-logo-cart{
  display: inline-block;
  width: rem-calc(19);
  height: rem-calc(28);
  line-height: 3.125rem;
  vertical-align: middle;
  background-image: url('/static/frontend/images/icons/header/right_cart_icon.svg');
  background-repeat: no-repeat;
  position: relative;
}
.count-text-cart {
  position: relative;
  bottom: rem-calc(18);
  font-size: rem-calc(19);
}
.header-info-cart{
  @include active-triangle(5px, 5px);
}