.left-logo-cart{
  display: inline-block;
  width: 12px;
  height: 28px;
  line-height: 3.125rem;
  vertical-align: middle;
  background-image: url('/static/frontend/images/icons/header/left_cart_icon.svg');
  background-repeat: no-repeat;
}
.center-logo-cart {
  display: inline-block;
  position: relative;
  line-height: 3.125rem;
  vertical-align: middle;
  background-image: url('/static/frontend/images/icons/header/center_cart_icon.svg');
  background-repeat: repeat-x;
  min-width: 12px;
  height: 28px;
}
.right-logo-cart{
  display: inline-block;
  width: 19px;
  height: 28px;
  line-height: 3.125rem;
  vertical-align: middle;
  background-image: url('/static/frontend/images/icons/header/right_cart_icon.svg');
  background-repeat: no-repeat;
  position: relative;
}
.count-text-cart {
  position: relative;
  bottom: 18px;
}
.header-info-cart{
  @include active-triangle(5px, 5px);
}