.common-scrollbar {
  &::-webkit-scrollbar {
    width: rem-calc(7);
    background-color: #f8f9fa;
    padding: rem-calc(5);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: rem-calc(10);
    background-color: #d9d9d9;
  }
}
