.title-wrapper__fraud-check-question {
  background-color: #ffebb2;
  width: 100%;
  padding: 7px 5px;

  .title__fraud-check-question {
    font-size: 18px;
    color: black;
  }
}
.table-wrapper__fraud-check-question{
  width: 95%;
  margin: 10px 0;
  table {
    border: #c5c5c5;
    width: 100%;
  }
  .value-link {
    color: blue;
  }
}
.fraud-check-button-appply{
  margin-top: 10px;
  margin-bottom: 15px;
}
.fraud-info-status-block{
  margin-bottom: 15px;
}