.title-wrapper__fraud-check-question {
  background-color: #ffebb2;
  width: 100%;
  padding: 7px 5px;

  .title__fraud-check-question {
    font-size: 18px;
    color: black;
  }
}

.table-wrapper__fraud-check-question {
  width: 95%;
  margin: 10px 0;

  table {
    border: #c5c5c5;
    width: 100%;
  }

  .value-link {
    line-height: 20px;
    color: blue;
    border-bottom: 1px solid blue;
    text-decoration: none !important;
  }
}

.fraud-info-status-block {
  margin-bottom: 15px;
}

.fraud-check-button-apply {
  margin-bottom: 24px;
}