.form-button__outline {
    border: 1px solid #ffb500;
    color: #4a4949;
    background-color: #ffffff;

    &:hover, &:focus {
        background-color: #fffaef;
    }

    &:active {
        background-color: #fff3d7;
    }

    &:hover, &:active, &:focus {
        color: #000000;
    }
}
