.footer-scroll-up-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 48px;
  background: #2f4956;
  box-shadow: 0 1px 4px 2px #0f1d25;
  border-radius: 2px;
  padding: 6px 0;
}

.footer-scroll-up-button:active {
  background: #3d5c6c;
}