@import "styles/utils/Utils.module";

.addAddressCheckbox {
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;
}

.addAddressInputContainer {
  display: flex;
  justify-content: flex-end;
}
