@import "styles/utils/Utils.module";

.address {
  width: 300px;
  height: 100%;
  min-height: 242px;

  @include breakpoint(md) {
    width: 323px;
  }
}

.addressContent {
  padding: 30px 24px 29px;
  height: 100%;
}

.addressContent_default {
  padding: 0 24px 29px;
}
