.form-select-item {
  position: relative;
  padding: 0 rem-calc(15);
  cursor: pointer;
  list-style-type: none;
  font-size: rem-calc(13);
  overflow: hidden;
  white-space: nowrap;

  height: rem-calc(38);
  line-height: rem-calc(38);

  &:hover {
    background-color: #f1f1f1;
  }

  @include breakpoint(md up) {
    height: rem-calc(42);
    line-height: rem-calc(42);
  }

  @include breakpoint(lg up) {
    height: rem-calc(34);
    line-height: rem-calc(34);
  }
}
