.edit-idea-btns{
  display: flex;
}

.list-input-edit-idea{
  margin-bottom: 0;
  margin-right: 10px;
  width: 100%;
}

.edit-idea-form{
  display: flex;
}

.edit-idea-form-input{
  width: 100%;
  margin-bottom: rem-calc(18) !important;
}

.edit-idea-text-container{
  display: flex;
  align-items: center;
}

.edit-idea-ellipsis{
  margin-top: 10px;
  display: none;
  cursor: pointer;
}

.confirm-edit-idea-btn{
  margin-right: 10px !important;
}

.add-comment-text{
  font-size: 14px;
}

@media (max-width: 1200px) {
  .edit-idea-form{
    flex-direction: column !important;
    align-items: baseline !important;
  }

  .edit-idea-form-input{
    margin-bottom: rem-calc(14) !important;
  }

  .list-input-edit-idea{
    margin-right: 0 !important;
  }

  .edit-idea-btns{
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }

  .confirm-edit-idea-btn{
    margin-right: 0 !important;
    margin-bottom: 10px !important;
  }

}

@media (max-width: 1050px) {
  .edit-idea-form-input{
    margin-bottom: rem-calc(12) !important;
  }

  .edit-idea-btns{
    flex-direction: row;
  }

  .confirm-edit-idea-btn{
    margin-bottom: 0 !important;
    margin-right: 10px !important;
  }
}

@media (max-width: 768px) {
  .add-comment-text{
    display: none;
  }

  .edit-idea-text-container{
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .edit-idea-ellipsis{
    display: block;
  }
}