.lists-sidebar-label-content{
  width: 100%;
}

.lists-sidebar-label-text{
  width: 80%;
  word-break: break-word;
}

.sidebar-menu-item__lists{
  height: auto !important;
  padding: rem-calc(10) rem-calc(30);
}