.accordion-trigger {
  background-color: #ffebb2;
  height: rem-calc(40);
  padding: 0 rem-calc(41);
  align-items: center;
  position: relative;
  cursor: pointer;
}

.distributor-reference-header {
  font-size: rem-calc(20);
  font-weight: 700;
  margin: 0;
}

.last-order-history-link{
  font-weight: 400;
}

.common-link {
  color: #000000;

  &:hover, &:active, &:visited {
    color: #000000;
  }
}

.distributors-link {
  font-size: rem-calc(15);
}
