@import "styles/utils/Utils.module";

.card {
  box-shadow: 0 0 pxToRem(4) rgb(0 0 0 / 25%);
  border-radius: pxToRem(4);
  width: 100%;

  @include breakpoint(sm) {
    height: 100%;
  }
}

.card_radio {
  transition: background-color 0.2s ease-out;

  &:hover {
    background: #fffbee;
  }

  &:active {
    background: #fff8e0;
  }
}

.card_radio_active {
  background-color: #fff8e0;

  &:hover {
    background: #fff8e0;
  }
}

.radioMarker {
  background-color: transparent;
}

.cardBody {
  padding: pxToRem(15) pxToRem(11) pxToRem(31);
  height: 100%;

  @include breakpoint(md) {
    padding: pxToRem(19) pxToRem(21) pxToRem(39);
  }

  @include breakpoint(lg) {
    padding: pxToRem(19) pxToRem(25) pxToRem(37);
  }
}

.cursor_pointer {
  cursor: pointer;
}
