@import "styles/utils/Utils.module";

@mixin slideTransition($props...) {
  transition: 0.3s ease-out;
  transition-property: $props;
}


.background {
  width: calc(260% + 10px);
  position: absolute;
  height: calc(100% + 10px);
  background: linear-gradient(-90deg, #1ca839 40%, #3691d3 60%);
  top: pxToRem(-5);
  z-index: 0;

  @include slideTransition(left);
}

.background_enabled {
  left: pxToRem(-137);
}

.background_disabled {
  left: pxToRem(-3);
}


.caption {
  position: absolute;
  color: #ffffff;
  text-transform: capitalize;
  font-size: pxToRem(18);
  z-index: 3;

  @include slideTransition(left, right, opacity);
}

.caption_enabledActive {
  left: pxToRem(13);
  opacity: 1;
}

.caption_enabledInactive {
  left: pxToRem(-37);
  opacity: 0;
}

.caption_disabledActive {
  right: pxToRem(13);
  opacity: 1;
}

.caption_disabledInactive {
  right: pxToRem(-37);
  opacity: 0;
}


.ball {
  position: absolute;
  top: pxToRem(2);
  display: block;
  width: pxToRem(24);
  height: pxToRem(24);
  background: #ffffff;
  border-radius: pxToRem(13);
  z-index: 3;
  box-shadow: 0 pxToRem(3) pxToRem(3) pxToRem(-1) rgba(0,0,0,0.38);

  @include slideTransition(left);
}

.ball_enabled {
  left: pxToRem(54);
}

.ball_disabled {
  left: pxToRem(2);
}


.label {
  position: relative;
  display: block;
  background: #ffffff;
  border-radius: pxToRem(20);
  height: pxToRem(28);
  width: pxToRem(80);
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}


.border {
  padding: pxToRem(2);
  display: inline-block;
  border-radius: pxToRem(100);
  background: linear-gradient(180deg, #cbcccb, #ececec);
}
