.section-link {
    text-decoration: none;
    color: #494949;
    display: inline-block;
    line-height: rem-calc(20);
    font-size: rem-calc(13);

    &:visited {
        color: #494949;
    }

    &:hover {
        color: #000000;
    }
}
