.departments-menu-mobile-accordion-header {
  padding: rem-calc(8) rem-calc(16);
  background-color: rgba(0, 0, 0, .03);
  border-top: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  border-bottom: 0;
  height: rem-calc(52);
}
