.add-new-payment-method-container{
  border: 1px solid #C4C4C4;
  padding: 23px 25px 33px;
  display: flex;
  justify-content: space-between;
}

.add-new-payment{
  max-width: 265px !important;
}

.add-new-payment-input{
  width: 60%;
}

.add-new-payment-select{
  width: auto;
  margin-right: 5px;
}


@media (max-width: 768px) {
  .add-new-payment-method-container{
    flex-direction: column-reverse;
  }

  .add-new-payment{
    margin-top: 15px!important;
  }
}

@media (max-width: 400px) {
  .add-new-payment-method-container{
    border: 0;
    padding: 0;
  }

  .add-new-payment{
    max-width: 100% !important;
    width: 100% !important;
    margin-top: 15px!important;
  }
}