.cart-table-row_product {
  display: grid;
  grid-template-areas: "grid-image grid-title cell12 cell13 grid-remove" "cell21 grid-counter grid-multiplier grid-price cell25";
  padding: 10px 0;
  grid-template-columns: auto 50px 26px 1fr 1fr;
  grid-row-gap: 7px;
  grid-column-gap: 5px;
  border-bottom: 1px solid #e1e1e1;
}

/*grid-* -- grid cell classes*/

.grid-image {
  grid-area: grid-image;
}

.grid-title {
  grid-area: grid-title;
  grid-column: 2/4;
  align-self: flex-start;
}

.grid-remove {
  grid-area: grid-remove;
  align-self: flex-start;
  justify-self: flex-end;
}

.grid-counter {
  grid-area: grid-counter;
}

.grid-multiplier {
  grid-area: grid-multiplier;
}

.grid-price {
  grid-area: grid-price;
}

.grid-sku {
  grid-area: grid-sku;
}

.cart-table-row_product:last-child {
  padding: 0 0 10px 0;
}

.cart-table-row_product:last-child {
  border-bottom: none;
  padding: 10px 0 20px;
}

@include breakpoint(md up) {
  .cart-table-row_product {
    grid-template-areas: "grid-image grid-title grid-remove grid-counter grid-multiplier grid-price";
    grid-template-columns: auto 1fr 111px auto 46px 1fr;
  }

  .grid-image {
    grid-row: 1/2;
  }

  .grid-remove {
    justify-self: center;
    align-self: center;
  }
  .grid-title {
    align-self: center;
  }
  .grid-multiplier {
    justify-content: center;
  }
}
