.common-field {
  width: 100%;
  box-shadow: none;
  border: 1px solid #c4c4c4;
  padding: 0 .625rem;
  font-size: 1.0625rem;
  line-height: 2.25rem;
  height: 2.375rem;
  vertical-align: middle;
  color: #272727;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  background: #fefefe;
  border-radius: 0;
}

.common-field::placeholder {
  font-style: italic;
  color: #969696;
}