.navigation-login-button-arrow {
    background-image: url("/static/frontend/dist/images/icons/account/arrow-drop-down-white.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: rem-calc(20);
    height: rem-calc(12);
}
