.checkout-left-column {
  padding: 0 20px;
}

@include breakpoint(md up) {
  .checkout-left-column {
    padding-right: .625rem;
    padding-left: .625rem;
  }
}

@include breakpoint(lg up) {
  .checkout-left-column{
    padding-right: 80px !important;
  }
}
