.add-to-cart-button-add {
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
  line-height: rem-calc(42);
  height: rem-calc(42);
  font: {
    size: rem-calc(18);
    weight: 900;
  }
}

.add-to-cart-button-add:before {
  content: url("../../dist/images/icons/add_to_cart.svg");
  display: inline-block;
  width: rem-calc(35);
  height: rem-calc(27);
  background-size: 90%;
  vertical-align: text-bottom;
}

@include breakpoint(md up) {
  .add-to-cart-button-add {
    flex-grow: 0;
    width: 100%;
  }
}