.bread-crumbs{
  color: #C4C4C4;
  cursor: pointer;
  &:hover{
    color: #898989;
  }
  &-last{
    color: black;
    cursor: text;
    &:hover{
      color: black;
    }
  }

  &-container{
    margin-bottom: 26px;
    margin-top: 16px;
  }
}