.checkout-phone-ext-long-hint {
  display: flex;
  align-items: center;
  padding: 0 5px;
  color: black;

  @include breakpoint(md up) {
    font-size: rem-calc(18);
    font-weight: 400;
  }

  @include breakpoint(lg up) {
    font-size: rem-calc(16);
    font-weight: 700;
  }
}
