@import "styles/utils/Utils.module";

.snack {
  display: none;
  transition: all 0.2s;
}

.snack_open {
  display: block;
}

.alertIcon {
  left: auto;
  transform: translate(calc(-100% - 2px), 0px);

  @include breakpoint(lg) {
    transform: translate(calc(-100% - 6px), 0px);
  }
}
.alertContent {
  white-space: pre-line;
}
