.form-input-label {
    font-weight: 700;
    font-size: rem-calc(14);
    color: #000000;
    position: relative;

    @include breakpoint(md up) {
        font-size: rem-calc(18);
    }

    @include breakpoint(lg up) {
        font-size: rem-calc(14);
        line-height: rem-calc(34);
    }
}
