.list-product-item-btns-container{
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
}

.list-product-item-btns-move{
  margin-right: 5px !important;
}

.product-list-item-move-select{
  border-radius: 5px;
  font-weight: 400 !important;
  font-size: 14px!important;
  text-transform: uppercase;
  padding: 0 14px !important;
  text-align: center !important;
}

.product-list-item-delete-button{
  border-color: #c4c4c4 !important;
  font-weight: 400 !important;
}

.list-product-item-btns-text{
  margin-bottom: 10px;
  text-align: right;
}


@media (max-width: 1050px) {
  .list-product-item-btns-container{
    flex-direction: column;
  }

  .product-list-item-delete-button{
    width: 100% !important;
  }

  .product-list-item-move-select{
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 10px !important;
    padding: 0 35px !important;
  }
}

@media (max-width: 768px) {
  .list-product-item-btns-container{
    display: none;
  }

  .product-list-item-btns-container{
    width: 100%;
    margin-top: 15px;
  }

  .list-product-item-btns-text{
    text-align: left;
    margin-left: 90px;
    margin-top: 10px;
  }
}