.list-product-item-btns-container{
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
}

.list-product-item-btns-move{
  margin-right: 5px !important;
}

.list-product-item-btns-text{
  margin-bottom: 10px;
  text-align: right;
}