.form-input{
  border: 1px solid #C4C4C4;
  padding: 5px 14px;

  &::placeholder{
    font-style: italic;
    font-size: 14px;
    color: #959595;
  }
}

.form-input-label{
  font-weight: 700;
  font-size: 14px;
}

.form-input-label-error{
 color: #F02A36;
}

.form-input-container{
  margin-bottom: 20px;
}

.error-message-input-container{
  display: flex;
  justify-content: flex-end;
}