.checkout_shipping-header-first {
    margin: rem-calc(12) 0 rem-calc(12);

    @include breakpoint(md up) {
        margin: rem-calc(30) 0 rem-calc(0);
    }

    @include breakpoint(lg up) {
        margin: rem-calc(12) 0 rem-calc(25);
    }
}
