.file-item-wrapper{
background-color: #F2F2F2;
  margin-bottom: 5px;
}

.file-item-text{
  display: flex;
  margin: 0 5px 0 15px;
}
.file-item-name{
  overflow: hidden;
  text-overflow: ellipsis;
}

.email-send-files{
  margin-top: 10px;
}

.incoming-file{
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: .5px solid #C4C4C4;
  width: 180px;
  height: 120px;
  position: relative;
   &-img{
     height: 86px;
   }

  &:hover{
    .hover-items{
      opacity: 1;
    }
  }


  &-footer{
    height: 32px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    padding-left: 15px;

    &-text{
      font-size: 13px;
      font-weight: 700;
      line-height: 13px;
      width: 125px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}

.hover-items-content{
  height: 100%;
  position: absolute;
  top: 0;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.hover-items-content-text-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}

.hover-items-content-name{
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  color: black;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-image{
  color: white;
}

.hover-items-content-btn{
  padding: 5px 12px !important;
  background-color: #7B7B7B !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 10px !important;
  display: flex !important;
  justify-content: space-between !important;
  width: 103px;
  border-radius: 0 !important;
}

.hover-items-img-wrap{
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
}

.items-img{
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-hover{
  opacity: 0.6;
}

.hover-items{
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.file-icon-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hover-items-icon-background{
  height: 100%;
  background-color: #F5F5F5;
}

.hover-items-content{
  position: absolute;
}

.attachment-list-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.mini-icon{
  margin-right: 5px;
}