@import "styles/utils/Utils.module";

.sort {
  padding: 0 pxToRem(60) 0 0;
}

.stateLine {
  height: pxToRem(40);
  background-color: #ebebeb;
}

.label {
  white-space: nowrap;
}

div.select {
  height: pxToRem(24) !important;
  font-size: 14px;
  min-width: 162px;
}

div.menu {
  font-size: 14px;
}
