@import "styles/utils/Utils.module";

.icon {
  color: #ff7200;
  width: pxToRem(26);
  height: pxToRem(26);
}

.text {
  color: #f00000;
  font-size: pxToRem(14);

  @include breakpoint(md) {
    font-size: pxToRem(16);
  }

  @include breakpoint(lg) {
    font-size: pxToRem(14);
  }
}
