.billing-same-shipping-radio-group {
  cursor: pointer;
}

.billing-same-shipping-radio-group:first-child {
  padding: 0 34px 0 0;
}

.billing-same-shipping-radio-group:last-child {
  padding: 0 34px;
}