.estimate-advise-text {
  color: #4a4949;
  font-size: rem-calc(16);
  line-height: rem-calc(22);

  @include breakpoint(md up) {
    font-size: rem-calc(18);
    line-height: rem-calc(21);
  }

  @include breakpoint(lg up) {
    font-size: rem-calc(16);
    line-height: rem-calc(19);
  }
}
