.account-modal-close-button {
  height: 100%;
  width: rem-calc(66);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    .account-modal-close-icon {
      color: #ababab;
    }
  }

  &:active {
    .account-modal-close-icon {
      color: #8d8d8d;
    }
  }
}
