.sidebar-menu-hat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem-calc(10) rem-calc(16);
    border: 1px solid #ffb400;
    height: rem-calc(39);
    cursor: pointer;
}
