@import "styles/utils/Utils.module";

@each $key, $slug in (top: t, left: s, bottom: b, right: e, x: x) {
  @each $breakpoint in (xs, sm, md, lg) {
    @each $value in (10) {
      @if $breakpoint == xs {
        .p#{$slug}-#{$value} {
          @if $key == x {
            padding-left: pxToRem($value) !important;
            padding-right: pxToRem($value) !important;
          } @else {
            padding-#{$key}: pxToRem($value) !important;
          }
        }
      } @else {
        @include breakpoint($breakpoint) {
          .p#{$slug}-#{$breakpoint}-#{$value} {
            @if $key == x {
              padding-left: pxToRem($value) !important;
              padding-right: pxToRem($value) !important;
            } @else {
              padding-#{$key}: pxToRem($value) !important;
            }
          }
        }
      }
    }
  }
}