html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100%;
  min-width: 320px;
  background-color: #fff;
}

* {
  outline: none;
}

input,
label,
select,
button,
textarea {
  font-family: $body-font-family;
}

img {
  width: auto;
  height: auto;

  //&.loader {
  //  background: url("../images/preloaders/loader1.gif") center center no-repeat;
  //}
}

input {
  display: inline-block;
  padding: 0 4px;
  width: 34.5%;
  border: 1px solid #aaaaaa;

  &[type='number'] {
    &,
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -moz-appearance:textfield;
      -webkit-appearance: none;
    }

    @include appearance(textfield);
  }
}


.column, .columns {
  &.auto {
    flex: auto;
    max-width: 100%;
  }
}

.off-canvas-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  #content-wrapper {
    flex-grow: 1;
  }
}

#main_wrapper {
  min-width: 320px;
  min-height: 100%;

  .off-canvas-content {
    min-height: 100%;
  }
}

.non-us-disclaimer{
  margin-top: 1rem;

  input{
    display: none;
  }

  label{
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    padding-left: 37px;
    display: inline-block;

    &:before{
      content: '';
      display: block;
      width: 21px;
      height: 21px;
      border: 1px solid #d4d4d4;
      position: absolute;
      top: 0;
      left: 8px;
    }

  }


  input:checked + label{
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    padding-left: 37px;
    display: inline-block;

    &:before{
      content: '';
      display: block;
      width: 21px;
      height: 21px;
      border: 1px solid #d4d4d4;
      position: absolute;
      top: 0;
      left: 8px;
    }

    &:after{
      content: url("../../dist/images/icons/order/check_mark_grey.svg");
      position: absolute;
      display: block;
      width: 12px;
      height: 15px;
      top: 3px;
      left: 12px;
    }

  }

}