.default-content-page {
  padding-top: rem-calc(5);

  @include breakpoint(medium) {
    padding-top: rem-calc(10);
  }

  @include breakpoint(large) {
    padding-top: rem-calc(5);
  }

  padding-bottom: rem-calc(40);
}