.sceleton-center-blocks-wrap{
  margin: 0 30px 0 10px !important;
}

.sceleton-block-wrapper{
  width: 202px;
  padding: 15px;
  @media(max-width: 540px) {
    width: 50%;
  }
  @media(min-width: 540px) {
    width: 33%;
  }

  @media(min-width: 1150px) {
    width: 25%;
  }
}

.sceleton-slider-card-wrapper{
  width: 174px;
  padding: 15px;
  @media(max-width: 774px) {
    width: 140px;
    padding: 0;
  }

  @media(min-width: 1150px) {
    width: 172px;
    padding: 0;
  }
}

.slider-sceleton-wrap{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;

  @media (max-width: 1000px) {
    width: 1000px;
  }
}

.product-slider-sceleton-wrapper{
  display: flex;

  @media (max-width: 720px) {
   justify-content: center;
  }
}

.product-slider-imgs-sceleton-wrapper{
  margin-right: 10px;
  width: 14%;
  @media (max-width: 720px) {
    display: none;
  }
}

.product-slider-big-img-sceleton{
  max-width: 400px;
  height: 400px;
  margin-top: 20px;
  @media (max-width: 960px) {
    max-width: 600px;
    height: 762px;
    margin-top: 0;
  }

  @media (max-width: 720px) {
    max-width: 300px;
    height: 320px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}