.login-and-security-settings-item {
  padding: rem-calc(8) rem-calc(10) rem-calc(23);
  border: 1px solid #c4c4c4;

  @include breakpoint(md up) {
    border: none;
    border-bottom: 1px solid #c4c4c4;
    padding: rem-calc(20) rem-calc(24);
  }

  @include breakpoint(lg up) {
    padding: rem-calc(22) rem-calc(24);

    &:last-child {
      border: none;
    }
  }
}
