@import "styles/utils/Utils.module.scss";

.searchIcon {
  width: pxToRem(28);
  height: auto;
  color: #122933;

  @include breakpoint(md) {
    width: pxToRem(48);
  }
}

.navigationContainer {
  @include breakpoint(lg) {
    padding: pxToRem(7) 0;
  }
}

.menuIcon {
  width: 1.5625rem;
  height: 1.1875rem;

  @include breakpoint(md) {
    width: 2.4375rem;
    height: 1.875rem;
  }
}

.topHeaderMenu {
  position: relative;
  z-index: 3;
  min-width: 320px;
}

.topHeader {
  background-color: white;
}

.header_shadowPanelVisible {
  border-bottom-color: #ffffff;
}
