.add-to-cart-button-add__complex {
  max-width: 51px;
  flex-grow: 0 !important;
}

.add-to-cart-button-add__complex.wait:before {
  display: inline-block;
  content: '';
  background-image: url('/static/frontend/dist/images/icons/green_check_mark.svg');
  height: 1.875rem;
  width: 1.8125rem;
  margin-left: .4375rem;
}
