.select {
  position: relative;
  display: block;
  min-width: 220px;
  width: 100%;
  max-width: 400px;
}

.select-info{
  .select__head{
    border: 1px solid #FFB400;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 10px;
  }

  .select__list{
    border: 1px solid #C4C4C4;
  }
}

.select-send{
  .select__head{
    border: 1px solid #C4C4C4;
    font-size: 13px;
    padding: 5px 10px;
  }

  .select__list{
    border: 1px solid #FFB400;
  }
}

.select__head {
  width: 100%;
  max-width: 100%;
  color: #000000;
  cursor: pointer;
  background-color: white;
}

.select__head::after {
  width: 10px;
  height: 6px;
  background: url("/static/backend/dist/images/icons/arrow-down.svg") no-repeat center / cover;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
  content: '';
  display: block;
  transition: .2s ease-in;
}

.select__head.open::after {
  transform: translateY(50%) rotate(180deg);
}

.select__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
  border-top:0;
}

.open{
  display: block;
}

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #F8F9FA;
  padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D9D9D9;
}

.select__list .select__item {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  list-style-type: none;
  font-size: 13px;
}

.select__list .select__item:hover {
  background-color: #F1F1F1;
}

.select__group-title{
  margin-left: 15px;
  margin-bottom: 8px;
  margin-top: 10px;
  list-style-type: none;
  font-size: 13px;
  font-weight: 700;
}

.select__group .select__item{
  padding: 10px 35px;
}