@import "styles/utils/Utils.module";

.productInfoName {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @include breakpoint(md) {
    font-size: pxToRem(18);
    display: inline;
  }
  @include breakpoint(lg) {
    font-size: pxToRem(14);
  }
}

.productInfoPrice {
  font-size: pxToRem(20);

  @include breakpoint(md) {
    font-size: pxToRem(24);
  }

  @include breakpoint(lg) {
    font-size: pxToRem(18);
  }
}


.counter {
  max-width: pxToRem(100);
}

.rating {
  @include breakpoint(md) {
    width: pxToRem(401);
    padding: pxToRem(20) pxToRem(25);
  }
  @include breakpoint(lg) {
    width: pxToRem(352);
    padding: pxToRem(25);
  }
}
