.customer-notes{
  padding: rem-calc(21) rem-calc(25) rem-calc(34);
  background-color: #FFF1BB;
  margin-bottom: 45px;
}

.customer-notes-title{
  font-size: 24px;
  font-weight: 700;
}

.customer-notes-line{
  color: #DAC783;
  margin: 21px 0;
}

.customer-notes-text{
  color: #4A4949;
}

.order-communication-editor{
  margin-top: 40px;
  margin-bottom: 20px;
  height: 300px;
}

.order-communication-messages{
  margin-top: 20px;
  margin-bottom: 52px;
}

.order-communication-attachment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: rem-calc(150);
  margin-left: rem-calc(25);
}

.order-communication-send-btn{
  width: auto;
  margin-left: rem-calc(25);
  margin-top: rem-calc(31);
}