.history-item-column{
  display: flex;
  width: 650px;
}
.column-item-history{
  width: 70px;
}
.link-google-info-history{
  margin: 0 10px;
}
.history-column-info{
  margin: 15px 0;
}
.description-item-history{
  width: 250px;
  margin-left: 10px;
}