.cart-table-row_subtotal {
  color: #83132B;
  border: none;
  margin: rem-calc(15) rem-calc(10);
  padding: 0;
  height: initial;
  min-height: initial;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

@include breakpoint(md up) {
  .cart-table-row_subtotal {
    margin: rem-calc(30) rem-calc(45) rem-calc(30) 0;
  }
}

@include breakpoint(lg up) {
  .cart-table-row_subtotal {
    margin: rem-calc(28) rem-calc(45) rem-calc(38) 0;
  }
}