.cart-table-row_subtotal {
  justify-content: flex-end;
  color: #83132B;
  border: none;
  padding: 15px 10px;
  height: initial;
  min-height: initial;
}

@include breakpoint (lg up) {
  .cart-table-row_subtotal {
    padding: 28px 45px 38px 0;
  }
}