.form-field-error {
  display: none;
  font-size: 14px;
  position: relative;
  list-style: none;
  background-color: #ffebeb;
  border: 1px solid #ee2a31;
  line-height: 22px;
  width: 100%;
  text-align: center;
}

@include breakpoint(lg up) {
  .form-field-error {
    max-width: 400px;
  }
}
