.switcher-slider-ball {
  position: absolute;
  left: rem-calc(3);
  top: rem-calc(2);
  display: block;
  width: rem-calc(24);
  height: rem-calc(24);
  background: #ffffff;
  border-radius: rem-calc(13);
  z-index: 3;
  box-shadow: 0 rem-calc(3) rem-calc(3) rem-calc(-1) rgba(0,0,0,0.38);
}
