.switcher-slider-ball {
  position: absolute;
  left: rem-calc(5);
  top: rem-calc(4);
  display: block;
  width: rem-calc(26);
  height: rem-calc(26);
  background: #ffffff;
  border-radius: rem-calc(13);
  z-index: 1;
  box-shadow: 0 rem-calc(3) rem-calc(3) rem-calc(-1) rgba(0,0,0,0.38);
}
