.switcher-slider-ball {
        position: absolute;
        left: 5px;
        top: 4px;
        display: block;
        width: 26px;
        height: 26px;
        background: #959595;
        border-radius: 13px;
        z-index: 1;
    }
