.products-slider-nav {
  position: absolute;
  top: calc(50% - 24px);
  margin-top: -3.125rem;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
  width: 2.875rem;
  height: 6.25rem;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s ease-out;

  &:after {
    content: url('/static/frontend/images/icons/slider_right_arrow.svg');
    width: .875rem;
    height: 1.375rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.6875rem 0 0 -.4375rem;
  }
}

.products-slider:hover {
  .products-slider-nav {
    opacity: 1;

    &__inactive {
      opacity: 0.5;
    }
  }
}