.quick-link {
    display: flex;
    align-items: center;
    font-size: rem-calc(15);
    color: #494949;
    height: rem-calc(38);
    padding: 0 0 0 rem-calc(21);
    text-decoration: none !important;

    &:hover {
        color: #000000;
        background: #ffebb2;
    }
}
