.sidebar-menu-links-group-header {
    font-size: rem-calc(15);
    border-bottom: rem-calc(1) solid #c4c4c4;
    padding: 0 0 0 rem-calc(7);
    font-weight: normal;

    &:first-letter {
        text-transform: uppercase;
    }
}
