.phone-input {
  &-wrap {
    height: 80px;
    width: 100%;
    max-width: none;
    display: flex;
    @media (min-width: 1024px) {
      max-width: 400px;
    }
  }

  &-right {
    width: 40% !important;
    display: flex;
    align-items: flex-end;

    &-text {
      line-height: 70px;
      margin-right: 10px;
    }
  }

  &-left {
    margin-right: 40px;
  }
}