.cart-header {
  .logo_menu {
    .shop-logo-block {
      .logo-small {
        heigth: rem-calc(26);
      }
    }
    .s3-logo-block {
      text-align: right;
      .s3-logo-small {
        height: rem-calc(22);
      }
    }
  }

  .cart-steps-container{

    padding: 0 .625rem;


    .cart-steps-back{

      height: rem-calc(36);
      padding: 0 rem-calc(5) 0 .5rem;
      border: 1px solid #ffb400;
      display: flex;
      align-items: center;

      font-size: rem-calc(11);
      text-decoration: none;
      font-weight: bold;
      color: #4a4949;

      img{
        margin-right: .5rem;
      }
    }
    .cart-steps-section{

      overflow: hidden;
      padding: 0 0 0 rem-calc(4);

      ul{
        display: flex;

        li{
          display:block;
          height: rem-calc(36);
          line-height: rem-calc(36);
          text-align: center;
          border: 1px solid #dddddd;
          vertical-align: center;
          overflow: hidden;

          .step-link{
            text-decoration: none;
            color: #acacac;

            .step-label{
              display:none;
            }
          }
        }
      }
    }
  }
}