.cart-header {

  $arrow-width: rem-calc(10);
  $cart-breadcrumbs-height: rem-calc(36);
  $last-cart-breadcrumbs-item-height: rem-calc(36+10);

  .logo_menu {
    .shop-logo-block {
      .logo-small {
        heigth: rem-calc(26);
      }
    }
    .s3-logo-block {
      text-align: right;
      .s3-logo-small {
        height: rem-calc(22);
      }
    }
  }

  .cart-steps-container {

    padding: 0 .625rem;

    .cart-steps-back {

      height: $cart-breadcrumbs-height;
      padding: 0 .5rem 0 rem-calc(5);
      margin-right: rem-calc(4);
      border: 1px solid #ffb400;
      display: flex;
      align-items: center;

      font-size: rem-calc(11);
      text-decoration: none;
      font-weight: bold;
      color: #4a4949;

      &.inactive{
        display: none;
      }

      img {
        margin-right: .5rem;
      }
    }
    .cart-steps-section {

      overflow: hidden;
      padding: 0;

      ul {
        display: flex;
        overflow: hidden;
        align-items: center;
        width: 100%;
        text-align: justify;

        li {
          display: block;
          position: relative;
          height: $cart-breadcrumbs-height;
          width: $cart-breadcrumbs-height;
          line-height: $cart-breadcrumbs-height;
          font-size: rem-calc(11);
          text-align: center;
          border: 1px solid #dddddd;
          border-right: 0;
          vertical-align: middle;

          .step-link {
            text-decoration: none;
            color: #acacac;
            margin-left: $arrow-width;
            text-transform: uppercase;
            font-weight: bold;
            cursor: default;

            .step-label {
              display: none;
            }
          }

          .arrow-right {
            height: $cart-breadcrumbs-height;
            overflow: hidden;
            width: $arrow-width;
            position: absolute;
            top: 0;
            right: - $arrow-width;

            &:after {
              content: '';
              display: block;
              border-top: 1px solid #dddddd;
              border-right: 1px solid #dddddd;
              position: absolute;
              top: 8px;
              right: 0;
              width: $cart-breadcrumbs-height;
              height: $cart-breadcrumbs-height;
              transform: matrix(.37, 0.7, -.6, 1.21, 0, 0);
              background: white;
              z-index: 1;
            }
          }

          &:last-child {
            border-right: 1px solid #dddddd;
            padding-right: $arrow-width;
            width: $last-cart-breadcrumbs-item-height;
            .arrow-right {
              display: none;
            }
            &.active{
              border-right: 1px solid #959595;
            }
          }

          &.inactive {
            display: none;
          }

          &.active {
            width: auto;
            flex-grow: 1;
            background-color: #fff2cc;
            border: 1px solid #959595;
            border-right: 0;

            .step-link {
              color: #000000;

              .step-number:after {
                content: '.';
                display: inline;
              }

              .step-label {
                display: inline;
              }
            }

            .arrow-right {
              &:after {
                border-top: 1px solid #959595;
                border-right: 1px solid #959595;
                background-color: #fff2cc;
              }
            }

          }

        }
      }
    }
  }
}