.cart-header {

  overflow: hidden;

  $arrow-width: rem-calc(10);
  $cart-breadcrumbs-height: rem-calc(35);
  $cart-breadcrumbs-line-height: rem-calc(35-2);
  $last-cart-breadcrumbs-item-height: rem-calc(36+10);
  $breadcrumbs-font-size: rem-calc(11);
  $breadcrumb-border-width: 1px;

  $arrow-width-sm: rem-calc(13);
  $cart-breadcrumbs-height-sm: rem-calc(45);
  $cart-breadcrumbs-line-height-sm: rem-calc(45-4);
  $last-cart-breadcrumbs-item-height-sm: rem-calc(45+15);
  $breadcrumbs-font-size-sm: rem-calc(13);
  $breadcrumb-border-width-sm: 2px;


  .logo_menu {
    .shop-logo-block {
      .logo-small {
        height: rem-calc(26);
        @include breakpoint(sm up) {
          height: rem-calc(33);
        }
      }
    }
    .s3-logo-block {
      text-align: right;
      .s3-logo-small {
        height: rem-calc(22);
        @include breakpoint(sm up) {
          height: rem-calc(26);
        }
      }
    }
  }

  .cart-steps-container {

    padding: 0 .625rem;

    .cart-steps-back {

      height: $cart-breadcrumbs-height;
      line-height: $cart-breadcrumbs-line-height;
      padding: 0 .5rem 0 rem-calc(5);
      margin-right: rem-calc(4);
      border: $breadcrumb-border-width solid #ffb400;

      font-size: $breadcrumbs-font-size;
      text-decoration: none;
      font-weight: bold;
      color: #4a4949;

      @include breakpoint(sm up) {
        height: $cart-breadcrumbs-height-sm;
        line-height: $cart-breadcrumbs-line-height-sm;
        border-width: $breadcrumb-border-width-sm;
        font-size: $breadcrumbs-font-size-sm;
      }

      &.inactive{
        display: none;
      }

      .img{
        display: inline-block;
        padding-right: .5rem;
        padding-bottom:3px;
        vertical-align: middle;
        img{
          vertical-align: middle;
          height:14px;
          @include breakpoint(sm up) {
            height:16px;
          }
        }
      }

      span{
        display: inline;
        //display: inline-block;
        vertical-align: middle;
      }
    }
    .cart-steps-section {

      overflow: hidden;
      padding: 0;

      ul {
        display: flex;
        overflow: hidden;
        align-items: center;
        width: 100%;
        text-align: justify;

        li {
          display: block;
          position: relative;
          height: $cart-breadcrumbs-height;
          width: $cart-breadcrumbs-height;
          line-height: $cart-breadcrumbs-line-height;
          font-size: $breadcrumbs-font-size;
          text-align: center;
          border: $breadcrumb-border-width solid #dddddd;
          border-right: 0;
          vertical-align: middle;

          @include breakpoint(sm up) {
            height: $cart-breadcrumbs-height-sm;
            width: $cart-breadcrumbs-height-sm;
            line-height: $cart-breadcrumbs-line-height-sm;
            border-width: $breadcrumb-border-width-sm;
            font-size: $breadcrumbs-font-size-sm;
            vertical-align: middle;
          }

          .step-link {
            text-decoration: none;
            color: #acacac;
            margin-left: $arrow-width;
            text-transform: uppercase;
            font-weight: bold;
            cursor: default;

            @include breakpoint(sm up) {
              margin-left: $arrow-width-sm;
            }

            .step-label {
              display: none;
            }
          }

          .arrow-right {
            height: $cart-breadcrumbs-height;
            overflow: hidden;
            width: $arrow-width;
            position: absolute;
            top: -$breadcrumb-border-width;
            right: - $arrow-width;

            @include breakpoint(sm up) {
              height: $cart-breadcrumbs-height-sm;
              width: $arrow-width-sm;
              right: - $arrow-width-sm;
              top: -$breadcrumb-border-width-sm;
            }

            &:after {
              content: '';
              display: block;
              border-top: $breadcrumb-border-width solid #dddddd;
              border-right: $breadcrumb-border-width solid #dddddd;
              position: absolute;
              top: 8px;
              right: 0;
              width: $cart-breadcrumbs-height;
              height: $cart-breadcrumbs-height;
              transform: matrix(.37, 0.7, -.6, 1.21, 0, 0);
              background: white;
              z-index: 1;

              @include breakpoint(sm up) {
                border-width: $breadcrumb-border-width-sm;
                border-right-width: 3px !important;
                width: $cart-breadcrumbs-height-sm;
                height: $cart-breadcrumbs-height-sm;
                top: 10px;
              }
            }
          }

          &:last-child {
            border-right: $breadcrumb-border-width solid #dddddd;
            padding-right: $arrow-width;
            width: $last-cart-breadcrumbs-item-height;
            .arrow-right {
              display: none;
            }
            &.active{
              border-right: $breadcrumb-border-width solid #959595;
              @include breakpoint(sm up) {
                border-width: $breadcrumb-border-width-sm;
              }
            }

            @include breakpoint(sm up) {
              border-width: $breadcrumb-border-width-sm;
              padding-right: $arrow-width-sm;
              width: $last-cart-breadcrumbs-item-height-sm;
            }
          }

          &.inactive {
            display: none;
          }

          &.active {
            width: auto;
            flex-grow: 1;
            background-color: #fff2cc;
            border: $breadcrumb-border-width solid #959595;
            border-right: 0;

            @include breakpoint(sm up) {
              border-width: $breadcrumb-border-width-sm;
            }

            .step-link {
              color: #000000;

              .step-number:after {
                content: '.';
                display: inline;
              }

              .step-label {
                display: inline;
              }
            }

            .arrow-right {
              &:after {
                border-top: $breadcrumb-border-width solid #959595;
                border-right: $breadcrumb-border-width solid #959595;
                background-color: #fff2cc;

                @include breakpoint(sm up) {
                  border-width: $breadcrumb-border-width-sm;
                }
              }
            }

          }

        }
      }
    }
  }
}