$view_all_height: rem-calc(22);
$default_height: rem-calc(50);

.category-menu-list-wrapper {
  position: absolute;
  width: 100%;
  //max-width: 80rem;
  //max-width: $global-width;
  @include grid-row-size();

  @include breakpoint(large up) {
    //@include grid-row-size();
    //@include grid-column-gutter();
    //@include grid-column-gutter($gutters: $grid-column-gutter);
    @include grid-row-nest($gutters: (small:40));
    //@include grid-row-nest();

    //@include grid-row;
    //@include grid-column();

    //margin-right: 0 !important;
    //margin-left: 0 !important;
  }
}

.desktop_menu_search_cart {
  width: 100%; //foundation sticky
  height: rem-calc(50);
  line-height: rem-calc(50);
  position: relative;

  @include breakpoint(large up) {
    background: $dark_blue;
  }

  .search-form-container {
    position: relative;
    //display: block;
    //height: 100%;
    //
    //form {
    //  display: inline-block;
    //  width: 100%;
    //  height: 100%;
    //  line-height: rem-calc(50);
    //}

    .search {
      width: 100%;
      height: rem-calc(34);
      font-size: rem-calc(12);
      border: 2px solid #8a8a8a;
      padding: 0 2.6%;
      //display: block;

      @include breakpoint(large up) {
        font-size: rem-calc(14);
        border: 1px solid #0d2431;
      }

      &::placeholder {
        font-style: italic;
        font-weight: 300;
        color: $grey_brown;
      }
    }

    .button-search {
      border: none;
      display: inline-block;
      //background: url("../images/home/1280/magnifier_hover.svg") no-repeat;
      background: url("/static/frontend/images/icons/header/magnifier.svg") no-repeat;
      width: 23px;
      height: 23px;
      position: absolute;
      top: 14px;
      bottom: 6px;
      right: 10px;
      cursor: pointer;

      &:hover {
        opacity: .9;
      }
    }

    .button-clear {
      display: none;
      width: 17px;
      height: 17px;
      top: 17px;
      bottom: 6px;
      position: absolute;
      opacity: .6;
      background: url("/static/frontend/images/icons/header/remove_hover.svg") no-repeat;

      right: 17px;

      @include breakpoint(large up) {

        right: 56px;
      }

      &.active {
        display: block;
      }

      &:hover {
        opacity: 1;
      }

      @include breakpoint(large up) {
        &:after {
          content: "";
          display: inline-block;
          background: $b9_grey;
          width: 1px;
          height: 30px;
          position: relative;
          left: 30px;
          bottom: 7px;
          opacity: 1;
        }
      }
    }

    .suggestion-container {
      font-size: 1rem;
      //display:block;

      .suggestions {
        //margin: -5px 0 0;
        margin: 0;
        padding: 0;
        border: 1px solid #0d2431;
        background-color: white;

        @include breakpoint(large){
          padding: 0 0 .5rem;
        }

        .suggestionsTitle {
          display: none;

          @include breakpoint(large){
            display: block;
            line-height: rem-calc(22);
            height: rem-calc(22);
            text-align: right;
            font-size: rem-calc(12);
            color: #616161;
            padding: 3px 12px;
          }
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            margin: 0;
            list-style-type: none;
            line-height: rem-calc(37);
            height: rem-calc(37);
            padding: 0 rem-calc(10);
            cursor: pointer;
            border-top: 1px solid #e6e6e6;

            @include breakpoint(large){
              padding: 0 1rem;
              line-height: rem-calc(26);
              height: rem-calc(26);
            border: 0;
            }

            &:first-child{
              border: 0;
            }

            &:hover {
              background-color: #edf0f2;
            }
          }
        }
      }

    }
  }

  .category-menu {
    width: 100%;
    display: block;
    line-height: rem-calc(50);
    height: rem-calc(50);
    text-align: center;

    @include active-triangle(6px, 6px, #fff, true, $dark_blue, is-active);

    .category-menu-title {
      color: #fff;
      font-size: rem-calc(14);
      font-weight: 800;
      margin-left: 5px;
      text-transform: uppercase;
    }

    &.is-active {
      background-color: #f5f5f5;

      .menu-icon {
        &:after {
          background: $dark_blue;
          box-shadow: 0 6px 0 $dark_blue, 0 12px 0 $dark_blue;
        }
      }

      .category-menu-title {
        color: $dark_blue;
      }
    }

  }

  .category-menu-list-container {
    position: relative;
    z-index: 100;
  }

  .category-menu-list {
    background-color: #f5f5f5;
    border: none;
    position: relative;
    min-height: 420px;
    padding-bottom: $view_all_height;

    a {
      color: black;
    }

    .category-menu-item {

      .item-container {
        text-align: left;
        padding: rem-calc(1) rem-calc(10);

        font-size: rem-calc(14);
        line-height: rem-calc(30);

        & > a {
          line-height: rem-calc(32);
        }

        .item-image {
          img {
            max-width: 25px;
          }
        }

        .item-name {
          line-height: 1.2;
          font-weight: bold;
          display: inline-block;
          vertical-align: middle;
        }
      }

      &:hover, &:active,
      &.is-active {
        .item-container {
          background: #dfe5e8;

          .item-name {
            text-decoration: underline;
          }
        }
      }

      &:hover {
        .submenu-container {
          display: block;
          //width: 350%;
          width: calc(300% + 120px);
          left: 100%;
        }
      }
    }

    .view-all-container {
      margin-top: rem-calc(6);
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    .view-all {
      display: block;
      background-color: #456d83;
      color: #fff;
      font-size: rem-calc(14);
      line-height: $view_all_height;
      height: $view_all_height;
      text-align: center;

      &:before {
        content: '';
        display: inline-block;
        width: rem-calc(16);
        height: rem-calc(16);
        vertical-align: middle;
        margin-right: rem-calc(3);
        background: url("/static/frontend/images/icons/header/view_all_departments.svg") no-repeat;
      }
    }

  }

  .submenu-container {
    padding: rem-calc(9) rem-calc(20) $view_all_height;
    display: none;
    position: absolute;
    background: #fff;
    right: 0;
    top: 0;
    min-height: 100%;

    .nav {
      //margin-bottom: rem-calc(5);
      //column-gap: 20px;
      column-gap: 80px;

      &.has-column-4 {
        column-count: 4;
      }

      &.has-column-3 {
        column-count: 3;
      }

      &.has-column-2 {
        column-count: 2;
      }

      h4 {
        font-size: rem-calc(14);
        margin-bottom: 6px;
        font-weight: bold;

        &.has-children {
          padding-bottom: 2px;
          border-bottom: 1px solid #c2c2c2;
        }
      }

      .menu-block {
        display: inline-block;
        padding: 0 0 rem-calc(15);
        min-width: 100%;

        &.liquid {
          display: block;
        }

        &:nth-last-child(1) {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }

      h4, a {
        &:hover {
          color: #055a93;
          text-decoration: underline;
        }
      }

      ul {
        list-style: none;
        margin: 0;

        li {
          line-height: rem-calc(16);
          font-size: rem-calc(12);
          color: black;
        }
      }
    }

    .banner {
      position: absolute;
      bottom: $view_all_height;
      right: 0;

      .sale {
        background-color: #ff005a;
        border-radius: 4px;
        font-weight: bold;
        color: #ffffff;
        padding: 5px 16px;
        font-size: rem-calc(14);
        position: absolute;
      }
    }

    .view-all {
      background-color: #e9e9e9;
      color: #055a93;
      max-width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;

      &:before {
        background: url("/static/frontend/images/icons/header/view_all_departments_blue.svg") no-repeat;
      }
    }
  }

  .minicart {
    height: $default_height;
    background: {
      color: #ffb400;
    }
  ;

    .cart_info {
      //@include active-triangle(5px, 5px);

      width: 100%;
      text-align: center;
      cursor: pointer;
      //line-height: 1;
      height: $default_height;
      font: {
        size: 1rem;
        weight: bold;
      }

      .count {
        position: relative;
        display: inline-block;
        width: 44px;
        //height: $default_height;
        height: 30px;
        vertical-align: middle;

        background: {
          image: url('/static/frontend/images/icons/header/cart.svg');
          repeat: no-repeat;
          position: center center;
        }
      ;

        .mc_count {
          position: absolute;
          top: -1em;
          text-align: center;
          left: 0;
          right: 5px;
          font: {
            size: rem-calc(19);
          }
        ;

          &.small {
            font-size: rem-calc(14);
            top: -1.4em;
          }
        }
      }

      .text {
        height: $default_height;
        text-transform: uppercase;
        //vertical-align: middle;
        display: inline-block;

      }
    }
  }
}

.menu-fixed {
  position: fixed;
  top: 0;
  z-index: 1499;
}

