$view_all_height: rem-calc(22);
$default_height: rem-calc(50);
$search_small_height: rem-calc(44);
$search_large_height: rem-calc(50);
$search_input_large_height: rem-calc(36);

.category-menu-list-wrapper {
  position: absolute;
  width: 100%;
  //max-width: 80rem;
  //max-width: $global-width;
  @include grid-row-size();

  @include breakpoint(large up) {
    //@include grid-row-size();
    //@include grid-column-gutter();
    //@include grid-column-gutter($gutters: $grid-column-gutter);
    @include grid-row-nest($gutters: (small:40));
    //@include grid-row-nest();

    //@include grid-row;
    //@include grid-column();

    //margin-right: 0 !important;
    //margin-left: 0 !important;
  }
}

.desktop_menu_search_cart {
  width: 100%; //foundation sticky
  position: relative;
  height: 0;

  @include breakpoint(large up) {
    background: $dark_blue;
    padding: 0;
    height: $search_large_height;
  }

  .search-form-container {
    position: relative;
    //display: block;
    //height: 100%;
    //
    //form {
    //  display: inline-block;
    //  width: 100%;
    //  height: 100%;
    //  line-height: rem-calc(50);
    //}

    .search {
      width: 100%;
      display: block;
      height: $search_small_height;
      line-height: $search_small_height;
      border: 2px solid #8a8a8a;
      padding: 0 2.6%;
      color: $dark_blue;
      margin-top: rem-calc(5);

      &:focus {
        border: 2px solid $dark_blue;
      }

      @include breakpoint(large up) {
        font-size: rem-calc(14);
        border: 1px solid $dark_blue;
        height: $search_input_large_height;
        line-height: $search_input_large_height;
        margin: rem-calc(8) 0 0;

        &:focus {
          border: 1px solid $dark_blue;
        }
      }

      &::placeholder {
        font-style: italic;
        font-weight: 300;
        color: $grey_brown;
      }
    }

    .suggestion-active {
      .search {
        border: 2px solid $dark_blue;

        @include breakpoint(large) {
          border: 1px solid $dark_blue;
        }
      }
    }

    .button-search {
      border: none;
      display: inline-block;
      background: url("/static/frontend/images/icons/header/magnifier.svg") no-repeat;
      width: rem-calc(23);
      height: rem-calc(23);
      position: absolute;
      top: rem-calc(7);
      right: rem-calc(10);
      cursor: pointer;

      &:hover {
        opacity: .9;
      }
    }

    .button-clear {
      display: none;
      width: rem-calc(17);
      height: rem-calc(17);
      top: rem-calc(14);
      position: absolute;
      opacity: .6;
      background: url("/static/frontend/images/icons/header/remove_hover.svg") no-repeat;

      right: rem-calc(8);

      @include breakpoint(large up) {
        right: rem-calc(56);
        top: rem-calc(10);
      }

      &.active {
        display: block;
      }

      &:hover {
        opacity: 1;
      }

      @include breakpoint(large up) {
        &:after {
          content: "";
          display: inline-block;
          background: $b9_grey;
          width: 1px;
          height: rem-calc(30);
          position: relative;
          left: rem-calc(30);
          bottom: 7px;
          opacity: 1;
        }
      }
    }

    .suggestion-container {
      font-size: 1rem;
      //display:block;

      .found {
        border: 1px solid $dark_blue;
        border-top: 0;

        .suggestions {
          //margin: -5px 0 0;
          margin: 0;
          padding: 0;
          background-color: white;
          border-top: 1px solid $dark_blue;

          @include breakpoint(large) {
            border-top: 1px solid #dcdcdc;
          }

          &:first-child {
            border-top: 0;
          }

          @include breakpoint(large) {
            padding: 0 0 .5rem;
          }

          .suggestionsTitle {
            display: none;

            @include breakpoint(large) {
              display: block;
              line-height: rem-calc(22);
              height: rem-calc(22);
              text-align: right;
              font-size: rem-calc(12);
              color: #616161;
              padding: rem-calc(3) rem-calc(12);
            }
          }

          ul {
            margin: 0;
            padding: 0;

            li {
              margin: 0;
              list-style-type: none;
              line-height: rem-calc(37);
              height: rem-calc(37);
              padding: 0 rem-calc(10);
              cursor: pointer;
              border-top: 1px solid #e6e6e6;
              position: relative;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;

              @include breakpoint(large) {
                padding: 0 1rem;
                line-height: rem-calc(26);
                height: rem-calc(26);
                border: 0;
              }

              &:first-child {
                border: 0;
              }

              &:hover {
                background-color: #edf0f2;
              }

              &:after {
                content: url("../images/icons/search/switch.svg");
                display: block;
                width: rem-calc(12);
                height: rem-calc(12);
                position: absolute;
                right: rem-calc(11);
                top: 0;

                @include breakpoint(large) {
                  display: none;
                }
              }
            }

          }

          &.product {

            ul {
              li {
                height: auto;
                display: none;
                white-space: normal;
                text-overflow: clip;

                a {
                  display: flex;
                  justify-content: left;
                  align-items: center;
                  padding: .5rem 0;
                  color: black;

                  &:hover {
                    text-decoration: none;
                  }

                  .icon {
                    display: block;
                    width: rem-calc(70);
                    min-height: rem-calc(70);
                    background-size: cover;
                    background-position: center center;
                  }
                  .label {
                    display: block;
                    padding-left: 1rem;
                    line-height: 1.2;
                  }
                }

                &:after {
                  display: none;
                }
              }

              @for $i from 0 through 2 {
                .item#{$i} { display: block; }
              }

              @include breakpoint(large){
                @for $i from 3 through 4 {
                  .item#{$i} { display: block; }
                }
              }
            }

          }

          &.category {
            display: none;

            @include breakpoint(large){
              display: block;
            }

            ul {
              li {

                a {
                  color: black;
                  display: block;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;

                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }



    }
  }

  .category-menu {
    width: 100%;
    display: block;
    line-height: rem-calc(50);
    height: rem-calc(50);
    text-align: center;
    cursor: pointer;

    @include active-triangle(6px, 6px, #fff, true, $dark_blue, is-active);

    .category-menu-title {
      color: #fff;
      font-size: rem-calc(14);
      font-weight: 800;
      margin-left: 5px;
      text-transform: uppercase;
    }

    &.is-active {
      background-color: #f5f5f5;

      .menu-icon {
        &:after {
          background: $dark_blue;
          box-shadow: 0 6px 0 $dark_blue, 0 12px 0 $dark_blue;
        }
      }

      .category-menu-title {
        color: $dark_blue;
      }
    }

  }

  .category-menu-list-container {
    position: relative;
    z-index: 100;
  }

  .category-menu-list {
    background-color: #f5f5f5;
    border: none;
    position: relative;
    min-height: 420px;
    padding-bottom: $view_all_height;

    a {
      color: black;
    }

    .category-menu-item {

      .item-container {
        text-align: left;
        padding: rem-calc(1) rem-calc(10);

        font-size: rem-calc(14);
        line-height: rem-calc(30);

        & > a {
          line-height: rem-calc(32);
        }

        .item-image {
          img {
            max-width: 25px;
          }
        }

        .item-name {
          line-height: 1.2;
          font-weight: bold;
          display: inline-block;
          vertical-align: middle;
        }
      }

      &:hover, &:active,
      &.is-active {
        .item-container {
          background: #dfe5e8;

          .item-name {
            text-decoration: underline;
          }
        }
      }

      &:hover {
        .submenu-container {
          display: block;
          //width: 350%;
          width: calc(300% + 120px);
          left: 100%;
        }
      }
    }

    .view-all-container {
      margin-top: rem-calc(6);
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    .view-all {
      display: block;
      background-color: #456d83;
      color: #fff;
      font-size: rem-calc(14);
      line-height: $view_all_height;
      height: $view_all_height;
      text-align: center;

      &:before {
        content: '';
        display: inline-block;
        width: rem-calc(16);
        height: rem-calc(16);
        vertical-align: middle;
        margin-right: rem-calc(3);
        background: url("/static/frontend/images/icons/header/view_all_departments.svg") no-repeat;
      }
    }

  }

  .submenu-container {
    padding: rem-calc(9) rem-calc(20) $view_all_height;
    display: none;
    position: absolute;
    background: #fff;
    right: 0;
    top: 0;
    min-height: 100%;

    .nav {
      //margin-bottom: rem-calc(5);
      //column-gap: 20px;
      column-gap: 80px;

      &.has-column-4 {
        column-count: 4;
      }

      &.has-column-3 {
        column-count: 3;
      }

      &.has-column-2 {
        column-count: 2;
      }

      h4 {
        font-size: rem-calc(14);
        margin-bottom: 6px;
        font-weight: bold;

        &.has-children {
          padding-bottom: 2px;
          border-bottom: 1px solid #c2c2c2;
        }
      }

      .menu-block {
        display: inline-block;
        padding: 0 0 rem-calc(15);
        min-width: 100%;

        &.liquid {
          display: block;
        }

        &:nth-last-child(1) {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }

      h4, a {
        &:hover {
          color: #055a93;
          text-decoration: underline;
        }
      }

      ul {
        list-style: none;
        margin: 0;

        li {
          line-height: rem-calc(16);
          font-size: rem-calc(12);
          color: black;
        }
      }
    }

    .banner {
      position: absolute;
      bottom: $view_all_height;
      right: 0;

      .sale {
        background-color: #ff005a;
        border-radius: 4px;
        font-weight: bold;
        color: #ffffff;
        padding: 5px 16px;
        font-size: rem-calc(14);
        position: absolute;
      }
    }

    .view-all {
      background-color: #e9e9e9;
      color: #055a93;
      max-width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;

      &:before {
        background: url("/static/frontend/images/icons/header/view_all_departments_blue.svg") no-repeat;
      }
    }
  }

  .minicart {
    height: $default_height;
    background: {
      color: #ffb400;
    }
  ;

    .cart_info {
      //@include active-triangle(5px, 5px);

      width: 100%;
      text-align: center;
      cursor: pointer;
      //line-height: 1;
      height: $default_height;
      font: {
        size: 1rem;
        weight: bold;
      }

      .count {
        position: relative;
        display: inline-block;
        width: rem-calc(44);
        //height: $default_height;
        height: rem-calc(30);
        line-height: $default_height;
        vertical-align: middle;

        background: {
          image: url('/static/frontend/images/icons/header/cart.svg');
          repeat: no-repeat;
          position: center center;
        }
      ;

        .mc_count {
          position: absolute;
          top: -1em;
          text-align: center;
          left: 0;
          right: rem-calc(5);
          font: {
            size: rem-calc(19);
          }
        ;

          &.small {
            font-size: rem-calc(14);
            top: -1.4em;
          }
        }
      }

      .text {
        height: $default_height;
        line-height: $default_height;
        text-transform: uppercase;
        //vertical-align: middle;
        display: inline-block;

      }
    }
  }
}

.menu-fixed {
  position: fixed;
  top: 0;
  z-index: 1499;
}

