@import "../all_pages/page_width";

header {

  border-bottom: 1px solid #cdcdcd;

  .logo_menu {
    padding: rem-calc(7) 0;
    height: rem-calc(53);
    line-height: rem-calc(39);

    @include breakpoint(medium) {
      //padding: rem-calc(17) 0;
      height: rem-calc(80);
      line-height: rem-calc(63);
    }

    @include breakpoint(large) {
      padding: 0;
      margin: rem-calc(7) 0;
    }

    .right-icon {
      //margin-left: rem-calc(30);
      margin-left: rem-calc(10);

      @include breakpoint(medium) {
        margin-left: rem-calc(24);
      }

      &:first-child{
        margin-left: 0;
      }
    }

    @include breakpoint(large up) {
      line-height: rem-calc(62);
      height: rem-calc(62);
    }

    .mobile_menu {
      width: rem-calc(25);
      height: rem-calc(19);

      @include breakpoint(medium){
        width: rem-calc(39);
        height: rem-calc(30);
      }
    }

    .logo-small {
      height: rem-calc(26);

      @include breakpoint(medium){
        height: rem-calc(48);
      }
    }

    .logo-big {
      height: rem-calc(62);
    }

    .main-menu-wrap {
      text-align: right;
      height: rem-calc(39);

      @include breakpoint(large up) {
        height: rem-calc(62);
      }

      .main-menu {
        @include justify-menu;
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;

        @include breakpoint(ml down) {
          max-width: 300px;
        }

        li {
          display: inline-block;
          line-height: rem-calc(39);

          @include breakpoint(large up) {
            line-height: rem-calc(62);
          }

          @include breakpoint(ml down) {
            &:nth-child(1n+3) {
              display: none;
            }
          }

          a {
            @include shadowed;

            color: #154159;
            font-size: rem-calc(14);

            @include breakpoint(large up) {
              font-size: rem-calc(16);
            }
          }
        }
      }
    }

    .mobile__search-btn {
      //background: url("../images/icons/header/magnifier.svg") no-repeat;
      background: url("../images/icons/header/magnifier_thin.svg") no-repeat;
      width: rem-calc(30);
      height: rem-calc(30);

      @include breakpoint(medium){
        width: rem-calc(48);
        height: rem-calc(48);
      }
    }

    .mobile__call-btn {
      background: url("../images/icons/header/phone-call1.svg") no-repeat;
      width: rem-calc(30);
      height: rem-calc(30);

      @include breakpoint(medium){
        width: rem-calc(48);
        height: rem-calc(48);
      }
    }

    .mobile__cart {
      background: url("../images/icons/header/cart.svg") no-repeat;
      position: relative;
      width: rem-calc(40);
      height: rem-calc(30);

      @include breakpoint(medium){
        width: rem-calc(67);
        height: rem-calc(48);
      }

      &:hover {
        text-decoration: none;
      }

      .count {
        @include border-radius(10px);
        background: #F12D2D;
        font: {
          size: .75em;
          weight: 800;
        }
        padding: 0 5px;
        color: $white;
        position: absolute;
        left: -3px;
        top: -1px;
        line-height: 1.2;
        min-width: 1.5em;
        text-align: center;

        @include breakpoint(medium) {
          font-size: rem-calc(20);
        }


        .mc_count {
          display: inline-block;
          padding-top: 0.12em;
          line-height: rem-calc(14);
          vertical-align: top;

          @include breakpoint(medium) {
            padding-top: rem-calc(4);
          }
        }
      }
    }
  }

}

#top-header-menu{
  position:relative;
  z-index:3;
  min-width: get-width('small');

  &.header-fixed{
    position:fixed;
  }
}
#top-header{
  overflow: hidden;

  @include breakpoint(sm){
    overflow: visible;
  }
}
.header-fixed {
  position:fixed;
  z-index: 1499;
  width: 100%;
  #top-header{
    background-color: white;
  }
}