@import "styles/utils/Utils.module";

.authFormInfo {
  font-size: pxToRem(14);
  font-weight: normal;
  line-height: pxToRem(22);

  @include breakpoint(md) {
    font-size: pxToRem(16);
  }
  @include breakpoint(lg) {
    font-size: pxToRem(12);
    line-height: pxToRem(17);
  }
}

.commonLink {
  line-height: inherit;
  color: #055a93;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
