.cart-table-caption {
  position: relative;
  padding: 10px 32px;
  font-size: 1.125rem;
  font-weight: 700;
  background: $grey_e4;
  cursor: pointer;
}

@include breakpoint(md up) {
  .cart-table-caption {
    font-size: 1.25rem;
    padding: 20px 38px 24px;
    text-align: center;
    line-height: 32px;
  }
}

@include breakpoint(ml up) {
  .cart-table-caption {
    padding: 20px 62px 24px;
  }
}

@include breakpoint(lg up) {
  .cart-table-caption {
    font-size: 1.125rem;
    padding: 30px 77px 22px;
    background: none;
  }
}