@import "styles/utils/Utils.module";

.decision__paymentSelection {
  margin: 0 rem-calc(-21);

  @include breakpoint(sm up) {
    margin: 0;
  }
}

.decision__button {
  margin: 0 0 rem-calc(32) 0;

  @include breakpoint(md up) {
    margin: 0 0 rem-calc(43) 0;
  }
}

.button {
  width: 100%;
  padding: rem-calc(11) 0;
  font-size: rem-calc(20);
  line-height: rem-calc(24);
  height: auto;

  @include breakpoint(md up) {
    padding: rem-calc(13) rem-calc(38);
    font-size: rem-calc(26);
    line-height: rem-calc(31);
    width: auto;
  }

  @include breakpoint(lg up) {
    padding: rem-calc(10) rem-calc(30);
    font-size: 1.125rem;
    line-height: 1;
  }
}

.decision__button_cancelOrder {
  @include breakpoint(lg up) {
    margin: rem-calc(18) rem-calc(24);
  }
}

.decisionCaption {
  padding: 0 rem-calc(11);
  @include breakpoint(sm up) {
    padding: 0 rem-calc(21);
  }

  @include breakpoint(md up) {
    font-size: rem-calc(18);
    line-height: rem-calc(23);
  }

  @include breakpoint(lg up) {
    padding: 0 rem-calc(25);
    font-size: inherit;
    line-height: inherit;
  }
}

.widthMaxContent {
  width: max-content;
}

.decision__title {
  margin: rem-calc(26) 0 rem-calc(17);

  @include breakpoint(md up) {
    margin: rem-calc(34) 0 rem-calc(21);
  }

  @include breakpoint(lg up) {
    margin: rem-calc(42) 0 rem-calc(21);
  }
}

.decision__caption_lineIndent {
  margin: 0 0 rem-calc(24);

  @include breakpoint(lg up) {
    margin: 0 0 rem-calc(12);
  }
}

.decision__caption_paragraphIndent {
  margin: 0 0 rem-calc(28);
}

