.account-form-header {
    font-size: rem-calc(22);
    font-weight: 400;
    color: #000000;
    line-height: rem-calc(25);

    @include breakpoint(md up) {
        font-size: rem-calc(30);
    }

    @include breakpoint(lg up) {
        font-size: rem-calc(24);
    }
}
