
@mixin getPhoneExtStyle() {

    form {

      .phone--container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .phone {
          min-width: 1%;
          flex-grow: 1;

          @include breakpoint(large) {
            width: rem-calc(147);
          }
        }

        .phone_ext--container {

          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;

          label {
            padding: 0 rem-calc(10);
            display: inline;
            align-self: center;
          }

          input {
            width: rem-calc(72);
          }

        }

        @include breakpoint(large) {
          display: block;

          .phone_ext--container {
            display: inline-block;
          }
        }
      }

      @include breakpoint(large) {
        .phone_ext--container {
          padding-left: rem-calc(30);

          label {
            padding-right: rem-calc(5);

            i {
              color: #777;
            }
          }
        }
      }

      .phone_ext {
        width: rem-calc(72);
      }

      .buttons {
        margin: rem-calc(10) 0;
      }
    }

    .text-block {
      //margin-top: rem-calc(18);

      @include breakpoint(large) {
        margin: 0;
        line-height: rem-calc(38);
      }
    }

    .multiline {
      vertical-align: baseline;
      line-height: 1;
    }

    .hr {
      display: none;

      @include breakpoint(large) {
        display: block;
      }
    }


}