.common-button-upload {
  padding: 8px;
  font-weight: 400;
  font-size: 18px;
  color: #49474A;
  border: 2px solid #ffb400;
  background-color: #fefefe;
  border-radius: 5px;
  text-transform: uppercase;
}
.common-checkbox {
  position: relative;
  border: 1px solid #d4d4d4;
  width: 22px;
  appearance: none;
  height: 22px;
  display: block;
  cursor: pointer;
  background: white;
  flex-shrink: 0;
}

.common-checkbox:after {
  content: '';
  background: url('/static/frontend/dist/images/icons/order/check_mark_grey.svg');
  position: absolute;
  display: block;
  width: 12px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-6px, -7px);
  opacity: 0;
  transition: opacity 0.03s linear;
}

.common-checkbox:checked:after {
  opacity: 1;
}

.common-comment {
  font-size: .8125rem;
  color: #959595;
}

@media screen and (min-width: 23.125em) {
  .common-comment {
    font-size: .875rem;
  }
}

@media screen and (min-width: 45em) {
  .common-comment {
    font-size: .875rem;
  }
}

@media screen and (min-width: 64em) {
  .common-comment {
    font-size: .75rem;
    line-height: 105%;
  }
}
.common-hint {
  font-size: .875rem;
  color: $grey_7;
}
.common-input {
  width: 100%;
  box-shadow: none;
  border: 1px solid #c4c4c4;
  padding: 0 .625rem;
  font-size: 1.25rem;
  line-height: 2.25rem;
  height: 46px;
  vertical-align: middle;
  color: #272727;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  background: #fefefe;
  border-radius: 0;
}

.common-input::placeholder {
  font-style: italic;
  color: $grey_96;
}
.common-input-radio {
  display: none;
}
.common-label {
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
}

@include breakpoint(md up) {
  .common-label {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

@include breakpoint(lg up) {
  .common-label {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.common-radio-label {
  position: relative;
  cursor: pointer;
  padding: 0 0 0 20px;
  display: inline-block;
}

.common-radio-label:before {
  left: 0;
  top: calc(50% - 9px);
  position: absolute;
}

.common-radio-label:after {
  width: 0;
  height: 0;
  left: 10px;
  top: 50%;
  position: absolute;
}

.common-input-radio:checked + .common-radio-label:after {
  left: 5px;
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
}

.common-input-radio + .common-radio-label:after {
  content: "";
  display: block;
  background: #4a4949;
  border-radius: 100px;
  width: 0;
  height: 0;
  transition: all 0.1s linear;
}

.common-input-radio + .common-radio-label:before {
  content: "";
  display: block;
  background: white;
  border-radius: 100px;
  border: 1px solid #959595;
  width: 18px;
  height: 18px;
}

.common-input-radio:checked + .common-radio-label:after {
  width: 8px;
  height: 8px;
}

.common-input-radio:checked + .common-radio-label:before {
  border: 1px solid #4a4949;
}

.common-required:after {
  position: static;
}
.default-form-header {
  line-height: 110%;
  text-align: center;
  margin: 1rem 0 rem-calc(22);

  &.top-title {
    margin-bottom: rem-calc(5);
  }

  &.margin-bottom-default {
    margin-bottom: 1rem;
  }

  @include breakpoint(sm) {
    font-size: rem-calc(26);
  }

  @include breakpoint(medium) {
    font-size: rem-calc(30);
    margin: 1rem 0 rem-calc(32);
  }

  @include breakpoint(large) {
    font-size: rem-calc(20);
    line-height: rem-calc(36);
    text-align: left;
    margin: 0;
  }
}

.switcher-button {
  display: flex;
  box-sizing: content-box;
  cursor: pointer;
  background-origin: content-box;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
}
.switcher-button-icon {
  width: 13px;
  height: 13px;
}
.switcher-button-icon-minus {
  display: none;
}
.switcher-input-container {
  position: relative;
}
.switcher-slider-ball {
        position: absolute;
        left: 5px;
        top: 4px;
        display: block;
        width: 26px;
        height: 26px;
        background: #959595;
        border-radius: 13px;
        z-index: 1;
    }

.switcher-slider-caption {
  position: absolute;
  top: 8px;
  color: #4A4949;
  text-transform: capitalize;
  font-size: 18px;
  display: inline-block;
}

.switcher-slider-input {
        display: none;
            }

.switcher-slider-label {
        position: relative;
        display: block;
        padding: 4px 13px;
        background: #ffffff;
        border: 1px solid #959595;
        border-radius: 20px;
        height: 36px;
        width: 88px;
        cursor: pointer;
        user-select: none;
        overflow: hidden;
    }

@include breakpoint(lg up) {
  .common-input_checkout-phone {
    width: 170px;
  }
}

.common-input__correct {
  border: 1px solid #a7d198;
}

.common-input__wrong {
  border: 1px solid #ee2a31;
}

.common-label_required:after {
  content: "*";
  display: inline;
  vertical-align: top;
  color: red;
  position: static;
  font-weight: 400;
}

@include breakpoint(md up) {
  .common-label_required:after {
    right: -11px;
    position: absolute;
  }
}
.form-field__error {
  margin: 0 0 19px 0;
}
.field__switcher-button {
  position: absolute;
  right: 1px;
  top: 1px;
}

.submit_big {
  padding: 0 2.375rem;
  height: 3.625rem;
  line-height: 3.5rem;
  font-size: 1.5625rem;
  min-width: 100%;
}

@include breakpoint(md up) {
  .submit_big {
    min-width: 15rem;
  }
}

.submit_big:after {
  width: 1.1875rem;
  height: 1rem;
  background-origin: content-box;
  background-size: contain;
  display: inline-block;
  margin-left: .6875rem;
  content: "";
  background: url('/static/frontend/dist/images/icons/cart/arrow_right_checkout.svg') no-repeat;
}

@media print, screen and (min-width: 370px) {
  .submit_big {
    width: auto;
    height: 4.0625rem;
    line-height: 3.9375rem;
    font-size: 1.875rem;
    min-width: 21.25rem;
    max-width: 100%;
  }
}

@media print, screen and (min-width: 45em) {
  .submit_big:after {
    width: 1.1875rem;
    height: 1.1875rem;
  }
}
.switcher-button_other-fields-switcher {
  background-color: #f4f4f4;
  border-left: none;
  height: 44px;
  width: 44px;
  z-index: 1;
}

@media (min-width: 720px) {
  .switcher-button_other-fields-switcher {
    background: #f4f4f4;
  }
}
@include breakpoint(lg up) {
  .switcher-button_product-list {
    height: 32px;
    width: 32px;
  }
}

.switcher-button_white {
  background: #ffffff;
  border: 1px solid #C4C4C4;
  width: 36px;
  height: 36px;
}

.switcher-button_white:hover {
  background: #f6f6f6;
}
.switcher-slider-caption_disabled {
        left: -87px;
        opacity: 0;
    }

.switcher-slider-caption_enabled {
        right: 13px;
        opacity: 1;
    }

.cart-column-multiply-sign {
  text-align: center;
  width: 100%;
}

@include breakpoint(lg up) {
  .cart-column-multiply-sign {
    width: 10px;
  }
}

.cart-column-quantity {
  text-align: center;
}

@include breakpoint(md up) {
  .cart-item-name-quantity {
    justify-content: space-between;
  }
}

@include breakpoint(lg up) {
  .cart-item-name-quantity {
    width: 135px;
    padding-right: 40px;
  }
}
.cart-column-remove {
  width: 100px
}

.cart-item-image {
  max-height: 6.25rem;
  max-width: 100%;
}

.cart-item-remove-button {
  display: flex;
}

.cart-item-sku {
  color: #28862f;
  text-transform: uppercase;
  font-weight: 400;
}

.cart-item-title-link {
  color: black;
}

.cart-number-header{
  font-size: 24px;
  text-align: center;
}
.cart-remove-icon {
  width: 16px;
  height: 16px;
  fill: #959595;
}

@include breakpoint(md up) {
  .cart-remove-icon {
    width: 32px;
    height: 32px;
  }
}

.cart-show-switcher {
  cursor: pointer;
  user-select: none;
}

.cart-remove-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #959595;
  width: 22px;
  height: 22px;
  transition: background 0.1s linear;
}


@include breakpoint(md up) {
  .cart-remove-item-button {
    width: 38px;
    height: 38px;
  }

  .cart-remove-item-button:hover {
    border: 1px solid #fe1104;
  }

  .cart-remove-item-button:hover .cart-remove-icon {
    fill: #fe1104;
  }
}

@include breakpoint(lg up) {
  .cart-remove-item-button {
    width: 29px;
    height: 29px;
  }
}


.cart-table-caption {
  position: relative;
  padding: 10px 32px;
  font-size: 1.125rem;
  font-weight: 700;
  background: $grey_e4;
  cursor: pointer;
}

@include breakpoint(md up) {
  .cart-table-caption {
    font-size: 1.25rem;
    padding: 20px 0 24px;
    text-align: center;
    line-height: 32px;
  }
}

@include breakpoint(ml up) {
  .cart-table-caption {
    padding: 20px 62px 24px;
  }
}

@include breakpoint(lg up) {
  .cart-table-caption {
    font-size: 1.125rem;
    padding: 30px 0 22px;
    background: none;
  }
}
.cart-table-row {
  display: flex;
  padding: .75rem 45px .75rem 0;
  border-top: none;
  border-bottom: 1px solid #e1e1e1;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.grand-total {
  color: #9a1524;
  text-transform: uppercase;
  font-weight: 700;
}
.order-total {
  padding: .5rem 16px 0 0;
  border-top: 2px solid #959595;
  text-align: right;
  font-size: 1em;
  line-height: 1.25rem;
}

@media print, screen and (min-width: 23.125em) {
  .order-total {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

@media print, screen and (min-width: 45em) {
  .order-total {
    font-size: 1.375rem;
    line-height: 1.625rem;
    padding: 28px 45px 0 0;
  }
}

@media print, screen and (min-width: 64em) {
  .order-total {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

.shipping-total {
  color: #28862f;
}
.total-tax {
  color: $blue_a;
}
.cart__switcher-button {
  position: absolute;
  right: 0;
  top: 0;
}

@include breakpoint(md up) {
  .cart__switcher-button {
    top: 20px;
  }
}

@include breakpoint(ml up) {
  .cart__switcher-button {
    right: 32px;
  }
}

@include breakpoint(lg up) {
  .cart__switcher-button {
    top: 30px;
    right: 0;
  }
}

@include breakpoint(xl up) {
  .cart__switcher-button {
    right: 45px;
  }
}

.cart-show-switcher_button {
  width: 10px;
  display: inline-block;
}

.cart-show-switcher_text {
  color: #055A93;
  border-bottom: 1px dashed #055A93;
}

.cart-table-row_checkout {
  border-bottom: none;
}

.cart-table-row_checkout:first-child {
  border-top: none;
}

.cart-table-row_product {
  display: grid;
  grid-template-areas: "grid-image grid-title cell12 cell13 grid-remove" "cell21 grid-counter grid-multiplier grid-price cell25";
  padding: 10px 0;
  grid-template-columns: 110px 50px 26px 1fr 22px;
  grid-row-gap: 7px;
  grid-column-gap: 5px;
}

/*grid-* -- grid cell classes*/

.grid-image {
  grid-area: grid-image;
  text-align: center;
  grid-row: 1/3;
  padding: 0 10px 0 0;
}

.grid-title {
  grid-area: grid-title;
  grid-column: 2/5;
  align-self: flex-start;
}

.grid-remove {
  grid-area: grid-remove;
  align-self: flex-start;
  justify-self: flex-end;
}

.grid-counter {
  grid-area: grid-counter;
}

.grid-multiplier {
  grid-area: grid-multiplier;
}

.grid-price {
  grid-area: grid-price;
}

.grid-sku {
  grid-area: grid-sku;
}

.cart-table-row_product:first-child {
  padding: 0 0 10px 0;
}

.cart-table-row_product:last-child {
  border-bottom: none;
  padding: 10px 0 20px;
}

@include breakpoint(md up) {
  .cart-table-row_product {
    grid-template-areas: "grid-image grid-title grid-remove grid-counter grid-multiplier grid-price";
    grid-template-columns: 110px 1fr 111px auto 46px 100px;
  }

  .grid-image {
    grid-row: 1/2;
  }

  .grid-remove {
    justify-self: center;
    align-self: center;
  }

  .grid-title {
    align-self: center;
    grid-column: 2;
  }

  .grid-multiplier {
    justify-content: center;
  }
}

@include breakpoint(lg up) {
  .cart-table-row_product {
    grid-template-columns: 110px 1fr 111px 95px 66px 100px;
    padding: 20px 45px 20px 0;
  }

  .cart-table-row_product:first-child {
    padding: 20px 45px 20px 0;
  }

  .cart-table-row_product:last-child {
    padding: 20px 45px 0 0;
  }

  .grid-multiplier {
    justify-self: center;
  }

  .grid-title_header {
    grid-column: 2/4;
  }
}

.cart-table-row_subtotal {
  color: #83132B;
  border: none;
  padding: 15px 10px;
  height: initial;
  min-height: initial;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

@include breakpoint(md up) {
  .cart-table-row_subtotal {
    padding: 30px 45px 30px 0;
  }
}

@include breakpoint(lg up) {
  .cart-table-row_subtotal {
    padding: 28px 45px 38px 0;
  }
}
.cart-table-row__head {
  height: 40px;
  line-height: 40px;
  background: #F4F4F4;
  min-height: 0;
  border: none;
  padding: 0 45px 0 0;
}

.order-total__grand {
  margin-top: 1rem;
}

.billing-form-address-fields {
  display: none;
}

@include breakpoint(lg up) {
  .billing-form-address-fields {
    padding: 0 0 20px 0;
  }
}

@include breakpoint(lg up) {
  .billing-form-fields {
    max-width: 360px;
  }
}

.billing-same-shipping-variant-label {
  padding: 0 0 0 31px;
}

.billing-same-shipping-radio-group {
  cursor: pointer;
  padding: 10px;
}

@include breakpoint(lg up) {
  .billing-same-shipping-radio-group:first-child {
    padding: 0 34px 0 0;
  }

  .billing-same-shipping-radio-group:last-child {
    padding: 0 34px;
  }
}
.billing-same-shipping-variants {
  display: flex;
  padding: 0 0 0 27px;
}

@include breakpoint(lg up) {
  .billing-same-shipping-variants {
    padding: 0;
  }
}

.checkout-arrow-right {
  height: 2.1875rem;
  overflow: hidden;
  width: .625rem;
  position: absolute;
  top: -1px;
  right: -.625rem;
}

@include breakpoint(lg up) {
  .checkout-arrow-right {
    height: 2.5rem;
    width: .75rem;
    right: -.75rem;
    top: -2px;
  }
}

@include breakpoint(md up) {
  .checkout-arrow-right {
    height: 3.5rem;
    width: 1.0625rem;
    right: -1.0625rem;
    top: -2px;
  }
}

@media screen and (min-width: 23.125em) {
  .checkout-arrow-right {
    height: 45px;
    width: .8125rem;
    right: -.8125rem;
    top: -2px;
  }
}

.checkout-arrow-right:after {
  content: "";
  display: block;
  border-top: 1px solid $thead_color;
  border-right: 1px solid $thead_color;
  position: absolute;
  top: 10px;
  right: 0;
  width: 2.1875rem;
  height: 2.1875rem;
  transform: matrix(.37, .7, -.6, 1.21, 0, 0);
  background: #fff;
  z-index: 1;
}

@include breakpoint(md up) {
  .checkout-arrow-right:after {
    width: 56px;
    height: 60px;
    top: 15px;
    right: 2px;
  }
}

@include breakpoint(large up) {
  .checkout-arrow-right:after {
    width: 2.5rem;
    height: 2.5rem;
    top: 10px;
    right: 0;
  }
}


.checkout-billing-other-fields {
  display: none;
}

.checkout-billing-switcher-field-wrapper {
  position: relative;
  padding: 0 36px 0 0;
}

.checkout-customer-notes {
  width: 100%;
  resize: vertical;
  min-height: 90px;
  padding: 8px;
  border: 1px solid #c4c4c4;
}

@include breakpoint(md up) {
  .checkout-customer-notes {
    padding: 8px 10px;
  }
}

.checkout-customer-notes::placeholder {
  font-style: italic;
}

.checkout-customer-notes-row {
  padding: 0 10px;
}

@include breakpoint(md up) {
  .checkout-customer-notes-row {
    padding: 0;
  }
}
.checkout-field {
  position: relative;
}

@include breakpoint(md up) {
  .checkout-field {
    flex-grow: 1;
    max-width: 320px;
  }
}

@include breakpoint(lg up) {
  .checkout-field {
    max-width: initial;
  }
}
@include breakpoint(md up) {
  .checkout-field-row {
    display: flex;
  }
}

@include breakpoint(lg up) {
  .checkout-field-row {
    display: block;
  }
}
.checkout-left-column {
  padding: 0 20px;
}

@include breakpoint(md up) {
  .checkout-left-column {
    padding-right: .625rem;
    padding-left: .625rem;
  }
}

@include breakpoint(lg up) {
  .checkout-left-column{
    padding-right: 80px !important;
  }
}

.checkout-field-title {
  line-height: 110%;
}

@include breakpoint(md up) {
  .checkout-field-title {
    text-align: right;
    justify-content: flex-end;
    padding: 0 rem-calc(21) 0 0;
    align-items: center;
    display: flex;
  }
}

@include breakpoint(lg up) {
  .checkout-field-title {
    text-align: left;
    justify-content: flex-start;
    padding: rem-calc(5) 0 0 0;
  }
}
.checkout-phone-ext-long-hint {
  display: flex;
  align-items: center;
  padding: 0 5px;
  color: black;
}

@include breakpoint(lg up) {
  .checkout-phone-ext-long-hint {
    font-weight: 700;
  }
}

.checkout-second-header {
  font-size: 22px;
}

@include breakpoint(medium up) {
  .checkout-second-header {
    font-size: 30px;
  }
}

@include breakpoint(large up) {
  .checkout-second-header {
    font-size: 24px;
  }
}
.checkout-shipping-other-fields {
  display: none;
}

.checkout-step {
  display: block;
  position: relative;
  height: 35px;
  min-width: 35px;
  line-height: 33px;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  flex-grow: 2;
  background-color: $white;
  border: 1px solid $thead_color;
  border-right: none;
}

@media screen and (min-width: 64em) {
  .checkout-step {
    height: 2.5rem;
    min-width: 2.5rem;
    line-height: 2.25rem;
    font-size: .875rem;
    justify-content: space-around;
  }
}

@media screen and (min-width: 45em) {
  .checkout-step {
    height: 3.5rem;
    min-width: 3.5rem;
    line-height: 3.25rem;
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 23.125em) {
  .checkout-step {
    height: 2.8125rem;
    min-width: 2.8125rem;
    line-height: 2.5625rem;
    font-size: .8125rem;
  }
}

@media screen and (min-width: 64em) {
  .checkout-step {
    height: 2.5rem;
    min-width: 2.5rem;
    line-height: 2.25rem;
    font-size: .875rem;
    justify-content: space-around;
  }
}

.checkout-step:last-child {
  border-right: 1px solid $thead_color;
  padding-right: .625rem;
  width: 2.875rem;
  flex-grow: 1;
}

@media screen and (min-width: 64em) {
  .checkout-step:last-child {
    padding-right: .75rem;
    width: 3.25rem;
    flex-basis: 5rem;
  }
}

@media screen and (min-width: 45em) {
  .checkout-step:last-child {
    padding-right: 1.0625rem;
    width: 4.5625rem;
  }
}

@media screen and (min-width: 23.125em) {
  .checkout-step:last-child {
    padding-right: .8125rem;
    width: 3.625rem;
  }
}

.checkout-step-link {
  text-decoration: none;
  color: #acacac;
  margin-left: .625rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: default;
  display: block;
}

@media print, screen and (min-width: 64em) {
  .checkout-step-link {
    margin-left: .75rem;
  }
}

@media print, screen and (min-width: 45em) {
  .checkout-step-link {
    margin-left: 1.0625rem;
  }
}

@media print, screen and (min-width: 23.125em) {
  .checkout-step-link {
    margin-left: .8125rem;
  }
}

.checkout-steps-list {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 100%;
  text-align: justify;
  margin-bottom: 0;
}
.payment-methods-header {
  font-size: 22px;
}

@include breakpoint(md up) {
  .payment-methods-header {
    font-size: 30px;
  }
}

@include breakpoint(md up) {
  .payment-methods-header {
    font-size: 24px;
  }
}

.toggle-other-fields {
  display: inline-block;
  background: #f4f4f4;
  color: #000000;
  text-align: center;
  width: 38px;
  height: 38px;
  line-height: 36px;
  font-size: 30px;
  cursor: pointer;
}

.checkout-mandatory {
  font-size: 14px;
  color: #959595;
}

@include breakpoint(lg up) {
  .checkout-mandatory {
    font-size: 12px;
  }
}

.billing-same-shipping__header {
  margin: 26px 0 15px 0;
}

@include breakpoint(md up) {
  .billing-same-shipping__header {
    margin: 26px 0 19px 0;
  }
}

@include breakpoint(lg up) {
  .billing-same-shipping__header {
    margin: 26px 0 11px 0;
  }
}

.billing-same-shipping__variants {
  margin: 12px 0 0 0;
}

.checkout__canada-cods-checkbox {
  margin: 0 15px 0 0;
}

@include breakpoint(md up) {
  .checkout__canada-cods-checkbox {
    margin: 0 25px 0 0;
  }
}

@include breakpoint(lg up) {
  .checkout__canada-cods-checkbox {
    margin: 0 38px 0 0;
  }
}
.checkout__canada-cods-field {
  margin: 6px 0 0 0;
}

@include breakpoint(lg up) {
  .checkout__canada-cods-field {
    margin: 25px 0 0 0;
  }
}

.checkout__cart-table-caption {
  margin: 0 -10px 5px;
}
@media (min-width: 1200px) {
  .checkout__delivery-methods-header {
    margin: 25px 0 8px;
  }
}
@include breakpoint(md up) {
  .checkout__error {
    left: 50%;
  }
}

@include breakpoint(lg up) {
  .checkout__error {
    left: auto;
  }
}

.checkout__mandatory {
  margin: 0 0 10px 0;
}

@include breakpoint(md up) {
  .checkout__mandatory {
    margin: 0 0 20px 0;
  }
}
.checkout__payment-methods-container {
  margin: 0 -10px;
}

@include breakpoint(lg up) {
  .checkout__payment-methods-container {
    margin: 0;
  }
}
.checkout__second-header {
  margin: 25px 0 20px;
}

@include breakpoint(md up) {
  .checkout__second-header {
    margin: 35px 0 30px;
  }
}

@include breakpoint(lg up) {
  .checkout__second-header {
    margin: 25px 0 20px;
  }
}

@include breakpoint(lg up) {
  .checkout__shipping-header {
    margin: 25px 0 8px;
  }
}
.checkout__shipping-method-item {
  margin: 0 0 2px;
}

.checkout__shipping-method-item:first-child {
  margin: 20px 0 0;
}

.checkout__shipping-method-item:last-child {
  margin: 2px 0 0;
}

.checkout__shipping-method-item:first-child:last-child {
  margin: 20px 0 0;
}
.checkout__single-common-label {
  margin: 0 0 7px 0;
}

@include breakpoint(lg up) {
  .checkout__single-common-label {
    margin: 0 0 12px 0;
  }
}

.checkout__total-tax{
  margin: 10px 0;
}

@include breakpoint(md up) {
  .checkout__total-tax{
    margin: 25px 0;
  }
}

@include breakpoint(lg up) {
  .checkout__total-tax{
    margin: 7px 0;
  }
}

.checkout-arrow-right_active:after {
  background-color: #d9ead3;
}

.checkout-billing-form__other-fields-switcher {
  position: absolute;
  right: 0;
  bottom: 0;
}

.checkout-customer-notes__row {
  margin: 22px auto 0;
}

@include breakpoint(md up) {
  .checkout-customer-notes__row {
    margin: 40px auto 0;
  }
}

@include breakpoint(lg up) {
  .checkout-customer-notes__row {
    margin: 50px auto 0;
  }
}

.checkout-field__row {
  margin: 0 0 9px 0;
}

@include breakpoint(md up) {
  .checkout-field__row {
    margin: 0 0 18px 0;
  }
}

@include breakpoint(lg up) {
  .checkout-field__row {
    margin: 0 0 15px 0;
  }
}

.checkout-form__submit-button {
  margin: 26px 0 0 0;
}

@include breakpoint(md up) {
  .checkout-form__submit-button {
    margin: 36px 0 0 0;
  }
}

@include breakpoint(lg up) {
  .checkout-form__submit-button {
    margin: 50px 0 0 0;
  }
}

.checkout-payment-methods__header {
  margin: 25px 0;
}

@include breakpoint(lg up) {
  .checkout-payment-methods__header {
    margin: 53px 0 27px;
  }
}

.checkout-payment-methods__purchase-order-header {
  margin: 0 0 16px;
}
.checkout-step_active {
  background-color: #fff2cc;
}

.checkout-step_inactive {
  background-color: #d9ead3;
}

.checkout-step_one-page:first-child {
  flex-grow: 1;
}

.checkout-step_one-page:last-child {
  flex-grow: 2.5;
}

.checkout-step-link_active {
  color: #0a0a0a;
}

.checkout-step-link_inactive {
  cursor: pointer;
  color: #0a0a0a;
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-thickness: 2px;
}

.checkout-step-link_inactive:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-thickness: 2px;
}

.shipping-form__other-fields-switcher {
  position: absolute;
  right: 0;
  bottom: 0;
}

.checkout-mandatory__required {
  font-size: 1.0625rem;
}

.payment-method-description {
  font-size: 14px;
  line-height: 19px;
}

.payment-method-description-long {
  display: none;
  padding: 20px 0 0 0;
}

@include breakpoint(md up) {
  .payment-method-description-long {
    padding: 0 0 0 53px;
  }
}
@include breakpoint(lg up) {
  .payment-method-description-long {
    padding: 0;
  }
}

.payment-method-description-preview {
  display: flex;
  align-items: center;
  color: #4a4949;
  padding: 0 0 0 34px;
}

@include breakpoint(md up) {
  .payment-method-description-preview {
    min-height: 40px;
    padding: 0 0 0 54px;
  }
}

@include breakpoint(lg up) {
  .payment-method-description-preview {
    padding: 0;
  }
}

.payment-method-item {
  display: block;
  padding: 8px 20px;
  cursor: pointer;
}

@include breakpoint(md up) {
  .payment-method-item {
    padding: 13px 44px;
  }
}

@include breakpoint(lg up) {
  .payment-method-item {
    padding: 20px 32px;
  }
}
.payment-method-name {
  line-height: 19px;
  display: flex;
  align-items: center;
}

@include breakpoint(lg up) {
  .payment-method-name {
    height: 40px;
  }
}

.payment-method-row {
  background-color: #f4f4f4;
  font-size: 16px;
  height: 38px;
}

@media print, screen and (min-width: 720px) {
  .payment-method-row {
    font-size: 18px;
    height: 63px;
  }
}

@media print, screen and (min-width: 1024px) {
  .payment-method-row {
    font-size: 14px;
    height: 40px;
  }
}
.payment-method-title {
  font-size: 18px;
}

.payment-methods-container {
  border-bottom: 1px solid #c4c4c4;
}

.payment-radio-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 34px;
  height: 100%;
  font-weight: 700;
}

@include breakpoint(md up) {
  .payment-radio-label {
    padding: 0 0 0 54px;
  }
}

@media print, screen and (min-width: 1024px) {
  .payment-radio-label {
    padding: 0 0 0 70px;
  }
}

.payment-method-item_odd {
  background: #f4f4f4;
}

.payment-method-item_selected {
  cursor: default;
}
.payment-method-row__label:after {
  position: absolute;
  left: 25px;
  top: calc(50% - 0px);
}

.payment-method-row__label:before {
  position: absolute;
  left: 15px;
  top: calc(50% - 10px);
}

.common-input-radio:checked + .payment-method-row__label:after {
  position: absolute;
  left: 20px;
  top: calc(50% - 5px);
}

.shipping-method-name {
  font-weight: 700;
  position: relative;
  padding: 0 0 0 17px;
}

.shipping-method-row {
  font-size: 16px;
  height: 38px;
  padding: 0 20px;
  display: block;
  background: #f5f5f5;
}

@include breakpoint(md up) {
  .shipping-method-row {
    padding: 0 53px 0 44px;
  }
}

@include breakpoint(lg up) {
  .shipping-method-row {
    padding: 0 0 0 15px;
    background: none;
  }
}

.shipping-radio-label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

@include breakpoint(lg up) {
  .shipping-radio-label {
    padding: 0 46px 0 63px;
  }
}

@include breakpoint(lg up) {
  .shipping-method-row_selected {
    outline: 1px solid #c4c4c4;
  }
}

.footer-scroll-up-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 48px;
  background: #2f4956;
  box-shadow: 0 1px 3px 3px #0f1d25;
  border-radius: 2px;
  padding: 6px 0;
}

.footer-scroll-up-button:active {
  background: #3d5c6c;
}
.footer-scroll-up-icon {
  width: 20px;
  height: 16px;
  transform: rotateX(180deg);
}
.footer-scroll-up-title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
}
.footer__scroll-up-button {
  margin: 20px 0 10px;
}

@include breakpoint(md up) {
  .footer__scroll-up-button {
    display: none;
  }
}

.canada-cods-field-group {
  display: flex;
  flex-shrink: 0;
}

.checkout-canada-cods-checkbox {
  flex-shrink: 0;
  flex-grow: 1;
}

.checkout-compound-main-container {
  width: 70%;
  position: relative;
}

@include breakpoint(lg up) {
  .checkout-compound-main-container {
    width: 60%;
  }
}

.checkout-compound-phone-container {
  display: flex;
}

.checkout-phone-ext-container {
  display: flex;
  max-width: 30%;
}

@include breakpoint(lg up) {
  .checkout-phone-ext-container {
    max-width: 40%;
  }
}


.checkout-phone-ext-short-hint {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.clear-input {
  display: none;
  position: absolute;
  top: 50%;
  right: .375rem;
  width: 1.25rem;
  height: 1.25rem;
  margin-top: -.5625rem;
  background: url('/static/frontend/dist/images/icons/forms/remove.svg') 0 0 no-repeat;
  cursor: pointer;
}

.hasClose .clear-input{
  display: block;
}

@include breakpoint(md up) {
  .clear-input {
    right: .5rem;
    margin-top: -.625rem;
  }
}

@include breakpoint(lg up) {
  .clear-input {
    display: none;
  }
}
.form-field-error {
  display: none;
  font-size: 14px;
  position: relative;
  list-style: none;
  background-color: #ffebeb;
  border: 1px solid #ee2a31;
  line-height: 22px;
  width: 100%;
  text-align: center;
  padding: .6875rem .625rem;
}

@include breakpoint(lg up) {
  .form-field-error {
    max-width: 400px;
  }
}

.form-field-error-text {
  padding: 3px 12px;
}

.form-field-error-text:before {
  content: "";
  position: absolute;
  left: calc(50% - 10px);
  border: 1px solid #ed1c24;
  transform: rotate(63deg) skewX(36deg);
  width: 10px;
  height: 8px;
  bottom: -.3125rem;
  border-top: none;
  border-left: none;
  background: linear-gradient(321deg, #ffebeb 50%, transparent 50%) #ffebeb;
}
@include breakpoint(lg up) {
  .form-purchase-order-details {
    max-width: 360px;
  }
}


.input-container{
  position: relative;
}
.mandatory-star {
  display: inline;
  vertical-align: top;
  color: red;
  position: static;
  font-weight: 400;
  font-size: 14px;
}
.switcher-input {
  padding: 0 50px 0 10px;
}
@include breakpoint(md up) {
  .error_checkout {
    width: 320px;
  }
}

@include breakpoint(lg up) {
  .error_checkout {
    width: 100%;
  }
}

.field__title {
  margin: 0 0 5px 0;
}

@include breakpoint(md up) {
  .field__title {
    margin: 0;
  }
}

@include breakpoint(lg up) {
  .field__title {
    margin: 0 0 5px 0;
  }
}

.common-field-error_visible {
  display: inline-block;
}
.add-product {
  display: flex;
  justify-content: flex-start;
}

@include breakpoint(md up) {
  .add-product {
    justify-content: flex-end;
  }
}

@include breakpoint(lg up) {
  .add-product {
    justify-content: flex-start;
  }
}

.add-to-cart-button {
  display: flex;
  grid-gap: 10px;
  width: 100%;
}

@include breakpoint(md up) {
  .add-to-cart-button {
    justify-content: flex-end;
  }
}

.add-to-cart-button-add {
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
  line-height: rem-calc(42);
  height: rem-calc(42);
  font: {
    size: rem-calc(18);
    weight: 900;
  }
}

.add-to-cart-button-add:before {
  content: url("../../dist/images/icons/add_to_cart.svg");
  display: inline-block;
  width: rem-calc(35);
  height: rem-calc(38);
  background-size: 90%;
  vertical-align: text-bottom;
}

@include breakpoint(md up) {
  .add-to-cart-button-add {
    flex-grow: 0;
    width: 100%;
  }
}
.add-to-cart-button-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #494949;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  width: 139px;
}

.add-to-cart-button-wrapper {
  flex-grow: 1;
  display: none;
}

@include breakpoint(md up) {
  .add-to-cart-button-wrapper {
    flex-grow: 0;
  }
}

@include breakpoint(lg up) {
  .add-to-cart-button-wrapper {
    flex-grow: 1;
  }
}

.jackpot {
  margin-bottom: rem-calc(17);
  color: #2a8c3e;
  display:none;
  text-align: left;
}

@include breakpoint(md up) {
  .jackpot {
    text-align: right;
  }
}

@include breakpoint(lg up) {
  .jackpot {
    text-align: left;
  }
}
.no-account {
  display: none;
  margin-top: rem-calc(5);
  color: #777777;
  font-size: rem-calc(14);
  white-space: pre-line;
  text-align: left;
}

@include breakpoint(md up) {
  .no-account {
    text-align: right;
  }
}

@include breakpoint(lg up) {
  .no-account {
    text-align: left;
  }
}
.quantity-group {
  border: 1px solid #aaaaaa;
}

@include breakpoint(md up) {
  .quantity-group {
    border: 1px solid #ffe296;
  }
}

.quantity-group-btn {
  flex: 0 0 1.375rem;
  color: #000;
  text-align: center;
  background-color: #fff0ca;
  height: 35px;
  min-width: 1.4em;
  line-height: 34px;
  cursor: default;
  display: none;
  align-items: center;
  justify-content: center;
  user-select: none;
}

@include breakpoint(md up) {
  .quantity-group-btn {
    display: flex;
  }
}

@include breakpoint(lg up) {
  .quantity-group-btn {
    height: 1.75rem;
    line-height: 1.6875rem;
  }
}

.quantity-group-dec {
  display: none;
}

@include breakpoint(md up) {
  .quantity-group-dec {
    display: block;
  }
}
.quantity-group-inc {
  display: none;
}

@media (min-width: 720px) {
  .quantity-group-inc {
    display: block;
  }
}
.quantity-group-input {
  height: 1.75rem;
  line-height: 1.6875rem;
}
.add-to-cart-button_product {
  grid-gap: 17px;
}

@include breakpoint(md up) {
  .add-to-cart-button_product {
    width: 380px;
  }
}


.add-to-cart-button-add__complex {
  width: 51px;
  flex-grow: 0 !important;
}

.add-to-cart-button-add__complex.wait:before {
  display: inline-block;
  content: url('/static/frontend/dist/images/icons/green_check_mark.svg');
  height: 1.875rem;
  width: 1.8125rem;
  margin-left: .4375rem;
}

.add-to-cart-button-add__complex-product {
  flex-grow: 0;
  width: 85px;
}

.add-to-cart-button-add__complex-product.wait:before {
  display: inline-block;
  content: url('/static/frontend/dist/images/icons/green_check_mark.svg');
  height: 1.875rem;
  width: 1.8125rem;
  margin-left: .4375rem;
}
@include breakpoint(md up) {
  .add-to-cart-button-add__product {
    flex-grow: 0;
  }
}

.add-to-cart-button-checkout_complex {
  display: flex;
  flex-grow: 1;
}

.cart_add .add-to-cart-button-main_complex:before {
  width: 39px;
  height: 30px;
}

.add-to-cart-button-checkout_product {
  align-items: center;
  width: 100%;
}

.add-to-cart-button-checkout_product:hover {
  text-decoration: none;
}

.quantity-group-btn_active {
  background-color: #ffe296;
  cursor: pointer;
  user-select: none;
}
.quantity-group-btn_dec {
  border-right: 1px solid #ffe296;
}
.quantity-group-btn_inc{
  border-left: 1px solid #ffe296;
}
.billing__switcher{
  margin: 0 0 14px 0;
}

@include breakpoint(md up) {
  .billing__switcher{
    margin: 0 0 24px 0;
  }
}

@include breakpoint(lg up) {
  .billing__switcher{
    margin: 0 0 29px 0;
  }
}
