.clickable__yellow {
    transition: all 0.125s ease-out;

    &:focus {
        background: #fff7de;
    }

    &:hover {
        background: #ffebb2;
    }
    &:active {
        background: #fde39b;
    }
}