.brands-list-container{
  .item-title {
    max-width: initial;
  }

  /* Стили для мобильных устройств */
  @include breakpoint(ml down) {
    .all-departments-menu {

      padding: 0 .5rem;

      /* Ссылка на основную категорию */
      .item-title {
        padding: .7rem .5rem;
        display: block;

        .title {
          text-align: center;
        }
      }
    }
  }

  /* Стили для десктопа */
  @include breakpoint(large up) {
    /* Верхнее меню - все основные категории */
    .all-departments-menu {
      /* Ссылка на основную категорию */
      .item-title {
        padding-top: .5rem;
        padding-bottom: .5rem;
        display: block;

        .title {
          text-align: center;
          font-size: 1.5em;
        }
      }
    }

  }
}