
.checkout-options-form {

  $medium-font-size: rem-calc(20);
  $large-font-size: rem-calc(14);

  h3 {
    font-size: rem-calc(15);
    font-weight: bold;
    line-height: rem-calc(22);
    text-align: center;
  }

  .methods-label {
    //display: inline-block;
    line-height: 100% !important;
    white-space: nowrap;
    cursor: pointer;

    .methods-text {
      display: inline-block;

      .name{
        font-size: rem-calc(14);

        @include breakpoint(sm){
          font-size: rem-calc(17);
        }

        @include breakpoint(medium){
          font-size: $medium-font-size;

          &:after{
            content: ' - ';
            display: inline;
          }
        }

        @include breakpoint(large){
          font-size: $large-font-size;
        }

      }

      .comment {
        display: block;
        font-size: rem-calc(12);
        color: #4a4a4a;

        @include breakpoint(sm){
          font-size: rem-calc(14);
        }

        @include breakpoint(medium){
          display: inline;
          font-size: $medium-font-size;
          font-weight: normal;
          color: #000000;
        }

        @include breakpoint(large){
          font-size: $large-font-size;
        }
      }
    }

    &:before {
      vertical-align: top !important;
    }
  }

  .methods-table {
    display: table;
    width: 100%;

    .methods-row {
      display: table-row;
      background-color: #f4f4f4;

      .methods-cell {
        display: table-cell;
        vertical-align: top;
      }
    }

    .methods-row-space {
      display: table-row;
      height: 2px;
    }
  }

  .shipping-methods {
    .methods-row {

      .delivery-item-label {
        width: 70%;
        text-align: left;
        padding: rem-calc(9) 0 rem-calc(9) rem-calc(9);

        @include breakpoint(medium){
          padding: rem-calc(17) 0 rem-calc(17) rem-calc(20);
        }
        @include breakpoint(large){
          padding: rem-calc(7);
        }
      }

      .delivery-item-price {
        width: 30%;
        text-align: left;
        padding: rem-calc(9);
        font-size: rem-calc(14);

        @include breakpoint(sm){
          font-size: rem-calc(17);
        }

        @include breakpoint(medium){
          font-size: $medium-font-size;
          padding: rem-calc(17) rem-calc(20);
        }

        @include breakpoint(large){
          font-size: $large-font-size;
          padding: rem-calc(7);
        }

        .cost {
          white-space: nowrap;
        }

      }
    }

  }

  .radio-list-table{
    .table-row{
      display: block;
      margin-bottom: 1rem;

      @include breakpoint(large){
        display: table-row;
        margin-bottom: 0;
      }

      .table-cell{
        display: block;

        @include breakpoint(large){
          display: table-cell;
        }

        label{
          background-color: transparent;
          font-size: rem-calc(15);
          line-height: 2rem;
          cursor: pointer;
          padding-left: .5625rem;

          @include breakpoint(sm){
            font-size: rem-calc(18);
          }
        }

        &.payment-description{
          color: #4a4a4a;
          font-size: rem-calc(12);
          line-height: rem-calc(16);
          padding-left: 2.2rem;
          cursor: default;

          @include breakpoint(sm){
            font-size: rem-calc(14);
          }
        }

      }
    }
  }

}

.non-us-disclaimer{
  margin-top: 1rem;

  input{
    display: none;
  }

  label{
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    padding-left: 37px;
    display: inline-block;

    &:before{
      content: '';
      display: block;
      width: 21px;
      height: 21px;
      border: 1px solid #d4d4d4;
      position: absolute;
      top: 0;
      left: 8px;
    }

  }


  input:checked + label{
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    padding-left: 37px;
    display: inline-block;

    &:before{
      content: '';
      display: block;
      width: 21px;
      height: 21px;
      border: 1px solid #d4d4d4;
      position: absolute;
      top: 0;
      left: 8px;
    }

    &:after{
      content: url("../../dist/images/icons/order/check_mark_grey.svg");
      position: absolute;
      display: block;
      width: 12px;
      height: 15px;
      top: 3px;
      left: 12px;
    }

  }

}