.contact-form {

  h1 {
    margin-bottom: 0;
    text-align: center;
  }

  input, textarea, select {
    width: 100%;
    padding: .5rem 10px;
    border: 1px solid #aaaaaa;
    &::placeholder {
      font-style: italic;
      color: #969696;
    }
  }

  select{
    appearance: none;
    background: url('../images/select_str.png') calc(100% - .625rem) center no-repeat;
  }

  .page-info-text span.required:after,
  label.required:after {
    content: '*';
    display: inline;
    vertical-align: top;
    color: #ff0000;
  }

  .page-info-text {

    text-align: center;
    font-size: rem-calc(14);
    color: #4a4949;
    line-height: 100%;
    margin-bottom: 30px;

    .required {
      font-size: rem-calc(22);
    }
  }

  .form-field {

    margin-bottom: 1.25rem;
    padding: 0 .625rem;

    .field-title {
      line-height: 110%;
      margin-bottom: .33rem;

      label {
        font-size: rem-calc(17);
        font-weight: bold;
      }

      .hint {
        font-size: rem-calc(11);
        color: #777777;
      }
    }
  }

  @include breakpoint(sm up) {
    .field-title {
      label {
        font-size: rem-calc(20);
      }

      .hint {
        font-size: rem-calc(14);
      }
    }
  }

  @include breakpoint(medium up) {

    .form-field {
      display: flex;

      .field-title {
        text-align: right;
        width: 50%;
        padding-right: .5625rem;

        label {
          font-size: rem-calc(18);
        }

        .hint {
          font-size: rem-calc(14);
        }

      }
      .field {
        width: 50%;
        input, select, textarea {
          max-width: 20rem;
        }
      }
    }

  }

  @include breakpoint(large up) {
    .form-field {
      .field-title {
        label {
          font-size: rem-calc(14);
        }

        .hint {
          font-size: rem-calc(12);
        }
      }
      .field {
        input, select {
          max-width: 15.9375rem;
        }
        #ContactUsForm_subject_line,
        #ContactUsForm_messsage {
          max-width: 32.9375rem;
        }
      }
    }
  }

  .button-row {
    text-align: center;

    .submit-button {
      display: inline-block;
      font-weight: bold;
      line-height: 100%;
      background-color: #ffb400;
      border-radius: 4px;
      padding: 15px 35px;
      cursor: pointer;
    }
  }

  .hr-position {
    .hr {
      border-bottom: 1px solid #bbbbbb;
      margin-top: 40px;
    }
  }
  .tabs-container{
    margin-top: 44px;

    display: flex;

    .tabs-title-container{
      width: 100px;
      ul{
        width:6.25rem;
        .tabs-title{
          background-color: #e7eaeb;
          border: 1px solid #b2b8bc;
          font-size: rem-calc(17);
          text-decoration: none;
          margin-bottom: .25rem;

          a{
            color:#505050;
            padding: 1rem 1.75rem;
            span{
              border-bottom: 1px dashed #505050;
            }
            &:hover{
              background-color: #e7eaeb;
              color:#505050;
              text-decoration: none;
            }
          }

        }
      }
    }
    .tabs-content-container{
      width: calc(100% - 6.25rem);
      .tabs-content{
        width:100%;
      }
    }
  }

  //.tabs-container {
  //  margin-top: 44px;
  //
  //  .tabs-title-container{
  //    padding-right:0 !important;
  //
  //    .tabs-title {
  //      text-align: center;
  //      font-size: 1rem;
  //      a{
  //        padding:1rem 0;
  //      }
  //    }
  //  }
  //  .tabs-panel-container{
  //    padding-left:0 !important;
  //  }
  //}

}