.contact-form {

  h1 {
    margin-bottom: 0;
    text-align: center;
  }

  .tried_to_submit {

    input[required]:invalid,
    textarea[required]:invalid,
    select[required]:invalid {
      border: 1px solid red;
    }

  }

  input.invalid,
  textarea.invalid,
  select.invalid {
    border: 1px solid red;
  }

  input, textarea, select {
    width: 100%;
    box-shadow: none;
    padding: .5rem .625rem;
    border: 1px solid #aaaaaa;
    &::placeholder {
      font-style: italic;
      color: #969696;
    }
    &:focus {
      border: 1px solid #ff8d91;
    }
  }

  @include breakpoint(large up) {
    input, textarea {
      padding: .125rem .625rem .25rem;
    }
    select {
      padding: .0625rem .625rem;
    }
  }

  select {
    appearance: none;
    background: url('../images/select_str.png') calc(100% - .625rem) center no-repeat;
    outline: none;
  }

  .page-info-text span.required:after,
  label.required:after {
    content: '*';
    display: inline;
    vertical-align: top;
    color: #ff0000;
  }

  .page-info-text {

    text-align: center;
    font-size: rem-calc(14);
    color: #4a4949;
    line-height: 100%;
    margin-bottom: 30px;

    .required {
      font-size: rem-calc(22);
    }
  }

  .form-field {

    margin-bottom: 1.25rem;
    padding: 0 .625rem;

    .field-title {
      line-height: 110%;
      margin-bottom: .33rem;

      label {
        font-size: rem-calc(17);
        font-weight: bold;
      }

      .hint {
        font-size: rem-calc(11);
        color: #777777;
      }
    }
  }

  @include breakpoint(sm up) {
    .field-title {
      label {
        font-size: rem-calc(20);
      }

      .hint {
        font-size: rem-calc(14);
      }
    }
  }

  @include breakpoint(medium up) {

    .form-field {
      display: flex;

      .field-title {
        text-align: right;
        width: 50%;
        padding-right: .5625rem;

        label {
          font-size: rem-calc(18);
        }

        .hint {
          font-size: rem-calc(14);
        }

      }
      .field {
        width: 50%;
        input, select, textarea {
          max-width: 20rem;
        }
      }
    }

  }

  @include breakpoint(large up) {
    .form-field {
      margin-bottom: .625rem;
      .field-title {
        height: 1.5rem;
        label {
          font-size: rem-calc(14);
          font-weight: normal;
        }

        .hint {
          font-size: rem-calc(12);
          line-height: 105%;
        }
      }
      .field {
        font-size: rem-calc(14);
        input, select {
          max-width: 15.9375rem;
        }
        #ContactUsForm_subject_line,
        #ContactUsForm_messsage {
          max-width: 32.9375rem;
        }
      }
    }
  }

  .button-row {
    text-align: center;

    .submit-button {
      display: inline-block;
      font-weight: bold;
      line-height: 100%;
      background-color: #ffb400;
      border-radius: 4px;
      padding: 15px 35px;
      cursor: pointer;
    }
  }

  .hr-position {
    .hr {
      border-bottom: 1px solid #bbbbbb;
      margin-top: 40px;
    }
  }

  .tabs-container {
    margin-top: 44px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    .tabs-title-container {
      width: 100px;

      ul {
        width: 6.25rem;
        border: 0 !important;

        .tabs-title {
          background-color: #e7eaeb;
          border-top: 1px solid #b2b8bc;
          border-bottom: 1px solid #b2b8bc;
          border-left: 1px solid #b2b8bc;
          text-decoration: none;
          margin-top: .25rem;

          &:first-child {
            margin-top: 0;
          }

          a {
            color: #505050;
            padding: 1rem 1.75rem;
            font-size: 1rem;

            span {
              border-bottom: 1px dashed #505050;
            }

            &:hover {
              background-color: #e7eaeb;
              color: #505050;
              text-decoration: none;
            }
          }

        }

        .is-active {
          background-color: #fff;
          border-top: 2px solid #c2c2c2;
          border-bottom: 2px solid #c2c2c2;
          border-left: 2px solid #c2c2c2;
          position: relative;

          a {
            color: #000;
            background-color: #fff;
            text-decoration: none;

            span {
              border: 0;
            }

            &:hover {
              background-color: #fff;
              color: #000;
              text-decoration: none;
            }
          }

          &:after {
            content: "";
            display: block;
            height: 100%;
            width: 2px;
            background-color: #fff;
            top: 0;
            right: -2px;
            position: absolute;
          }
        }
      }
    }

    .tabs-content-container {
      width: calc(100% - 6.25rem);
      border: 2px solid #c2c2c2;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .tabs-content {
        width: 100%;
        border: 0;

        .tabs-panel {
          align-items: center;
          .tab-content {
            overflow: hidden;
            text-overflow: ellipsis;
            hyphens: auto;
          }

          .title {
            padding-right: .5rem;
          }
        }
        #Email {
          .title {
            display: none;
          }
        }

      }
    }
  }

  @include breakpoint(medium up) {

    .tabs-container {
      width: 43rem;
      .tabs-title-container {
        ul .tabs-title {
          a {
            font-size: rem-calc(18);
          }
        }
      }

      .tabs-content-container .tabs-content {
        font-size: rem-calc(20);
        #Email {
          .title {
            padding-right: 1.875rem;
            display: inline;
          }
        }
      }

    }

  }

  @include breakpoint(large up) {

    .tabs-container {
      width: 757px;

      .tabs-title-container {
        ul .tabs-title {
          a {
            font-size: 1rem;
          }
        }
      }

      .tabs-content-container .tabs-content {
        font-size: 1rem;
      }
    }

  }

}