.order-review {

  h2.review-title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  .order-table{
    display: table;
    width:100%;
    border-bottom: 1px solid #e3e3e3;

    .order-table-row{
      display:table-row;

      .order-table-cell{
        display:table-cell;
        vertical-align: middle;
      }

      &.table-body{
        .order-table-cell{
          font-size: rem-calc(13);
          line-height: 1rem;
          border-top: 1px solid #e3e3e3;
          color: #5c5c5c;
          padding: .5rem .625rem .5rem 0;

          @include breakpoint(sm){
            font-size: 1rem;
            line-height: rem-calc(18);
          }
          @include breakpoint(medium){
            font-size: rem-calc(18);
            line-height: rem-calc(21);
          }

          @include breakpoint(large){
            font-size: rem-calc(14);
            line-height: 1rem;
            color: #000000;
            padding: rem-calc(14) .625rem;
            text-align: center;
          }

          &.sku{
            color: #28862f;
          }

          &.picture {
            img{
              max-width: rem-calc(45);
              @include breakpoint(sm){
                max-width: rem-calc(55);
              }
            }
          }

          &.product-info {
            .price-info {
              color: #000000;
              padding-top: 2px;
            }
          }
          &.price-info{
            color: #000000;
            text-align: right;
          }

          &.quantity {
            text-align: center;
            min-width: rem-calc(45);

            @include breakpoint(medium){
              color: #3b3b3b;
            }
          }
        }
      }

      &.table-head{
        .order-table-cell{
          background-color: #ebebeb;
          color: #4a4949;
          font-size: 1rem;
          text-align: center;
          line-height: 100%;
          padding: rem-calc(14) .5rem;
        }
      }
    }
  }


  .group-info .info{
    font-size: rem-calc(13);
    line-height: rem-calc(37);
    color: #28862f;
    text-align: right;

    @include breakpoint(sm){
      font-size: 1rem;
      line-height: rem-calc(42);
    }
    @include breakpoint(medium){
      font-size: rem-calc(18);
      line-height: rem-calc(54);
    }
    @include breakpoint(large){
      font-size: rem-calc(14);
      line-height: rem-calc(36);
    }

    &.price-info{
      color: #9a1524;
    }

    .shipping-text{
      display: inline-block;
      border-bottom: 1px solid #929292;
    }
  }

}