.page.pages .error-data-404 {
  text-align: center;

  @include breakpoint(large) {
    display: flex;
    align-items: center;
    width: rem-calc(1024);
    margin: rem-calc(60) auto 0;
  }

  .info {

    @include breakpoint(large) {
      width: rem-calc(404);
      position:relative;
      z-index: 1;
      margin-top: rem-calc(-60);
    }

    h1 {
      font-size: rem-calc(94);
      color: #ffd200;
      margin: 0;
      padding: 0;
      text-align: center;

      @include breakpoint(sm) {
        font-size: rem-calc(114);
      }

      @include breakpoint(medium) {
        font-size: rem-calc(137);
      }

      @include breakpoint(large) {
        //width: 404px;
        font-size: rem-calc(121);
      }
    }

    .text {
      text-align: left;

      @include breakpoint(sm) {
        font-size: rem-calc(18);
        width: rem-calc(350);
        margin: 0 auto;
      }

      @include breakpoint(medium) {
        width: rem-calc(430);
        margin: 0 auto;
        font-size: rem-calc(20);
      }

      @include breakpoint(large) {
        width: rem-calc(378);
        font-size: 1rem;
      }

      a {
        color: black;
        text-decoration: underline;
      }
    }
  }

  .picture404 {
    width: 100%;

    @include breakpoint(large) {
      position:relative;
      z-index:0;
    }

    &:after {
      display: block;
      content: '';
      position: relative;
      top: 0;
      left: -81%;
      padding-left: 213.333%;
      padding-top: 92%;

      background: {
        image: url("../images/404/banner_404-min.jpg");
        size: cover;
        repeat: no-repeat;
      }

      @include breakpoint(sm) {
        padding-top: rem-calc(322);
        left: rem-calc(-284);
        margin-top: rem-calc(24);

        background: {
          size: auto 100%;
          position: 23%;
        }
      }

      @include breakpoint(medium) {
        padding-left: 100%;
        padding-top: rem-calc(302);
        position: relative;
        left: 0;
        margin-top: rem-calc(52);

        background: {
          size: auto 100%;
          position: center;
        }
      }

      @include breakpoint(large) {
        margin-top: 0;
        padding-left: rem-calc(949);
        padding-top: rem-calc(399);
        left: rem-calc(-255);
      }

    }

  }
}