.product-group-container {

  /** ширина таблицы */
  $table-width: (
          small: rem-calc(299),
          sm: rem-calc(350),
          medium: rem-calc(728),
          ml: rem-calc(898),
          large: rem-calc(725),
  );

  /** минимальная ширина колонки с изображением товара */
  $image-column-min-width: (
          small: rem-calc(44),
          sm: rem-calc(53)
  );

  /** максимальная ширина колонки с изображением товара */
  $image-column-max-width: (
          small: rem-calc(53),
  );

  /** минимальная ширина колонки с количеством товара */
  $quantity-column-min-width: (
          small: rem-calc(53),
          sm: rem-calc(62),
          medium: rem-calc(89),
          large: rem-calc(62),
  );

  /** максимальная ширина колонки с количеством товара */
  $quantity-column-max-width: (
          small: rem-calc(62),
          sm: rem-calc(89),
          ml: rem-calc(62),
  );

  /** ширина колонки с изображением товара в процентах */
  $image-column-percents: (
          small: 14.716%,
          sm: 15.143%,
          medium: 7.28%,
          ml: 5.902%,
          large: 7.31%,
  );

  /** ширина колонки с количеством товара в процентах */
  $quantity-column-percents: (
          small: 17.725%,
          sm: 17.714%,
          medium: 12.225%,
          ml: 9.911%,
          large: 8.552%,
  );

  /** ширина колонки с названиями товара в процентах */
  $title-column-percents: (
          small: 67.559%,
          sm: 67.143%,
          medium: 80.495%,
          ml: 84.187%,
          large: 84.138%,
  );

  /** разрмер шрифта записей в таблице */
  $table-font-size: (
          small: rem-calc(13),
          sm: rem-calc(15),
          medium: rem-calc(18),
          large: rem-calc(14),
  );

  /** высота отступов сверху и снизу в каждом поле + отступы сверху и снизу внитури всей таблицы */
  $table-vertical-padding: (
          small: rem-calc(6),
          sm: rem-calc(8),
          medium: rem-calc(9),
          large: rem-calc(6),
  );

  /** Размер шрифта кнопки скрыть */
  $hide-font-size: (
          small: rem-calc(15),
          sm: rem-calc(18),
          medium: rem-calc(20),
          large: rem-calc(16),
  );

  /** Высота кнопки скрыть */
  $hide-height: (
          small: rem-calc(37),
          sm: rem-calc(44),
          medium: rem-calc(40),
          large: rem-calc(28),
  );

  @include breakpoint(medium) {
    border: 2px solid #c2c2c2;
  }

  .table-product-group {
    display: table;
    width: 100%;
    color: #5c5c5c;
    border: {
      top: 1px solid #dbdbdb;
      bottom: 1px solid #dbdbdb;
    };

    @each $breakpoint, $size in $table-font-size {
      @include breakpoint($breakpoint up) {
        font-size: $size;
      }
    }

    @each $breakpoint, $size in $table-vertical-padding {
      @include breakpoint($breakpoint up) {
        padding-top: $size;
        @if $breakpoint == 'small' or $breakpoint == 'sm' {
            padding-bottom: $size;
        }
      }
    }

    @include breakpoint(medium) {
      border: 0;
      padding: {
        right: rem-calc(8);
        left: rem-calc(8);
        bottom: 0;
      }
    }

    .table-row {
      display: table-row;

      .table-cell {
        display: table-cell;
        vertical-align: middle;

        @each $breakpoint, $size in $table-vertical-padding {
          @include breakpoint($breakpoint up) {
            padding: {
              top: $size;
              bottom: $size;
            };
          }
        }

        @include breakpoint(medium) {
          border-bottom: 1px solid #e1e1e1;
        }

        &.image {
          text-align: right;

          @include breakpoint(sm) {
            padding-left: rem-calc(9);
          }

          @each $breakpoint, $percents in $image-column-percents {
            @include breakpoint($breakpoint up) {
              width: $percents;
            }
          }

          @each $breakpoint, $min-width in $image-column-min-width {
            @include breakpoint($breakpoint up) {
              min-width: $min-width;
            }
          }

          @each $breakpoint, $max-width in $image-column-max-width {
            @include breakpoint($breakpoint up) {
              max-width: $max-width;
            }
          }

          img {
            max-width: rem-calc(44);
          }

        }

        &.quantity {

          text-align: center;
          padding: {
            right: 1rem;
            left: 1rem;
          };

          @each $breakpoint, $percents in $quantity-column-percents {
            @include breakpoint($breakpoint up) {
              width: $percents;
            }
          }

          @each $breakpoint, $min-width in $quantity-column-min-width {
            @include breakpoint($breakpoint up) {
              min-width: $min-width;
            }
          }

          @each $breakpoint, $max-width in $quantity-column-max-width {
            @include breakpoint($breakpoint up) {
              max-width: $max-width;
            }
          }
        }

        &.title {
          @each $breakpoint, $percents in $title-column-percents {
            @include breakpoint($breakpoint up) {
              width: $percents;
            }
          }
        }

      }

      //&:first-child {
      //  .table-cell {
      //    @include breakpoint(medium) {
      //      border-top: 0;
      //    }
      //  }
      //}
    }

  }

  .table-product-group-close-line {
    color: #055a93;
    text-align: center;
    cursor: pointer;
    display: block;
    text-decoration: none;

    @each $breakpoint, $size in $hide-font-size {
      @include breakpoint($breakpoint up) {
        font-size: $size;
      }
    }
    @each $breakpoint, $height in $hide-height {
      @include breakpoint($breakpoint up) {
        height: $height;
        line-height: $height - rem-calc(2);
      }
    }

    &:hover {
      .up-icon-text {
        border-bottom: 1px dashed #055a93;
      }
    }

    .label-hide-items {
      line-height: 100%;
      display: inline-block;

      .up-icon {
        display: inline-block;
        width: rem-calc(7);
        height: rem-calc(7);
        vertical-align: middle;
        position: relative;

        .triangle-up {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;

          .triangle-up-path {
            fill: #055a93;
          }
        }

      }
    }
  }
}