@import "styles/utils/Utils.module";

.radioCard {
  font-size: pxToRem(18);
}

.button {
  @include breakpoint(md) {
    width: pxToRem(173);
  }

  @include breakpoint(lg) {
    width: pxToRem(119);
  }
}

div.select {
  height: pxToRem(38);

  @include breakpoint(md) {
    height: pxToRem(42);
    font-size: pxToRem(18);
  }

  @include breakpoint(lg) {
    height: pxToRem(45);
    font-size: pxToRem(16);
  }
}
