A:link {COLOR: #008bff}
A:visited {COLOR: #003166}
A:active {COLOR: #0031bb}
BODY {
	BACKGROUND: #FFFFFF; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: 10pt;
          margin-left: 1em;
	margin-right: 1em;
 	margin-top: 1em;
}
.answer {BACKGROUND: #FFFFFF; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: 10pt}
TD {BACKGROUND: #FFFFFF; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: 10pt}
TD.colored {BACKGROUND: #FFCC33; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: 10pt}

.title {COLOR: #00008b; FONT-FAMILY: "Courier New", monospace; FONT-SIZE: 18pt; FONT-WEIGHT: bold}

H1 {COLOR: #005400; FONT-FAMILY: Verdana, Arial, Sans-Serif}

H2 {COLOR: #005400; FONT-FAMILY: Verdana, Arial, Sans-Serif}

H3 {COLOR: #005400; FONT-FAMILY: "Comic Sans MS", Arial, Helvetica, san-serif}

H1 {FONT-SIZE: 20pt; FONT-WEIGHT: bold}

H2 {FONT-SIZE: 16pt}

H3 {FONT-SIZE: 14pt}
.questionList {FONT-SIZE: 10pt}
.question {COLOR: #aa001d; FONT-FAMILY: Arial, Helvetica, san-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold}
.question CODE {FONT-FAMILY: "Courier New", monospace; FONT-SIZE: 12pt; FONT-WEIGHT: normal}
BLOCKQUOTE CODE {	COLOR: #8e008e; FONT-FAMILY: "Courier New", monospace; FONT-SIZE: 10pt}
.answer CODE {COLOR: #8e008e; FONT-FAMILY: "Courier New", monospace; FONT-SIZE: 10pt}
NOBR CODE {COLOR: #8e008e; FONT-FAMILY: "Courier New", monospace; FONT-SIZE: 10pt}
TH {COLOR: #000000; FONT-FAMILY: Arial, Helvetica, san-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold}
.plainCode {COLOR: #000000; FONT-FAMILY: "Courier New", monospace; FONT-SIZE: 10pt}
.quoteBlok {COLOR: #303030; FONT-FAMILY: "Courier New", monospace; FONT-SIZE: 10pt}
B {COLOR: #ae0000; FONT-WEIGHT: bold}
FONT B {FONT-FAMILY: Arial, Helvetica, palatino; FONT-SIZE: 10pt; FONT-WEIGHT: bold}

.comment {COLOR: #0000ae; FONT-FAMILY: Arial, Helvetica, palatino; FONT-SIZE: 9pt; FONT-WEIGHT: bold}
FONT I {FONT-FAMILY: Arial, Helvetica, palatino; FONT-SIZE: 5pt; FONT-WEIGHT: bold}

OL {BACKGROUND: #FFFFFF; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: 10pt}
UL {FONT-FAMILY: Arial, Helvetica, palatino; FONT-SIZE: 10pt}
.linx {FONT-FAMILY: Arial, Helvetica, san-serif; FONT-SIZE: 10pt}
.footer {FONT-FAMILY: Arial, Helvetica, san-serif; FONT-SIZE: 10pt}

b.hist {FONT-FAMILY: Verdana, Arial, Sans-Serif; COLOR:#000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold}

A.uf {FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: 8pt;}
LI.uf {FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: 8pt;}
b.uf {FONT-FAMILY: Verdana, Arial, Sans-Serif; COLOR:#0031bb; FONT-SIZE: 8pt; FONT-WEIGHT: bold}
