.add-to-cart-button__complex-list {
    width: 100%;
    flex: 1 0;

    .add-to-cart-button-add:before {
        background-image: url(../../dist/images/icons/add_to_cart/plus-cart.svg);
    }

    @include breakpoint(md up) {
        padding: 0;
        width: rem-calc(76);
        flex: 0 0 rem-calc(76);
    }

    &:before {
        width: 100%;
        height: rem-calc(29);
        background-position: center;
        background-image: url('/static/frontend/dist/images/icons/add_to_cart/plus-cart.svg');
    }
}
