.reviews-container {
  @include breakpoint(lg up) {
    max-height: rem-calc(650);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: rem-calc(20) rem-calc(48) rem-calc(20) 0;
  }
}

.reviews-wrapper {
  @include breakpoint(lg up) {
    position: relative;

    &:before, &:after {
      content: '';
      width: 100%;
      height: rem-calc(20);
      position: absolute;
      left: 0;
      right: rem-calc(-17);
      z-index: 1;
    }

    &:before {
      top: 0;
      background: linear-gradient(to bottom, #ffffff, transparent);
    }

    &:after {
      bottom: 0;
      background: linear-gradient(to top, #ffffff, transparent);
    }
  }
}