.checkout-field {
  position: relative;
}

@include breakpoint(md up) {
  .checkout-field {
    flex-grow: 1;
    max-width: rem-calc(320);
  }
}

@include breakpoint(lg up) {
  .checkout-field {
    max-width: initial;
  }
}