.checkout-field {
  position: relative;
}

@include breakpoint(md up) {
  .checkout-field {
    flex-grow: 1;
    max-width: 320px;
  }
}

@include breakpoint(lg up) {
  .checkout-field {
    max-width: initial;
  }
}