.billing-same-shipping__header {
  margin: 0 0 rem-calc(15) 0;
}

@include breakpoint(md up) {
  .billing-same-shipping__header {
    margin: 0 0 rem-calc(19) 0;
  }
}

@include breakpoint(lg up) {
  .billing-same-shipping__header {
    margin: 0 0 rem-calc(11) 0;
  }
}
