.row {
    max-width: 1008px;
    margin: 0 auto; }
.row:before, .row:after {
    content: " ";
    display: table; }
.row:after {
    clear: both; }

.column, .columns {
    float: left;
    width: 100%; }

@media (min-width: 0px) {
    .column, .columns {
        padding-left: 15px;
        padding-right: 15px; }
    .row .row {
        margin-left: -15px;
        margin-right: -15px;
        max-width: none; }
    .large-1 {
        width: 8.33333%; }
    .large-2 {
        width: 16.66667%; }
    .large-3 {
        width: 25%; }
    .large-4 {
        width: 33.33333%; }
    .large-5 {
        width: 41.66667%; }
    .large-6 {
        width: 50%; }
    .large-7 {
        width: 58.33333%; }
    .large-8 {
        width: 66.66667%; }
    .large-9 {
        width: 75%; }
    .large-10 {
        width: 83.33333%; }
    .large-11 {
        width: 91.66667%; }
    .large-12 {
        width: 100%; }
    .large-block-grid-1 {
        margin: 0 -15px; }
    .large-block-grid-1 > * {
        float: left;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
    .large-block-grid-1 > *:nth-child(2) {
        clear: both; }
    .large-block-grid-2 {
        margin: 0 -15px; }
    .large-block-grid-2 > * {
        float: left;
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
    .large-block-grid-2 > *:nth-child(3) {
        clear: both; }
    .large-block-grid-3 {
        margin: 0 -15px; }
    .large-block-grid-3 > * {
        float: left;
        width: 33.33333%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
    .large-block-grid-3 > *:nth-child(4) {
        clear: both; }
    .large-block-grid-4 {
        margin: 0 -15px; }
    .large-block-grid-4 > * {
        float: left;
        width: 25%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
    .large-block-grid-4 > *:nth-child(5) {
        clear: both; }
    .large-block-grid-5 {
        margin: 0 -15px; }
    .large-block-grid-5 > * {
        float: left;
        width: 20%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
    .large-block-grid-5 > *:nth-child(6) {
        clear: both; }
    .large-block-grid-6 {
        margin: 0 -15px; }
    .large-block-grid-6 > * {
        float: left;
        width: 16.66667%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
    .large-block-grid-6 > *:nth-child(7) {
        clear: both; }
    .large-block-grid-7 {
        margin: 0 -15px; }
    .large-block-grid-7 > * {
        float: left;
        width: 14.28571%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
    .large-block-grid-7 > *:nth-child(8) {
        clear: both; }
    .large-block-grid-8 {
        margin: 0 -15px; }
    .large-block-grid-8 > * {
        float: left;
        width: 12.5%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
    .large-block-grid-8 > *:nth-child(9) {
        clear: both; }
    .large-block-grid-9 {
        margin: 0 -15px; }
    .large-block-grid-9 > * {
        float: left;
        width: 11.11111%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
    .large-block-grid-9 > *:nth-child(10) {
        clear: both; }
    .large-block-grid-10 {
        margin: 0 -15px; }
    .large-block-grid-10 > * {
        float: left;
        width: 10%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
    .large-block-grid-10 > *:nth-child(11) {
        clear: both; }
    .large-block-grid-11 {
        margin: 0 -15px; }
    .large-block-grid-11 > * {
        float: left;
        width: 9.09091%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
    .large-block-grid-11 > *:nth-child(12) {
        clear: both; }
    .large-block-grid-12 {
        margin: 0 -15px; }
    .large-block-grid-12 > * {
        float: left;
        width: 8.33333%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
    .large-block-grid-12 > *:nth-child(13) {
        clear: both; }
    .large-only-hide {
        display: none !important; } }

@media (min-width: 0px) {
    .large-up-hide {
        display: none !important; } }

@media (max-width: -1px) {
    .large-only-show {
        display: none !important; } }

@media (max-width: -1px) {
    .large-up-show {
        display: none !important; } }

#wrapper {
    width: 100%;
    min-width: 882px;
    box-sizing: border-box;
}

#wrapper * {
    box-sizing: border-box;
}


.pager-container .pager {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    min-height: 1px;
}

.pager-container .pager li {
    display: inline-block;
}
.pager-container .pager li a, .pager li span  {
    padding: 0.15em 0.4em;
    border-radius: 5px;
    border: 1px solid transparent;
}

.pager-container .pager li span.current, .pager li a:hover {
    background-color: #efefef;
    border: 1px solid #adadad;
}

.pager-container .page-size {
    text-align: right;
}



.pager-container {
    margin: 15px 0;
}

.admin fieldset.collapsed {
    border: none;
    border-top: 1px solid #FF8600;
    background: none;
}

.admin fieldset {
    border: 1px solid #FF8600;
    background-color: #fff;
    margin-bottom: 15px;
}

.admin fieldset legend {
    font-size: 12px;
    padding: 0 15px;
    font-weight: bold;
    cursor: pointer;
    background: transparent url(../images/expanded.gif) no-repeat center left;
}
.admin fieldset.collapsed legend {
    background: transparent url(../images/collapsed.gif) no-repeat center left;
}


.ul-main {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    margin: 10px 0;
}
.ul-main > li {
    margin-bottom: 10px;
}

.ul-main > li > div {
    padding: 0 10px;
}

.ul-main > li label {
    font-weight: bold;
}

.not {
    padding-right: 0;
}

label + input {
    vertical-align: middle;
}

.ul-main > li .label {
    width: 30%;
    float: left;
    display: inline-block;
    font-weight: bold;

}
.ul-main li .label + .input {
    width: 69%;
    clear: both;

    display: inline-block;
}

.admin fieldset.collapsed > * {
    display: none;
}
.admin fieldset.collapsed > legend {
    display: block;
}

.as_a span {
    text-decoration: underline;
    cursor: pointer;
}
.as_a span:hover {
    text-decoration: none;
    cursor: pointer;
}

.admin .big {
    width: 335px;
    min-width: 335px;
}

.admin input[type=radio] {
    vertical-align: middle;
    margin: 0;
}
.admin input[type=radio] + label {
    /*vertical-align: middle;*/
    margin-right: 5px;
}

.admin .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-bottom: 5px !important;
}
.admin .select2-selection__rendered {
    padding-right: 19px !important;
}

.admin .select2-selection__clear {
    position: absolute;
    float: none;
    right: 0;
}

.admin .OrderSheet {
    background-color: transparent;
    border-collapse: collapse;
}
.admin .OrderSheet .TableSubHead_new {
    background-color: #e5e5e5;
}
.admin .OrderSheet td {
    background-color: transparent;
    border: #848484 1px solid;
}
.admin .OrderSheet .separator td {
    border: none;
    padding: 3px 0 0;
}

.admin .OrderSheet td {
    text-align: center;
}.admin .OrderSheet td.text-left {
     text-align: left;
 }

/*.admin .OrderSheet td.group {*/
/*border: 2px solid darkred;*/
/*}*/

.admin .OrderSheet .TableHead {
    font-weight: bold;
}

.admin .ul-main li .row .columns {
    min-height: 32px;
    vertical-align: middle;
}

.admin .ul-main li .row .columns > * {
    vertical-align: middle;
}
.admin .ul-main li .row .columns input {
    line-height: 1.3;
}

.padding-small:not(:first-child):not(:last-child) {
    padding: 0 5px;
}
.padding-small:first-child {
    padding-right: 5px;
}
.padding-small:last-child {
    padding-left: 5px;
}

.admin .button-group {
    display: inline-block;
    list-style: none;
}

.button + .button,
.button + .button-group,
.button-group + .button,
.button-group + .button-group {
    margin-left: 1rem;
}

.admin .button {
    text-align: center;
    text-decoration: none;
    padding: 2px 5px;
    margin: 0;
    outline: 0;
    overflow: visible;
    border: 1px solid #ababab;
    border-radius: 2px;
    display: inline-block;
    /*position: relative;*/
    cursor: pointer;
    text-shadow: #f6f6f6 0 1px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color: #f4f4f4;
    color: #550000;
    -webkit-box-shadow: #f7f6f6 0 2px 1px 0 inset;
    -moz-box-shadow: #f7f6f6 0 2px 1px 0 inset;
    box-shadow: #f7f6f6 0 2px 1px 0 inset;
    font-size: 10px;
    line-height: 18px;
}


.admin .button:hover {
    border-color: royalblue;
    box-shadow: #c4c4c4 0 1px 1px 0, #f0eeee 0 -2px 2px 0 inset, #f6f6f6 0 2px 3px 0 inset;
}
.admin .button.darkred:hover {
    border-color: darkred;
}
.admin .button.green:hover {
    border-color: green;
}

.admin form {
    /*padding-bottom: 65px;*/
    position: relative;
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}

.buttons-block {
    background-color: #E4E0C5;
    min-width: 852px;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.errors-block .errors{
    display: block;
    background: #fff2f2;
    border: 1px solid #ffd3d3;
    padding: 10px 7px 3px;
    margin-bottom: 2em;
}

.errors-block .errors .fields{
    list-style: none;
    padding-left: 1em;
}

.errors-block .errors .fields > li{
    text-transform: capitalize;
    font-weight: 700;
}
.errors-block .errors .fields .field-errors {
    text-transform: none;
    font-weight: normal;
    margin: 3px 0;
    list-style: disc;
    padding-left: 2em;
}

.white-back {
    background: white;
}

.orange-border {
    border: 1px solid #FF8600;
}

.admin .dashboard-table a{
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.smarty-admin-block .content-block {
    padding: 10px;
    margin-bottom: 20px;
}
.smarty-admin-block .buttons-block {
    margin-left: -11px;
    width: 853px;
}
.smarty-admin-block .title-block {
    background-image: url('/skin1_kolin/images/dialog_bg_n.gif');
}
.smarty-admin-block .title-block .title {
    padding-left: 20px;
    color: #fff !important;
    font-weight: bold;
}

.admin .dashboard-filters {
    width: 100%;
    table-layout: fixed;
}

.admin .dashboard-filters .tag {
    display: inline-block;
    min-width: 1.45em;
    min-height: 1.45em;
    padding: 0 0.2em;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    /*box-sizing: content-box !important;*/
    line-height: 14px;
    border: 1px solid #bbbbbb;
}
.admin .drag table:hover .container {
    min-width: 5px;
    min-height: 1.5rem;
    height: 100%;

    background-color: rgba(241, 241, 241, 0.91);
    border-radius: 4px;
}

/*.admin .drag a {*/
    /*pointer-events: none;*/
/*}*/

.admin .dashboard-filters .tag.no-border {
    border: none;
}

/*.admin .dashboard-filters .tag span {*/
/*line-height: 1.3;*/
/*vertical-align: middle;*/
/*display: inline-block;*/
/*}*/


.admin .dashboard-filters tr {
    margin-bottom: 3px;
    height: 100%;
}

.admin .dashboard-filters td {
    padding: 0;
    vertical-align: top;
}

.admin .dashboard-filters .container {
    vertical-align: top;
    height: 100%;
    line-height: 1.2;
    /*padding: 1px 3px;*/
}

.admin .dashboard-filters .drag-over {
    border: 1px solid #989898;
}

.admin .dashboard-filters .move-event {
    opacity: 0;
}

.admin .dashboard-filters .button {
    display: block;
    text-align: left;
    /*height: 100%;*/
    line-height: 1.3;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.admin .dashboard-filters.index .button {
    height: auto;
    background: rgba(244, 244, 244, .4);
    border-color: #dadada;
}

.admin .dashboard-filters .row {
    margin: 0;
}
.admin .dashboard-filters .columns {
    padding: 0;
}
.admin .dashboard-filters .columns:first-child {
    padding-left: 0;
}
.admin .dashboard-filters .columns:last-child {
    padding-right: 0;
}

.admin .dashboard-filters .name {
    display: inline-block;
    word-wrap: break-word ;
    text-decoration: underline;
}
.admin .dashboard-filters .name:hover {
    text-decoration: none;
}

.admin .dashboard-filters .button .name {
    text-decoration: none;
}

.admin .dashboard-filters .empty {
    padding: 2px 5px;
    border: 1px solid transparent;
    display: block;
    /*pointer-events: none;*/
}

.admin .dashboard-filters .empty .name {
    text-decoration: none;
}

.admin .dashboard-filters .empty .tag {
    background-color: transparent !important;
    border: 1px solid #bbbbbb;
    width: 1.45em;
    height: 1.45em;
    color: transparent;
}


.admin .dashboard-filters .gray {
    color: darkgray;
}

.bold {
    font-weight: bold;
}

.admin .main-menu {
    list-style: none;
    padding: 0;
}
.admin .main-menu .items {
    padding: 0;
    margin: 3px 0;
}
.admin .main-menu li {
    list-style: none;
    display: inline-block;
}

.mnotify-black {
    /*background: url(../images/mnotify/bg.png);*/
    color: #fff
}

html > body .mnotify {
    position: fixed
}

#notifier-box {
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 9998;
}

.mnotify {
    top: 25px;
    right: 25px;
    position: absolute;
    height: auto;
    z-index: 9999
}

.mnotify .mnotify-shadow {
    -webkit-box-shadow: 0 2px 10px rgba(50, 50, 50, .5);
    -khtml-box-shadow: 0 2px 10px rgba(50, 50, 50, .5);
    -moz-box-shadow: 0 2px 10px rgba(50, 50, 50, .5);
    -o-box-shadow: 0 2px 10px rgba(50, 50, 50, .5);
    box-shadow: 0 2px 10px rgba(50, 50, 50, .5)
}

.mnotify .mnotify-container {
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0
}

.mnotify .mnotify-container .mnotify-title {
    font-weight: 400
}

.mnotify .mnotify-container .mnotify-text {
    display: block
}

.mnotify-sharp {
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.mnotify-closer, .mnotify-sticker {
    float: right;
    margin-left: .2em
}

.mnotify-icon, .mnotify-icon span {
    display: block;
    float: left;
    margin-right: .2em
}

.mnotify-history-container {
    position: absolute;
    top: 0;
    right: 18px;
    width: 70px;
    border-top: none;
    padding: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    z-index: 10000
}

.mnotify-history-container .mnotify-history-header {
    padding: 2px
}

.mnotify-history-container button {
    cursor: pointer;
    display: block;
    width: 100%
}

.mnotify-history-container .mnotify-history-pulldown {
    display: block;
    margin: 0 auto
}

.mnotify.stack-bottomleft, .mnotify.stack-topleft {
    left: 25px;
    right: auto
}

.mnotify.stack-bottomleft, .mnotify.stack-bottomright {
    bottom: 25px;
    top: auto
}


div.message-wrap {
    background: rgba(0, 0, 0, 0.6);
    /*background: #f1f1f1;*/
    /*border: 1px solid #e1e1e1;*/
    border: 1px solid #000;
    margin: 10px 0 0;
    width: 300px;
    /*color: #535353;*/
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px
}

div.message-box {
    padding: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

div.message-box div.message-header {
    /*color: #535353;*/
    color: #fff;
    font-weight: 700;
    font-size: inherit;
    margin: 0 0 4px
}

div.message-box a.message-close {
    background: url(../images/message-close.png) center no-repeat #000;
    width: 15px;
    height: 15px;
    display: block;
    float: right;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-opacity: .2;
    -moz-opacity: .2;
    -o-opacity: .2;
    opacity: .2
}

div.message-box:hover a.message-close {
    -webkit-opacity: .4;
    -moz-opacity: .4;
    -o-opacity: .4;
    opacity: .4
}

div.message-box div.message-body {
    overflow: hidden;
    color: #fff;
}

div.message-box div.message-body div.thumb {
    width: 48px;
    height: 48px;
    margin: 0 10px 0 0;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px
}

div.message-box div.message-body div.thumb img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px
}


.tooltip {
/*@include antialias;*/
/*@include border-radius(5px);*/
/*@include linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, bottom, rgba(0, 0, 0, 0.8) 100%);*/
/*@include box-shadow(0 3px 5px rgba(0, 0, 0, 0.3));*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-radius: 5px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    display: block;
    z-index: 10002;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    color: #000;
    font-weight: 700;
    font-size: 0.9rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    padding: 5px 10px;
    /*width: 200px;*/
}

.tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333333;
    border-top-color: rgba(255, 255, 255, 0.9);
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}
.tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #333333;
    border-bottom-color: rgba(255, 255, 255, 0.8);
    top: -20px;
    bottom: auto;
}
.tooltip.left:after {
    left: 10px;
    margin: 0;
}
.tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}

.load {
    width: 100%;
    height: 100%;
    min-width: 32px;
    min-height: 32px;
    background: url('../images/loaders/p2/32/Preloader_8.gif') center center no-repeat;
}

.subscription-container {
    width: 206px;
}