.products-slider-images-nav-item {
  position: relative;
  height: 100%;
  padding: 0 rem-calc(3) rem-calc(4) 0;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;

  &:first-child {
    padding: 0 rem-calc(3) rem-calc(4) rem-calc(10);
  }

  &:last-child {
    padding: 0 rem-calc(10) rem-calc(4) 0;
  }

  &:before {
    content: "";
    background: #ececec;
    height: rem-calc(2);
    width: 100%;
    display: block;
    transition: background 0.15s linear;
    border-radius: rem-calc(2);
  }
}