.restocking-table {
  .changed {
    background-color: #ff9308;
  }
  .restocking-qty, .group-apply-val{
    text-align: right;
  }
}
.batch-total {
  font-size: 12px;
  padding: 0 15px;
  font-weight: bold;
}