.info-page {
  //border-top: 1px solid #DFDFDF;
  padding: $main-block-padding-height $main-block-padding-width;

  .object-info {
    table-layout: auto;
    width: 100%;

    .first {
      vertical-align: top;
      font-weight: 500;
    }

    & > tbody {
      & > tr {
        //border-bottom: 1px solid lightgrey;

        &:nth-last-child(1) {
          border-bottom: none;
        }

        &:nth-child(2n) {
          & > td {
            background-color: #f4f4f4;
          }
        }

        & > td {
          padding: 7px;

          iframe {
            width: 100%;
          }
        }
      }
    }
  }
}