.checkout-field-title {
  line-height: 110%;
}

@include breakpoint(md up) {
  .checkout-field-title {
    text-align: right;
    justify-content: flex-end;
    padding: 0 rem-calc(21) 0 0;
    align-items: center;
    display: flex;
  }
}

@include breakpoint(lg up) {
  .checkout-field-title {
    text-align: left;
    justify-content: flex-start;
    padding: rem-calc(5) 0 0 0;
  }
}