.toggle-other-fields {
  display: inline-block;
  background: #f4f4f4;
  color: #000000;
  text-align: center;
  width: 38px;
  height: 38px;
  line-height: 36px;
  font-size: 30px;
  cursor: pointer;
}
