.breadcrumbs-item {
    display: flex;
    color: #494949;
    font-weight: bold;
    float: left;
    align-items: center;

    &:hover {
        color: #000000;
        cursor: pointer;
        text-decoration: underline;
    }

    &:first-child {
        margin: 0 0 0 rem-calc(-4);

        &:before {
            content: none;
        }
    }

    &:last-child {
        color: #8a8a8a;
        font-weight: normal;
    }

    &:last-child:hover {
        color: #8a8a8a;
        cursor: default;
        text-decoration: none;
    }

    &:before {
        content: "»";
        color: #494949;
        font-weight: bold;
    }
}
