@import "styles/utils/Utils.module";

.productInfoDate {
  font-size: pxToRem(14);

  @include breakpoint(md) {
    font-size: pxToRem(16);
  }

  @include breakpoint(lg) {
    font-size: pxToRem(14);
  }
}
