@import "styles/utils/Utils.module";

.footer {
  padding: pxToRem(6) 0 0 pxToRem(35);

  @include breakpoint(sm) {
    padding: pxToRem(21) pxToRem(33);
  }
}

.footer__text {
  margin: pxToRem(6) 0 0 pxToRem(18);

  @include breakpoint(sm) {
    margin: pxToRem(5) 0 0 pxToRem(17);
  }

  @include breakpoint(lg) {
    margin: pxToRem(4) 0 0 pxToRem(18);
  }
}

.footerTitle {
  @include breakpoint(sm) {
    font-size: pxToRem(18);
  }

  @include breakpoint(lg) {
    font-size: pxToRem(16);
  }
}

.footerText {
  @include breakpoint(sm) {
    font-size: pxToRem(14);
  }

  @include breakpoint(lg) {
    font-size: pxToRem(12);
    line-height: pxToRem(20);
  }
}

.caption {
  font-size: pxToRem(16);

  @include breakpoint(lg) {
    font-size: pxToRem(14);
  }
}
