@import "styles/utils/Utils.module";

.input {
  text-align: center;
  letter-spacing: pxToRem(10);

  @include breakpoint(lg) {
    padding: 0 pxToRem(10) 0 pxToRem(24);
  }
}

.text {
  font-size: pxToRem(16);
  line-height: pxToRem(22);

  @include breakpoint(lg) {
    font-size: pxToRem(14);
    line-height: pxToRem(20);
  }
}
