@import "styles/utils/Utils.module";

.footerTitle {
  font-weight: bold;
  font-size: pxToRem(16);
  line-height: pxToRem(20);

  @include breakpoint(lg) {
    font-size: pxToRem(14);
  }
}

.footerText {
    font-size: pxToRem(14);
    line-height: pxToRem(20);

  @include breakpoint(lg) {
    font-size: pxToRem(12);
    line-height: pxToRem(18);
  }
}

.footerBorder {
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 1px;
    border-top: 1px solid #c4c4c4;
    left: 0;
  }
  @include breakpoint(sm) {
    &::before {
      display: none;
    }
  }
}
