.green-circle-icon {
    display: inline-block;
    position: relative;
    background-color: #4db539;
    height: rem-calc(12);
    width: rem-calc(12);
    text-align: center;
    border-radius: 50%;
}
