@mixin getPricesTable() {
  .prices__container {

    .product-quantity {

      padding: rem-calc(18) 0;

      .column {
        padding: 0;
      }

      .price-row-width {

        /*@include breakpoint(medium) {
          max-width: rem-calc(150) + rem-calc(174) + rem-calc(2) + rem-calc(40);
        }

        @include breakpoint(large only) {
          max-width: rem-calc(130) + rem-calc(154) + rem-calc(2) + rem-calc(40);
        }*/

      }

      .discount_block {
        text-align: center;
        color: red;
        display: none;
        padding-top: rem-calc(4);

        .discount__title {
          height: rem-calc(16);
          font-size: rem-calc(14);

          @include breakpoint(sm down) {
            font-size: rem-calc(11);
          }
        }

        .discount__counter {
          font-size: rem-calc(20);
          max-width: rem-calc(110);
          margin: 0 auto;

          .label {
            font: {
              size: rem-calc(11);
            }
            line-height: rem-calc(6);
            text-align: center;
          }

          @include breakpoint(sm down) {
            max-width: rem-calc(88);
          }
        }
      }

      .table {
        display: flex;
        flex-direction: row;

        .column {
          display: flex;
          flex-direction: column;

          &.auto {
            flex: auto;
          }

          .value {
            display: flex;
            align-content: center;
            align-items: center;

            &.price-value,
            &.extended-value {
              font: {
                size: rem-calc(15);
              }
            }
          }
        }
      }

      .table__prices {

        .column {
          flex: auto;
          padding: 0;

          .title {
            text-align: center;
            background: #E4E4E4;
          }

          .value {
            text-align: center;
            justify-content: center;
          }

          &.quantity {
            .quantity-group {
              .btn {
                user-select: none;
              }

              input {
                border: none;

                @include breakpoint(sm down) {
                  height: rem-calc(34);
                  line-height: rem-calc(34);
                }
                @include breakpoint(medium down) {
                  height: rem-calc(34);
                }
              }
            }
          }

          &.extended {
            flex: auto;
            border-right: none;
          }
        }

        @include bem_modifier(down) {
          display: flex;
          flex-direction: column;
          border: none;
          position: relative;
        }

        @include bem_modifier(row) {
          display: flex;
          flex-direction: row;
          flex: auto;
        }

        .price-row {
          transition: all .6s ease;
          height: rem-calc(30);
          line-height: rem-calc(30);
          overflow: hidden;

          .column {
            &.price {
              flex: 0 0 50%;
            }

            &.quantity {
              flex: 0 0 50%;
            }
          }

          &.hidden {
            height: 0;
            margin-top: 0;
          }
        }
      }
    }
  }

  .subtotal_container {
    padding-top: rem-calc(24);
    text-align: left;

    .safe-prices {
      display: flex;
      font-size: rem-calc(16);

      .title, .value {
        display: inline-block;
      }

      .title {
        text-align: right;
        min-width: 8rem;
      }

      .value {
        min-width: 70px;
        text-align: left;
      }

      &.list-price {
        color: #5c5c5c;
        line-height: 2;
        font-size: rem-calc(14);

        .value {
          text-decoration: line-through;
        }
      }

      &.safe {
        color: #0d69a1;
        line-height: rem-calc(22);

        .value {
          font-weight: 700;
        }
      }

      &.safe-per-item {
        color: #0d69a1;

        .title {
          font-size: rem-calc(14);
        }
      }

      &.total-safe {
        text-transform: uppercase;

      }
    }
  }
}

@include breakpoint(md up) {
  .safe-prices {
    display: flex;
    justify-content: flex-end;
  }
}

.table__prices--down {
  padding: 0 1px 0 0;
}

.table__prices--top {
  .column {
    &.auto {
      border-right: none;
    }

    .value {
      .cart_add {
        width: 100%;
        margin: 10px;
      }
    }
  }
}

.product-quantity-one-price {
  white-space: nowrap;
  font-size: rem-calc(20);
  line-height: rem-calc(20);
  font-weight: 900;

  @include breakpoint(md up) {
    font-size: rem-calc(20);
    line-height: rem-calc(20);
  }
}

.product-quantity-one-price__discount {
  color: #fe1104;
}

.product-quantity-old-price {
  font: {
    size: rem-calc(15);
    weight: normal;
  }
  color: #4a4949;
  text-decoration: line-through;
}

.product-quantity-bulk-price {
  font-size: rem-calc(25);
}

.product-quantity-title {
  display: flex;
  text-align: center;
  height: rem-calc(40);
  line-height: rem-calc(40);
  align-content: center;
  justify-content: center;
}

.product-quantity-row__title {
  background: #e4e4e4;
}

.product-quantity-row__price {
  align-items: center;
  padding: 20px 0;
}

.product-quantity-row__price_discount {
  padding: 20px 0 25px;
}

.product-quantity-row__wholesale {
  background-color: #f2f2f2;
}

.product-quantity_wholesale-row {
  margin: 0 0 2px;
}

.product-quantity_wholesale-row:last-child {
  margin: 0;
}

.product-quantity-extended-price {
    font-size: rem-calc(22);
    line-height: rem-calc(22);
    display: flex;
    justify-content: center;

    @include breakpoint(sm down) {
      font-size: rem-calc(20);
      line-height: rem-calc(20);
    }
}

.discount-percent {
  color: red;
  margin-left: rem-calc(5);
  font: {
    size: rem-calc(12);
  }

  &.show {
    &:before {
      content: "-";
    }
  }
}
