html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-- container --*/
#container{
	width:96%;
	padding:2%;
	margin: 10% auto;
	overflow:hidden;
}

#banner{
	width:213px;
	height:297px;
	margin:0 auto;
	float:right;
	border:1px solid black;
}

.item{
	width:95%;
	margin:10% auto;
	overflow:hidden;
}

.img-cont{
	width:30%;
	float:left;
	margin-right:2%;
	text-align:center;
}
.item p{
	width:65%;
	margin-left:2%;
	float:left;
	color:black;
	font-family: verdana, sans-serif;
	font-size:12px;
	letter-spacing:0.1pt;
	line-height:1.4;
}

.fst{
	margin-top:4%;
}
.lst{
	margin-top:18%;
	margin-bottom:8%;
}