.product-reviews-header {
  font-weight: bold;
  font-size: rem-calc(20);
  line-height: 1;

  @include breakpoint(md up) {
    font-size: rem-calc(24);
  }

  @include breakpoint(lg up) {
    font-size: rem-calc(20);
  }
}
