@import "styles/utils/Utils.module";

.button {
  @include breakpoint(lg) {
    font-size: pxToRem(12);
  }
}

.IdeaName {
  @include breakpoint(md) {
    font-size: pxToRem(16);
  }
}

.editIdea {
  @include breakpoint(md) {
    font-size: pxToRem(14);
  }
}

