.add-to-cart-button-add__complex-product{
    width: rem-calc(76);

    &:before {
        width: 100%;
        height: rem-calc(29);
        background: url(../../dist/images/icons/add_to_cart/plus-cart.svg) no-repeat center;
    }
}
