.switcher-button_other-fields-switcher {
  background-color: #f4f4f4;
  border-left: none;
  height: 44px;
  width: 44px;
  z-index: 1;
}

@media (min-width: 720px) {
  .switcher-button_other-fields-switcher {
    background: #f4f4f4;
  }
}