.switcher-button_other-fields-switcher {
  background-color: #ffffff;
  height: calc(100% - 2px);
  width: rem-calc(34);
  margin: -1px;
  z-index: 1;
  border: 1px solid #ffb500;

  @include breakpoint(md up) {
    background: #ffffff;
  }
}