.switcher-button_other-fields-switcher {
  background-color: #ffffff;
  height: calc(100% - 2px);
  width: rem-calc(38);
  margin: -1px;
  z-index: 1;
  border: 1px solid #ffb500;

  @include breakpoint(md up) {
    background: #ffffff;
  }
}


.common-input__wrong ~ .switcher-button_other-fields-switcher {
  border-left-color: #ee2a31;
}

.common-input__correct ~ .switcher-button_other-fields-switcher {
  border-left-color: #a7d198;
}