.basement-fraud-title-wrapper{
  background-color: #e27a2b;
  width: 95%;
  .basement-fraud-title{
    font-weight: 700;
    font-size: 1.1rem;
    color: white;
    text-align: left;
  }
}
.info-principle-wrapper{
  font-size: 13px;
  width: 95%;
  .info-bold{
    font-weight: bold;
  }
  .info-italic {
    font-style: italic;
  }
  .space-text{
    padding: 7.5px;
  }
}
.select-statuses{
  margin: 0 7px;
}