.breadcrumbs-container  {
  margin: rem-calc(10) 0;

  .breadcrumb-list {
    display: block;
    line-height: 1.3;

    li {
      display: block;
      line-height: 1;
      font-size: rem-calc(12);
      color: #888;

      a, span {
        color: inherit;
      }

      &:after {
        content: '>';
        display: inline;
      }

      &:nth-last-child(1) {
        color: #000;

        &:after {
          content: '';
        }
      }
    }
  }

  .back {
    //margin-right: 36px;
    display: inline-block;
    line-height: 1.3;

    i {
      padding-right: rem-calc(5);
      vertical-align: middle;

      &:before{
        content: '';
        display: inline-block;
        background: url("../images/icons/breadcrumbs/back.svg") no-repeat;
        width: 14px;
        height: 13px;
      }
    }
  }
}

.frame {
  width: 100%;
  //height: 160px;
  padding: 0;
}
.frame .slidee {
  margin: 0;
  padding: 0;
  //height: 100%;
  list-style: none;
  display: block;
  box-sizing: content-box;
}
.frame .slidee li {
  float: left;
  margin: 0 3px 0 0;
  padding: 0;
  border:0;
  box-sizing: content-box;
  //width: 120px;
  //height: 100%;
  //border: 1px solid red;
}

.scrollbar { width: 100%; height: 10px; }
.scrollbar .handle {
  width: 100px; /* overriden if dynamicHandle: 1 */
  height: 100%;
  background: #222;
}