.breadcrumbs-container  {
  margin: rem-calc(10) 0 0;
  width: 100%;
  padding: 0;
  height: rem-calc(24);
  overflow: hidden;

  .breadcrumb-list {
    display: block;
    margin: 0;
    padding: 0;
    height: 1.1em;

    li {
      display: block;
      float: left;
      margin: 0 3px 0 0;
      padding: 0;
      border: 0;
      font-size: rem-calc(12);
      color: #888;
      line-height: 2em;
      height: 2em;

      a, span {
        color: inherit;
      }

      &:after {
        content: '>';
        display: inline;
      }

      &:nth-last-child(1) {
        color: #000;

        &:after {
          content: '';
        }
      }
    }
  }

  .back {
    display: inline-block;
    line-height: 1.3;

    i {
      padding-right: rem-calc(5);
      vertical-align: middle;

      &:before{
        content: '';
        display: inline-block;
        background: url("../images/icons/breadcrumbs/back.svg") no-repeat;
        width: 14px;
        height: 13px;
      }
    }
  }
}
