.checkout-review-form {

  .checkout-po{
    padding-bottom: rem-calc(10);
    margin-top: 1rem;

    @include breakpoint(medium) {
      padding-bottom: rem-calc(10);
    }
  }

  .additional-button-mobile {
    margin-bottom: rem-calc(26);
  }

  .column-with-button{
    position: relative;

    .additional-button-large{
      height: rem-calc(58);
      line-height: rem-calc(56);
      border-radius: 4px;
      padding: 0 rem-calc(34) 0 rem-calc(42);
      position: absolute;
      top: 0;
      right: .625rem;
      font-size: rem-calc(25);
      width: auto;
      min-width: auto;

      .long-label{
        display: none;
      }

      @include breakpoint(large) {

        height: rem-calc(50);
        line-height: rem-calc(48);
        padding: 0 rem-calc(20) 0 rem-calc(24);
        font-size: rem-calc(18);
        right: 1.25rem;

        .long-label{
          display: inline;
        }
        .short-label{
          display: none;
        }

        &:after {
          width: rem-calc(14);
          height: rem-calc(14);
        }
      }

    }
  }


}