@import "./form/phone_ext";

form {
  label {
    .required {
      color: red;
    }

    &.required {
      &:after {
        color: red;
        content: '*';
        padding-left: .5em;

        @include breakpoint(large) {
          position: absolute;
          right: rem-calc(-10);
          top:0;
        }
      }
    }
  }
}

.default-form {
  font-size: rem-calc(14);
  line-height: 1;

  input, select, textarea {
    border: 1px solid #aaa;
    border-radius: 0;
    line-height: rem-calc(34);
    padding: 0 rem-calc(10);
    margin: rem-calc(6) 0;
    background: #fff;
    box-sizing: border-box;
    width: 100%;

    @include appearance(none);

    &:active, &:focus {
      border: 1px solid #ff8d91;
    }

    &::placeholder{
      font-style: italic;
      color: $grey_96;
    }

    @include breakpoint(large) {
      line-height: rem-calc(24);
      max-width: rem-calc(295);
      width: rem-calc(295);
    }

  }

  /**
  @TODO: For fucking chrome
   */
  input[type=radio] {
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
  }

  textarea {
    line-height: 1.2;
    resize: vertical;
    min-height: 7em;
    height: 7em;
    max-height: 14em;
  }

  label {
    position: relative;
    display: block;

    font: {
      size: rem-calc(17);
      weight: 700;
    }

    @include breakpoint(large) {
      font: {
        size: rem-calc(14);
        weight: normal;
      };
    }

    .required {

      @include breakpoint(large) {
        position: absolute;
        right: rem-calc(-10);
        top:0;
      }
    }

    .comment {
      color: #777;
      font-size: .75rem;
    }


  }

  input[type=radio] {
    &  + label {
      line-height: rem-calc(38);
      background-color: #f4f4f4;

      &:before {
        content: '';
        display: inline-block;
        margin-right: rem-calc(5);
        width: rem-calc(17);
        height: rem-calc(17);
        vertical-align: middle;
        background: url('../images/icons/inputs/radio_unchecked.png') center center no-repeat;
        background-origin: content-box;
      }

      &:nth-child(2n) {
        background-color: #fff;
      }

      &:nth-last-child(1) {
        background-color: #f4f4f4;
      }
    }

    &:checked + label {
      &:before {
        background-image: url('../images/icons/inputs/radio_cheched.png');
      }
    }
  }

  h1 {
    text-align: center;
    //margin-bottom: rem-calc(40);

    @include breakpoint(medium) {
      margin-bottom: rem-calc(50);
    }
    @include breakpoint(large) {
      margin-bottom: rem-calc(30);
    }
    &.no-margin-bottom{
      margin-bottom: 0;
    }
  }
  h2 {
    line-height: 110%;
    text-align: center;
    margin: 1rem 0;

    @include breakpoint(large) {
      line-height: inherit;
      text-align: left;
    }
  }

  .mandatory {
    .required{
      color: red;
    }
  }

  .hr {
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(5);
  }

  .hint {
    display: inline-block;
    color: #777;
    font: {
      size: rem-calc(12);
    }
    line-height: 1.1;
    max-width: rem-calc(300);
  }
  .submit {
    width: rem-calc(198);
    height: rem-calc(58);
    //line-height: rem-calc(58);
    font-size: rem-calc(20) !important;
    font-weight: 700;
    text-transform: uppercase;

    &:after {
      width: rem-calc(19);
      height: rem-calc(16);
      background-origin: content-box;
      background-size: contain;
      display: inline-block;
      margin-left: rem-calc(3);
      content:'';
      background: url("../images/icons/cart/arrow_right_checkout.svg") no-repeat;
    }
  }


  .form-row {
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(20);

    @include breakpoint(large) {
      margin-top: rem-calc(3);
      margin-bottom: rem-calc(3);
    }

    input, select, textarea {
      &.invalid {
        border-color: red;
      }
    }


    .errors {
      display: block;
      position: relative;
      list-style: none;
      background-color: #ffebeb;
      border: 1px solid #ed1c24;
      padding: rem-calc(11);
      margin: 0;
      margin-bottom: rem-calc(10);

      li {
        text-align: center;

        &:nth-last-child(1) {
          &:after {
            content: '';
            position: absolute;
            background-color: #ffebeb;
            left: calc(50% - 10px);
            border: 1px solid #ed1c24;
            transform: rotate(63deg) skewX(36deg);

            width: rem-calc(12);
            height: rem-calc(9);
            bottom: rem-calc(-5);
          }
        }
      }

      &:after {
        content: '';
        position: absolute;
        background-color: #ffebeb;
        width: rem-calc(12);
        height: rem-calc(12);
        left: calc(50% - 11px);
        bottom: 0;
      }

      @include breakpoint(large) {
        display: inline-block;
        padding: rem-calc(3) rem-calc(12);
        border-width: rem-calc(2);
        margin-bottom: 0;
        margin-left: rem-calc(20);

        &:after {
          left: 0;
          bottom: calc(50% - 10px);

          width: rem-calc(12);
          height: rem-calc(20);
        }

        li {
          text-align: left;

          &:nth-last-child(1) {
            &:after {
              border-width: rem-calc(2);
              //transform: rotate(63deg) skewX(36deg);
              transform: rotate(-31deg) skewX(29deg);

              //width: rem-calc(9);
              //height: rem-calc(12);
              width: rem-calc(15);
              height: rem-calc(13);
              left: rem-calc(-8);
              bottom: calc(50% - 6px);
            }
          }
        }
      }
    }
  }
}


.cart_shipping-page {
  @include getPhoneExtStyle();
}

.checkout-shipping {

  .mandatory {
    @include breakpoint(large) {
      margin-top: 2em;
    }
  }

  .submit-notes {
    display: block;
    font-size: rem-calc(14);
    max-width: initial;
  }

  .subscription-options {
    margin-bottom: 2rem;
  }
}



.info_sended_data {
  .title {

  }

  .address-view {
    padding: rem-calc(15) 0;
    list-style: none;
    margin: 0;

    li {
      line-height: 1.3;
    }
  }
}

