@import "./form/compound_field";
@import "./form/show_errors";
@import "./form/clear_input";

$field-width-small: 100%;
$field-width-medium: 20rem;
$field-width-large: rem-calc(295);

$field-height-medium: rem-calc(40);
$field-height-large: rem-calc(24);

form {
  label {
    .required {
      color: #ff2626;
    }

    &.required {
      &:after {
        color: #ff2626;
        content: '*';
        //padding-left: .5em;

        @include breakpoint(large) {
          position: absolute;
          right: rem-calc(-10);
          top: 0;
        }
      }
    }
  }
}

.default-form {

  //h1 {
  //  margin-bottom: 0;
  //  text-align: center;
  //
  //  @include breakpoint(medium up) {
  //    margin-bottom: .9em;
  //  }
  //}

  /* show label only on desktop */
  //.desktop-label {
  //  display: none;
  //
  //  @include breakpoint(large up) {
  //    display: block;
  //    font-size: rem-calc(20);
  //    font-weight: bold;
  //  }
  //}

  /* sets when user tried to submit form */


  @include breakpoint(large) {
    padding-top: rem-calc(30);
  }

  //.checkout-shipping {

    //.mandatory {
    //  @include breakpoint(large) {
    //    margin-top: 2em;
    //  }
    //}

    .submit-notes {
      display: block;
      font-size: rem-calc(13);
      max-width: initial;
      line-height: 110%;
      margin-top: rem-calc(5);
      color: #777777;

      @include breakpoint(sm) {
        font-size: rem-calc(14);
      }

      @include breakpoint(medium) {
        margin-top: rem-calc(10);
      }

      @include breakpoint(large) {
        margin-top: rem-calc(14);
      }
    }

    .subscription-options {
      @include breakpoint(medium) {
        margin-bottom: 2rem;
      }

    }
  //}

  .info_sended_data {
    .address-view {
      padding: 0 0 rem-calc(20);
      list-style: none;
      margin: 0;
      font-size: rem-calc(14);
      color: #3a3a3a;

      li {
        line-height: 1;
        padding-top: rem-calc(11);
      }
    }
  }


  .mandatory {

    font-size: rem-calc(13);
    color: #4a4949;
    padding: rem-calc(8) 0;

    @include breakpoint(sm) {
      font-size: rem-calc(14);
    }

    @include breakpoint(medium) {
      padding: rem-calc(20) 0;
    }

    @include breakpoint(large) {
      font-size: rem-calc(12);
      margin-top: rem-calc(6) !important;
      padding: 0;
    }

    .required {
      color: red;
      font-size: rem-calc(17);
    }
  }

  .hr {
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(0);
  }

  .submit {
      text-align: center;
      width: 100%;
      height: rem-calc(56);
      line-height: rem-calc(54);
      font-size: rem-calc(25) !important;
      font-weight: 700;
      text-transform: uppercase;

      &:after {
        width: rem-calc(19);
        height: rem-calc(16);
        background-origin: content-box;
        background-size: contain;
        display: inline-block;
        margin-left: rem-calc(3);
        content: '';
        background: url("../images/icons/cart/arrow_right_checkout.svg") no-repeat;
      }
    //}

    @include breakpoint(sm) {
      width: auto;
      height: rem-calc(65);
      line-height: rem-calc(63);
      font-size: rem-calc(30);
      min-width: rem-calc(340);
      max-width: 100%;
    }

    @include breakpoint(medium) {
      padding: 0 rem-calc(38);
      height: rem-calc(58);
      line-height: rem-calc(56);
      font-size: rem-calc(25);
      //width: rem-calc(240);
      min-width: rem-calc(240);

      &:after {
        width: rem-calc(19);
        height: rem-calc(19);
      }
    }

  }

  .tried_to_submit {

    input[required]:invalid,
    textarea[required]:invalid,
    select[required]:invalid {
      border: 1px solid #ee2a31;

      &:focus {
        border: 1px solid #ff8d91;
      }
    }
  }

  /* all input styles */
  .input-container,
  .input-block {
    width: $field-width-small;
    font-size: rem-calc(17);

    @include breakpoint(sm) {
      font-size: rem-calc(20);
    }

    @include breakpoint(medium) {
      max-width: $field-width-medium;
      font-size: rem-calc(18);
    }

    @include breakpoint(large) {
      max-width: $field-width-large;
      font-size: rem-calc(14);
    }
  }

  input, textarea, select {

    width: 100%;
    box-shadow: none;
    border: 1px solid #aaaaaa;
    padding: 0 .625rem;
    font-size: rem-calc(17);
    line-height: rem-calc(36);
    height: rem-calc(38);
    vertical-align: middle;
    color: #272727;
    appearance: none;
    box-sizing: border-box;
    background: #fefefe;
    border-radius: 0;

    //border: 1px solid #aaa;
    //line-height: 2.125rem;
    //padding: 0 .625rem;
    //margin: .375rem 0;

    @include breakpoint(sm up) {
      font-size: rem-calc(20);
      line-height: rem-calc(44);
      height: rem-calc(46);
    }

    @include breakpoint(medium up) {
      font-size: rem-calc(18);
      line-height: rem-calc(38);
      height: $field-height-medium;
    }

    @include breakpoint(large up) {
      max-width: $field-width-large;
      font-size: rem-calc(14);
      line-height: rem-calc(22);
      height: $field-height-large;
    }

    &::placeholder {
      font-style: italic;
      color: $grey_96;
    }

    &:focus {
      border: 1px solid #ff8d91;
    }

    &.invalid {
      border: 1px solid #ee2a31;

      &:focus {
        border: 1px solid #ff8d91;
      }
    }

    &.invalid {
      border: 1px solid #ee2a31;
    }

    @include breakpoint(sm down) {
      &.success {
        border: 1px solid $forest_green;
      }
    }
  }

  input[type=file]{
    height: auto;
    font-size: rem-calc(14);
  }

  /**
  @TODO: For fucking chrome
   */
  input[type=radio] {
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
  }

  /* special styles for textarea */

  textarea {
    resize: vertical;
    min-height: 7em;
    height: 7em;
    max-height: 14em;
    line-height: 110% !important;
    padding: rem-calc(10) .625rem;

    @include breakpoint(large) {
      padding: rem-calc(2) .625rem;
    }
  }

  //label {
  //  position: relative;
  //  display: block;
  //
  //  font: {
  //    size: rem-calc(17);
  //    weight: 700;
  //  }
  //
  //  @include breakpoint(large) {
  //    font: {
  //      size: rem-calc(14);
  //      weight: normal;
  //    }
  //  }
  //
  //  .required {
  //
  //    @include breakpoint(large) {
  //      position: absolute;
  //      right: rem-calc(-10);
  //      top: 0;
  //    }
  //  }
  //
  //  .comment {
  //    color: #777;
  //    font-size: .75rem;
  //  }
  //
  //}

  input[type=radio] {
    & + label {
      line-height: rem-calc(38);
      background-color: #f4f4f4;

      &:before {
        content: '';
        display: inline-block;
        margin-right: rem-calc(5);
        width: rem-calc(17);
        height: rem-calc(17);
        vertical-align: middle;
        background: url('../images/icons/inputs/radio_unchecked.png') center center no-repeat;
        background-origin: content-box;
        vertical-align: middle;
      }

      &:nth-child(2n) {
        background-color: $white;
      }

      &:nth-last-child(1) {
        background-color: #f4f4f4;
      }
    }

    &:checked + label {
      &:before {
        background-image: url('../images/icons/inputs/radio_cheched.png');
      }
    }
  }

  /* special styles for select */
  select {

    appearance: none;
    background: url('../images/select_str.png') calc(100% - .625rem) center no-repeat;

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    /* prevent <option>s from becoming transparent as well */
    option:not(:checked) {
      color: black;
    }

    @include breakpoint(large up) {
      background-size: .625rem;

      option {
        background-color: white;
        color: black;

        &:hover {
          background-color: #edf0f2;
        }

      }
    }

  }

  @include breakpoint(large up) {

    .input-container.wide {
      max-width: 32.9375rem;

      input,
      textarea {
        max-width: 100%;
      }
    }

  }

  /* page comments text styles */

  .page-info-text {

    text-align: center;
    font-size: rem-calc(14);
    color: #4a4949;
    line-height: 100%;
    margin-bottom: 1.875rem;

    @include breakpoint(medium up) {
      margin-bottom: 1em;
    }

    @include breakpoint(large up) {
      text-align: left;
      font-size: rem-calc(12);
      padding: 0;
    }

    .required {
      font-size: rem-calc(22);

      @include breakpoint(large up) {
        font-size: rem-calc(14);
      }

      &:after {
        content: '*';
        display: inline;
        vertical-align: top;
        color: #ff2626;
        position: static;
      }
    }
  }

  /* page labels text styles */

  .form-field {

    .input-info {
      @include breakpoint(medium) {
        width: rem-calc(30);
      }

      @include breakpoint(large) {
        width: rem-calc(25);
      }

      .show-success,
      .show-error {
        display: none;
        width: 1rem;
        height: 1rem;
        vertical-align: top;
        margin: rem-calc(11) 0 0 rem-calc(8);

        @include breakpoint(large) {
          margin-top: rem-calc(2);
        }
      }

      .show-success {
        width: rem-calc(22);
        height: rem-calc(22);
        background: url('../images/icons/forms/checkmark_accepted.svg') 0 0 no-repeat;

        @include breakpoint(large) {
          width: rem-calc(16);
          height: rem-calc(16);
        }
      }

      .show-error {
        width: rem-calc(20);
        height: rem-calc(20);
        background: url('../images/icons/forms/error.svg') 0 0 no-repeat;
        margin-left: rem-calc(9);

        @include breakpoint(large) {
          width: rem-calc(15);
          height: rem-calc(15);
        }
      }
    }

    @include breakpoint(medium) {
      &.success {
        .show-success {
          display: block;
        }
        .show-error {
          display: none;
        }
      }

      &.invalid {

        .show-success {
          display: none;
        }

        .show-error {
          display: block;
        }
      }
    }

    @include getFormErrorsStyle();

    .field-row {

      margin-bottom: 1rem;
      //padding: 0 .625rem;

      @include breakpoint(medium up) {
        display: flex;
        margin-bottom: rem-calc(22);
      }

      @include breakpoint(large up) {
        margin-bottom: rem-calc(12);
      }

      .field-title {
        line-height: 110%;
        margin-bottom: .33rem;

        @include breakpoint(medium up) {
          text-align: right;
          width: 50%;
          padding-right: .5625rem;
          margin-bottom: 0;
          line-height: $field-height-medium;
        }

        @include breakpoint(large up) {
          line-height: $field-height-large;
        }

        label {
          font-size: rem-calc(17);
          font-weight: bold;

          @include breakpoint(sm up) {
            font-size: rem-calc(20);
          }

          @include breakpoint(medium up) {
            font-size: rem-calc(18);
            font-weight: normal;
          }

          @include breakpoint(large up) {
            font-size: rem-calc(14);
          }

          &.required:after {
            content: '*';
            display: inline;
            vertical-align: top;
            color: #ff0000;
            position: static;
            font-weight: normal;
          }

        }

        @include breakpoint(medium) {
          .medium-multiline {
            line-height: 1;
          }
        }

        .comment,
        .hint {
          font-size: rem-calc(13);
          color: #777777;

          @include breakpoint(sm up) {
            font-size: rem-calc(14);
          }

          @include breakpoint(medium up) {
            font-size: rem-calc(14);
          }

          @include breakpoint(large up) {
            font-size: rem-calc(12);
            line-height: 105%;
          }
        }

        .hint {
          @include breakpoint(medium) {

            .hint-text {
              display: inline-block;
              max-width: 21rem;
            }
          }

        }
      }

      .field {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        @include breakpoint(medium up) {
          width: 50%;
        }

        @include breakpoint(large up) {
          font-size: rem-calc(14);
        }

        .compound-field-container {
          @include breakpoint(medium up) {
            height: $field-height-medium;
          }

          @include breakpoint(large up) {
            height: $field-height-large;
          }
        }
      }
    }
  }

  /** special styles for customer notes */
  .customer-notes {
    .form-field {

      padding-top: 1.2rem;
      padding-bottom: rem-calc(8);

      .field-title {
        padding-bottom: .8rem;

        .comment {
          display: none;
        }
      }

      @include breakpoint(medium) {
        .field-row {
          .field-title {
            width: 35%;
            text-align: left;

            label{
              font-size: rem-calc(22);
              font-weight: bold;
            }
          }
          .field {
            width: 65%;

            .input-container {
              max-width: rem-calc(395);

              textarea {
                max-width: 100%;
              }
            }
          }
        }
      }

      @include breakpoint(large) {

        padding-top: rem-calc(24);
        padding-bottom: rem-calc(40);

        .field-row {

          width: rem-calc(984);
          margin: 0 auto;

          .field-title {
            width: rem-calc(192);
          }
          .field {

            .input-container {
              max-width: rem-calc(610);
            }
          }
        }
      }

    }
  }

  /* styles for button */
  .button-row {
    text-align: center;

    .submit-button {
      display: inline-block;
      font-weight: bold;
      line-height: 100%;
      background-color: $dark_yellow;
      border-radius: 4px;
      padding: 1em 2.25rem;
      cursor: pointer;
      margin-top: 1em;
    }
  }

  .hr-position {
    .hr {
      border-bottom: 1px solid #bbbbbb;
      margin-top: 40px;
    }
  }

  /* styles for tabs */

  .tabs-container {
    margin-top: 44px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    .tabs-title-container {
      width: 100px;

      ul {
        width: 6.25rem;
        border: 0 !important;

        .tabs-title {
          background-color: #e7eaeb;
          border-top: 1px solid #b2b8bc;
          border-bottom: 1px solid #b2b8bc;
          border-left: 1px solid #b2b8bc;
          text-decoration: none;
          margin-top: .25rem;

          &:first-child {
            margin-top: 0;
          }

          a {
            color: #505050;
            padding: 1rem 1.75rem;
            font-size: 1rem;

            span {
              border-bottom: 1px dashed #505050;
            }

            &:hover {
              background-color: #e7eaeb;
              color: #505050;
              text-decoration: none;
            }
          }

        }

        .is-active {
          background-color: #fff;
          border-top: 2px solid #c2c2c2;
          border-bottom: 2px solid #c2c2c2;
          border-left: 2px solid #c2c2c2;
          position: relative;

          a {
            color: #000;
            background-color: #fff;
            text-decoration: none;

            span {
              border: 0;
            }

            &:hover {
              background-color: #fff;
              color: #000;
              text-decoration: none;
            }
          }

          &:after {
            content: "";
            display: block;
            height: 100%;
            width: 2px;
            background-color: #fff;
            top: 0;
            right: -2px;
            position: absolute;
          }
        }
      }
    }

    .tabs-content-container {
      width: calc(100% - 6.25rem);
      border: 2px solid #c2c2c2;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .tabs-content {
        width: 100%;
        border: 0;

        .tabs-panel {
          align-items: center;
          .tab-content {
            overflow: hidden;
            text-overflow: ellipsis;
            hyphens: auto;
          }

          .title {
            padding-right: .5rem;
          }
        }
        #Email {
          .title {
            display: none;
          }
        }

      }
    }
  }

  @include breakpoint(medium up) {

    .tabs-container {
      width: 43rem;
      .tabs-title-container {
        ul .tabs-title {
          a {
            font-size: rem-calc(18);
          }
        }
      }

      .tabs-content-container .tabs-content {
        font-size: rem-calc(20);
        #Email {
          .title {
            padding-right: 1.875rem;
            display: inline;
          }
        }
      }

    }

  }

  @include breakpoint(large up) {

    .tabs-container {
      width: 757px;

      .tabs-title-container {
        ul .tabs-title {
          a {
            font-size: 1rem;
          }
        }
      }

      .tabs-content-container .tabs-content {
        font-size: 1rem;
      }
    }
  }

  input[type=radio] {
    & + label {
      line-height: rem-calc(38);
      background-color: #f4f4f4;

      &:before {
        content: '';
        display: inline-block;
        margin-right: rem-calc(5);
        width: rem-calc(17);
        height: rem-calc(17);
        vertical-align: middle;
        background: url('../images/icons/inputs/radio_unchecked.png') center center no-repeat;
        background-origin: content-box;
      }

      &:nth-child(2n) {
        background-color: $white;
      }

      &:nth-last-child(1) {
        background-color: #f4f4f4;
      }
    }

    &:checked + label {
      &:before {
        background-image: url('../images/icons/inputs/radio_cheched.png');
      }
    }
  }

  @include getCompoundFieldStyle();

  h1 {
    text-align: center;

    @include breakpoint(medium) {
      margin-bottom: rem-calc(50);
    }

    @include breakpoint(large) {
      margin-bottom: rem-calc(30);
    }

    &.no-margin-bottom {
      margin-bottom: 0;
    }

    &.title-margin-small {
      margin-bottom: rem-calc(10);
    }
  }

  h2 {
    line-height: 110%;
    text-align: center;
    margin: 1rem 0 rem-calc(22);

    &.top-title {
      margin-bottom: rem-calc(5);
    }

    &.margin-bottom-default {
      margin-bottom: 1rem;
    }

    @include breakpoint(sm) {
      font-size: rem-calc(26);
    }

    @include breakpoint(medium) {
      font-size: rem-calc(30);
      margin: 1rem 0 rem-calc(32);
    }

    @include breakpoint(large) {
      font-size: rem-calc(20);
      line-height: rem-calc(36);
      text-align: left;
      margin: 0;
    }
  }

  h5{
    font-size: rem-calc(20);

    @include breakpoint(medium) {
      font-size: rem-calc(30);
      margin: 1rem 0 rem-calc(32);
      text-align: center;
    }

    @include breakpoint(large) {
      font-size: rem-calc(20);
      line-height: rem-calc(36);
      text-align: left;
      margin: 0;
    }
  }
  .private-claim {
    line-height: 110%;
    font-size: rem-calc(17);

    @include breakpoint(sm) {
      font-size: rem-calc(20);
    }

    @include breakpoint(medium) {
      font-size: rem-calc(17);
      text-align: center;
    }

    @include breakpoint(large) {
      font-size: rem-calc(14);
      text-align: left;
    }
  }

  @include getClearInputStyles();

  .submit-button-container {
    margin-top: 2rem;
  }

}