$default_qg_border: 1px solid #ffe296;
$default_qg_height: 35px;
$default_qg_lheight: #{$default_qg_height - 1};

@import 'product/list-item';

.quantity-group {
  border: $default_qg_border;
  word-spacing: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  max-width: rem-calc(126);

  .btn {
    flex: 0 0 rem-calc(22);

    //vertical-align: top;
    color: black;
    text-align: center;
    background-color: #fff0ca;
    //display: inline-block;
    height: $default_qg_height;
    min-width: 1.4em;
    line-height: $default_qg_lheight;
    cursor: pointer;

    @include breakpoint(large up) {
      height: rem-calc(28);
      line-height: rem-calc(27);
    }


    &.active {
      background-color: #ffe296;
    }

    &.inc {
      border-left: $default_qg_border;
    }

    &.dec {
      border-right: $default_qg_border;
    }
  }

  input {
    flex: 10 0;
    vertical-align: top;
    //height: $default_qg_height;
    //line-height: $default_qg_lheight;
    border: none;
    padding: 0;
    outline: none;
    text-align: center;
    width: 3em;
    max-width: 5em;
    margin: 0;
    min-width: 2em;

    @include breakpoint(large up) {

      height: rem-calc(28);
      line-height: rem-calc(27);
    }
  }
}


.cart_add {
  width:100%;
  display: flex;

  @include breakpoint(ml) {
    max-width: rem-calc(380);
  }

  .add {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    line-height: rem-calc(42);
    height: rem-calc(42);
    font: {
      size: rem-calc(18);
      weight: 900;
    }

    &:before {
      content: url("../../dist/images/icons/add_to_cart.svg");
      display: inline-block;
      width: rem-calc(35);
      height: rem-calc(27);
      //background: url("../dist/images/icons/add_to_cart.svg") center center no-repeat;
      background-size: 90%;
      vertical-align: text-bottom;
    }
  }

  .button {
    line-height: rem-calc(48);
    height: rem-calc(48);
  }

  .number-button {
    margin-right: .5rem;
    padding-right: rem-calc(20);
    padding-left: rem-calc(20);

    .number{

      &:after {
        content: url("../../dist/images/icons/arrow_down.svg");
        display: inline-block;
        width: rem-calc(13);
        height: rem-calc(8);
        vertical-align: middle;
        margin-top: -50px;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  .grey-border{
    border: 1px solid #b4b4b4;
    font-size: rem-calc(18);
    color: #515151;
  }
}

.prices__container {

  @include breakpoint(medium only) {
    padding-left: rem-calc(24);
    padding-right: rem-calc(24);
  }
  .price-section {
    //max-width: 375px;
    margin-bottom: rem-calc(22);
  }

  .price-info-block {
    font-size: rem-calc(14);
    line-height: rem-calc(33);
    color: #505050;
    white-space: nowrap;

    @include breakpoint(medium) {
      font-size: rem-calc(18);
    }

    .price {
      padding: 0;
    }

    .orig-info-text {
      text-decoration: line-through;
    }

    .price-value-text {
      font-size: rem-calc(22);
      font-weight: bold;
      color: #000000;

      @include breakpoint(medium) {
        font-size: rem-calc(30);
        margin-bottom: rem-calc(14);
      }
    }
  }
}

.select-quantity {
  text-align: center;

  .title {
    font-size: rem-calc(24);
    line-height: rem-calc(32);
    padding-bottom: rem-calc(20);
    font-weight: bold;
  }
  .quantity-radio-group {
    margin: 0 auto;
    width: rem-calc(260);

    input[type="radio"] {
      display: none;
      position: absolute;
      top: -9999px;
      left: -9999px;

      & + label {
        display: block;
        width: 100%;
        line-height: rem-calc(43);
        height: rem-calc(43);
        border: 1px solid #aaaaaa;
        text-align: center;
        font-size: rem-calc(18);
        color: #4a4949;
        cursor: pointer;
        border-radius: rem-calc(6);
        margin-bottom: rem-calc(5);
        position: relative;
      }

      &:checked + label{
        font-weight: bold;
        color: #ffffff;
        background-color: #28862f;
        border-color: #28862f;

        &:after {
          content: url("../../dist/images/icons/white_check_mark.svg");
          display: block;
          position: absolute;
          top: rem-calc(4);
          right: rem-calc(13);
          width: rem-calc(22);
          height: rem-calc(23);
        }
      }
    }

  }

  .input-quantity {
    padding-bottom: 1.5rem;

    input {
      width: 100%;
      line-height: 2rem;
    }
  }

  .button {
    line-height: rem-calc(43);
    height: rem-calc(43);
    width: 100%;
  }
}