.slider-block {
  margin-top: rem-calc(40);

  @include breakpoint(large) {
    margin-top: rem-calc(50);
  }

  .scrollbar {
    width: 100%;
    height: 12px;
    position: relative;
    margin-top: rem-calc(10);

    &:before {
      position: absolute;
      content: '';
      height: 2px;
      top: 5px;
      display: block;
      left: 0;
      right: 0;
      background-color: #eee;
    }

    .handle {
      width: 0;
      height: 12px;
      position: relative;
      //top: -5px;
      cursor: pointer;

      &:before {
        transition: background-color .3s;
        overflow: hidden;
        border-radius: rem-calc(10);
        position: absolute;
        display: block;
        background-color: #dadada;
        content: '';
        top: 4px;
        height: 4px;
        left: 0;
        right: 0;
      }

      &.dragged {
        &:before {
          background-color: #aaa;
        }
      }
    }

    &:hover {
      .handle {
        &:before {
          background-color: #aaa;
        }
      }
    }
  }


  .slider-data {
    //ul {
    //  &:after {
    //    content: '';
    //    display: table;
    //    clear: both;
    //  }
    //
    //  li {
    //    float: left;
    //  }
    //}

    .product-items {
      flex-wrap: nowrap;

      .item {
        background: #fff;
        max-width: rem-calc(160);

        @include breakpoint(medium) {
          max-width: rem-calc(172);
        }

        @include breakpoint(large) {
          max-width: rem-calc(230);
        }

        .overflow_container {
          display: none !important;
        }
      }
    }
  }

  &.loaded {
    .scrollbar {

    }
  }
}

.slider-products {
  .slider-block {
    .slider-data {
      min-height: rem-calc(320);
    }
  }
}

html {
  &.touchevents {
    .slider-data {
      .product-items {
        &.tile-view {
          .item {
            .overflow_container {
              display: none;
            }
          }
        }
      }
    }
  }
}
