.product__images-slider {
  width: rem-calc(458);
  height: rem-calc(462);

  .images-slider {
    height: 100%;

    &:after {
      content:'';
      clear: both;
    }

    .slider-thumbs {
      float: left;
      width: rem-calc(53);
      height: 100%;
      margin-right: rem-calc(5);
      overflow: hidden;

      .wrap {
        height: 277px;
        overflow: hidden;

        @include breakpoint(medium up) {
          height: 600px;
        }

        @include breakpoint(ml up) {

        }

        @include breakpoint(large up) {
          height: 400px;
        }

        @include breakpoint(xl up) {

        }
      }

      .slide {
        width: rem-calc(53);
        height: rem-calc(61);
        margin: rem-calc(5) 0;
        line-height: rem-calc(50);
        border: 2px solid #fff;
        vertical-align: middle;
        text-align: center;
        transition: all ease-in-out .4s;
        background: no-repeat center center;
        background-size: contain;

        &.active {
          border-color: #e1e1e1;
        }

        //& > * {
        //  vertical-align: middle;
        //  line-height: 1;
        //}
      }
    }

    .slider-detail {
      width: rem-calc(350);
      height: 100%;
      overflow: hidden;
      margin-left: rem-calc(5);

      @include breakpoint(xl up) {
        width: rem-calc(458 - 53 - 5);
      }


      .wrap {
        width: 100%;
        height: 100%;

        .slide {
          width: 100%;
          height: 100%;

          &.type-video {
            //height: fit-content;
            padding-bottom: rem-calc(20px);

            iframe {
              width: 100%;
              //height: 100%;
              height: max-content;
              min-height: rem-calc(360);
            }
          }

          .image {
            width: 100%;
            height: 100%;
            background: no-repeat center center;
            background-size: contain;
          }
        }
      }
    }

    .wrap {

    }

  }

}
.play-icon {
  position: relative;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
  }

  &:before {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    opacity: 0.5;
    background-color: black;
    margin-top: -17px;
    margin-left: -17px;
  }

  &:after {
    border: 8px solid transparent;
    border-right-width: 14px;
    border-left: 14px solid #ededed;

    margin-left: -5px;
    margin-top: -8px;
    z-index: 2;
  }
}

.slider-detail {
  .play-icon {

    &:before {
      width: 50px;
      height: 50px;
      margin-top: -25px;
      margin-left: -25px;
    }

    &:after {
      border: 16px solid transparent;
      border-right-width: 24px;
      border-left: 24px solid #ededed;

      margin-left: -12px;
      margin-top: -16px;
    }
  }
}