.sidebar-menu-link {
    display: block;
    font-size: rem-calc(13);
    color: #494949;
    text-decoration: none;
    padding: 0 rem-calc(5) 0 rem-calc(7);
    transition: all 0.125s ease;

    &:hover,
    &:visited {
        color: #494949;
    }

    &:hover {
        padding: 0 rem-calc(5) 0 rem-calc(12);
        color: #000000;
    }

    &:first-letter {
        text-transform: uppercase;
    }
}
