.label-card-block{
  margin-bottom: 10px !important;
}

.edit-card-top-part{
  margin-bottom: 20px;
}

.address-block{
  margin-bottom: 20px;
}

.change-address-btn{
  font-size: 12px;
  color: #055A93;
  cursor: pointer;

  &:hover{
    text-decoration: underline;
  }
}