@import "styles/utils/Utils.module";

.formInfo {
  font-size: pxToRem(16);
  text-align: justify;

  @include breakpoint(md) {
    font-size: pxToRem(18);
  }

  @include breakpoint(lg) {
    font-size: pxToRem(14);
  }
}
