@import "styles/utils/Utils.module";

.pageBody {
  border: 1px solid #c4c4c4;
  padding: 0;

  @include breakpoint(lg) {
    padding: pxToRem(20) pxToRem(26) pxToRem(35);
  }
}

.button_disable {
  font-size: pxToRem(20);
  height: pxToRem(47);

  @include breakpoint(lg) {
    font-size: pxToRem(14);
    height: pxToRem(34);
  }
}

.button_requireOtp {
  font-size: pxToRem(18);
  height: pxToRem(47);

  @include breakpoint(md) {
    font-size: pxToRem(20);
  }

  @include breakpoint(lg) {
    font-size: pxToRem(14);
    height: pxToRem(34);
  }
}

.commonLink {
  line-height: inherit;
  font-size: pxToRem(18);
  color: #055a93;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  @include breakpoint(lg) {
    font-size: pxToRem(14);
  }
}

.text {
  @include breakpoint(md) {
    font-size: pxToRem(18);
  }

  @include breakpoint(lg) {
    font-size: pxToRem(14);
  }
}

.caption {
  @include breakpoint(md) {
    font-size: pxToRem(18);
  }

  @include breakpoint(lg) {
    font-size: pxToRem(16);
  }
}
