.form-input-label__optional {
    &:after {
        content: " (optional)";
        color: #959595;
        font-size: rem-calc(12);
        font-weight: normal;
        text-transform: none;

        @include breakpoint(md up) {
            font-size: rem-calc(14);
        }
    }
}
