$image: rem-calc(85);
$name: rem-calc(555);
$price: rem-calc(160);
$quantity: rem-calc(177);
$x: rem-calc(53);
$extended: rem-calc(123);
$remove: rem-calc(107);
$quantity_extended: $quantity + $x + $extended;


.cart-page {
  .table {
    .image-name {
      //width: $image + $name;
      flex-grow: 1;
      flex-shrink: 1;
    }

    .image {
      width: $image;
      text-align: center;
    }

    .name {
      padding-left: rem-calc(20);
      //width: $name;
      flex-grow: 1;
      flex-shrink: 1;
    }

    .price {
      width: $price;
      text-align: center;
    }

    .x {
      width: $x;
      text-align: center;

      @include breakpoint(large up) {
        flex-shrink: 1;
        text-indent: -9999px;
      }
    }

    .quantity {
      width: $quantity;
      text-align: center;

      @include breakpoint(medium down) {
        width: rem-calc(135);
      }
    }

    .extended {
      width: $extended;
      text-align: left;
    }

    .remove {
      width: $remove;
      text-align: center;
    }


    .name-quantity {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .quantity-extended {
      width: $quantity + $x + $extended;
    }

    .table-head {
      line-height: rem-calc(40);
      background: #ebebeb;

      .image-name {
        text-align: center;
      }
    }

    .table-body {
      .table-row {
        padding: rem-calc(12) 0;
        min-height: rem-calc(105);
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        border-collapse: collapse;
      }

      .table-row, .table-wrapper {
        align-items: center;
      }
    }
  }


  .warehouse_products {
    .shipped_from {
      padding: rem-calc(22) 0;
      text-align: center;
      font-size: rem-calc(18);
      font-weight: 700;
    }

    .warehouse_subtotal {
      padding-top: rem-calc(20);
      margin-bottom: rem-calc(40);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .from, .subtotal {
        display: flex;
        flex: 0 0 100%;
      }

      .from {
        padding-right: rem-calc(5);
        //max-width: $name + $price + $quantity + $x;
        justify-content: flex-end;
      }

      .subtotal {
        font-size: rem-calc(16);
        max-width: $extended + $remove;
      }
    }

  }

  .hr {
    background-color: #8a8a8a;
  }

  .grand_subtotal {
    display: flex;
    padding: rem-calc(20) 0;

    .memo, .subtotal_title, .subtotal {
      display: flex;
      flex: 0 0 100%;
    }

    .memo {
      font-size: rem-calc(14);
      order: 1;
      flex-direction: column;

      @include breakpoint(large up) {
        max-width: $name + $price;
      }
    }

    .subtotal_title, .subtotal {
      color: #010101;
      font-size: 20px;
      font-weight: 700;
    }

    .subtotal_title {
      justify-content: flex-end;
      padding-right: rem-calc(5);
      max-width: $quantity + $x;
    }

    .subtotal {
      max-width: $extended + $remove;
    }
  }
}