$padding_container: rem-calc(18);

.catalog-page {
  .pcont {
    padding-left: $padding_container;
    padding-right: $padding_container;
  }

  .top-block {
    min-height: rem-calc(225);
    margin-bottom: rem-calc(10);
  }

  .description {
    .content {
      height: #{3 * $global-lineheight}em; //3 row * line-height
    }
  }

  .subcategories {
    margin-top: rem-calc(16);
    border-top: 1px solid #dcdcdc;
    padding: rem-calc(15) 0;
    font-size: rem-calc(12);
    line-height: 1.7;
  }

  .state_line {
    font-weight: 500;
    line-height: rem-calc(40);
    height: rem-calc(40);
    background-color: #ebebeb;

    .action_block {
      display: inline-block;

      a {
        &.tile-view {

        }

        &.list-view {

        }
      }
    }

  }

}