$padding_container: rem-calc(18);

.catalog-page {
  .pcont {
    padding-left: $padding_container;
    padding-right: $padding_container;
  }

  .top-block {
    min-height: rem-calc(225);
    margin-bottom: rem-calc(10);
  }

  .description {
    .content {
      height: #{3 * $global-lineheight}em; //3 row * line-height
    }
  }

  .subcategories {
    margin-top: rem-calc(16);
    border-top: 1px solid #dcdcdc;
    padding: rem-calc(15) 0;
    font-size: rem-calc(12);
    line-height: 1.7;
  }

  .state_line {
    font-weight: 500;
    line-height: rem-calc(40);
    height: rem-calc(40);
    background-color: #ebebeb;

    .action_block {
      display: inline-block;
    }

  }

  .items {
    .item {
      padding-bottom: 1.4%;
      padding-right: 2%;
      margin: 15px 0;
      border-bottom: 1px solid #cccccc;
      position: relative;

      &:after {
        content: '';
        clear: both;
        display: block;
      }

      &:nth-last-child(1) {
        margin-bottom: 20px;
      }
      
      .container {
        float: left;
      }

      .image_container {
        position: relative;
        width: 19%;
        text-align: center;

        .button-quick-view {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      .info_container {
        width: 60%;
        color: #333;
        padding: 0 3%;

        .title {
          &, a {
            color: black;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .sku {
          font: {
            size: rem-calc(16);
          };

          .value {
            color: #28862f;
            text-transform: uppercase;
            font: {
              weight: 400;
            }
          }

          .has-tip {
            width: 19px;
            height: 19px;
            line-height: 1.3;
            color: #ffffff;
            background-color: #cfcfcf;
            font-weight: bold;
            cursor: pointer;
            border-radius: 10px;
            text-align: center;
            display: inline-block;
            border: none;
          }
        }

        .description {

        }

        .parameters {
          margin-top: rem-calc(10);
          font: {
            size: rem-calc(14);
          }

        }
      }

      .cart_price_container {
        width: 20%;

        .price_container {
          .old, .current {
            display: block;
          }

          .price {
            padding-left: 3%;
          }

          .old {
            color: #5c5c5c;
          }

          .current {
            .price {
              font: {
                weight: bold;
              }
            }
          }
        }

        .cart_quantity {
          text-align: justify;
          line-height: 0;
          margin: 5% 0;

          //@include breakpoint(large up) {
          //  margin: 0;
          //}

          &:after {
            content: '';
            font-size: 0;
            width: 100%;
            display: inline-block;
          }

          .quantity-group {
            display: inline-block;
          }


        }

        .cart_add {
          .add {
            width: 100%;
            text-transform: uppercase;
            line-height: rem-calc(42);
            height: rem-calc(42);
            font: {
              size: rem-calc(18);
              weight: 900;
            }

          }
        }
      }


      &:hover {
        .button-quick-view {
          display: block !important;
        }
      }
    }
  }
}