@import "~style-modules/sass-utils";

.userIcon {
  width: rem-calc(45);
  height: initial;

  @include breakpoint(lg up) {
    width: rem-calc(20);
  }
}

.userAvatar {
  width: rem-calc(55);
  height: auto;
  border-radius: 100px;

  @include breakpoint(lg up) {
    width: rem-calc(30);
  }
}

.hatLoginButton {
  &:hover, &:focus {
    color: #ffffff;
    background-color: #135982;
  }
}
