
.table-related-order-head {
  background-color: #fff2cc;

  .item-fraud {
    background-color: #f4cccc;
  }
}

.product-column {
  white-space: nowrap;
}

.empty-row {
  height: 21px;
}

.order-link {
  color: blue !important;
}

.field-name {
  width: 120px;
}
