@import "styles/utils/Utils.module";

.productsSlider {
  max-width: 100%;
}

.productsSliderSlide {
  box-sizing: border-box;
  width: pxToRem(174);
  padding: pxToRem(15);
  border: 1px solid transparent;

  &:hover {
    border-color: #b7b7b7;
  }
}

.title {
  font-weight: bold;
  font-size: pxToRem(20);
  line-height: pxToRem(24);
  text-transform: uppercase;
  color: #154158;

  @include breakpoint(md) {
    font-size: pxToRem(24);
    line-height: pxToRem(29);
  }

  @include breakpoint(lg) {
    font-size: pxToRem(20);
    line-height: pxToRem(24);
  }
}

.link {
  color: #055a93;
}

.swiperScrollbarDrag {
  height: pxToRem(20);
  cursor: pointer;
  margin: pxToRem(28) 0 0 0;

  &:before {
    transition: background-color 0.3s;
    overflow: hidden;
    border-radius: pxToRem(10);
    position: absolute;
    display: block;
    background-color: #dadada;
    content: "";
    top: pxToRem(8);
    height: pxToRem(4);
    left: 0;
    right: 0;
  }

  &:hover:before {
    background-color: #aaaaaa;
  }
}
