.account-modal-header {
  font-weight: bold;
  font-size: rem-calc(18);

  @include breakpoint(sm up) {
    font-size: rem-calc(22);
  }

  @include breakpoint(lg up) {
    font-size: rem-calc(18);
  }
}