.add-to-cart-button-checkout {
  display: none;
  color: #494949;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18px;
  align-items: center;
  justify-content: center;
  width: 139px;
}
