.error-right {
  &-margin {
    padding: 0 10px;
    margin: 0;
    margin-left: 15px;
  }

  &::before {
    content: "";
    position: absolute;
    left: -6px;
    top: calc(50% - 0.25rem);
    border: 1px solid #ed1c24;
    transform: rotate(155deg) skewX(36deg);
    width: 10px;
    height: 8px;
    bottom: -.3125rem;
    border-top: none;
    border-left: none;
    background: linear-gradient(321deg, #ffebeb 50%, transparent 0) #ffebeb;
  }
}

.error-message-right {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-validate-icons {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    width: 20px;
    height: 25px;
    margin-left: 15px;
  }

}