[mysql]
default-character-set=utf8mb4

[mysqld]
max_connections = 256

thread_cache_size = 300

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

skip-log-bin = 1

skip_name_resolve=on
event_scheduler=on

table_open_cache = 600

key_buffer_size  = 32M
sort_buffer_size = 16M
join_buffer_size = 128M


max_allowed_packet = 16M
max_heap_table_size = 512M
tmp_table_size = 512M

group_concat_max_len = 10485760

innodb_buffer_pool_instances = 16
innodb_buffer_pool_size = 20G
innodb_log_buffer_size = 32M
innodb_log_file_size = 2G
innodb_use_native_aio = 1
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_write_io_threads = 24
innodb_read_io_threads = 24
innodb_thread_concurrency = 48
innodb_lru_scan_depth = 2000
innodb_io_capacity_max = 35000
innodb_io_capacity = 30000
innodb_flush_log_at_trx_commit=2
innodb_sort_buffer_size = 16M