[mysql]
default-character-set=utf8mb4

[mysqld]
max_connections = 256

thread_cache_size = 300

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

#skip-log-bin = 1
log_bin_trust_function_creators = 1

#replication settings
log_bin = mysql_bin
server_id = 2
relay-log = /var/lib/mysql/mysql-relay-bin
relay-log-index = /var/lib/mysql/mysql-relay-bin.index
read_only = 1

skip_name_resolve=on

#should be enabled on prod
event_scheduler=off

table_open_cache = 600

key_buffer_size  = 32M
sort_buffer_size = 16M
join_buffer_size = 128M


max_allowed_packet = 16M
max_heap_table_size = 512M
tmp_table_size = 512M

table_definition_cache = 1000

group_concat_max_len = 10485760

innodb_buffer_pool_instances = 64
innodb_buffer_pool_size = 64G

innodb_log_buffer_size = 32M
innodb_log_file_size = 8G
innodb_use_native_aio = 1
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_write_io_threads = 24
innodb_read_io_threads = 24
innodb_thread_concurrency = 48
innodb_lru_scan_depth = 2000
innodb_io_capacity_max = 35000
innodb_io_capacity = 30000
innodb_flush_log_at_trx_commit=2
innodb_sort_buffer_size = 16M

sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

performance_schema = ON