[mysql]
default-character-set=utf8mb4

[mysqld]
sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

skip-log-bin = 1
log_bin_trust_function_creators = 1

skip_name_resolve=on
event_scheduler=off


server-id = 2
relay-log = /var/lib/mysql/mysql-relay-bin
relay-log-index = /var/lib/mysql/mysql-relay-bin.index
replicate-do-db = xcart_k
