.checkout__delivery-methods-header {
  margin: rem-calc(25) 0 rem-calc(21);

  @include breakpoint(md up) {
    margin: rem-calc(38) 0 rem-calc(30);
  }

  @include breakpoint(xl up) {
    margin: rem-calc(25) 0 rem-calc(22);
  }
}
