.bottom-menu {
  background-color: #ffb400;

  @include breakpoint(medium) {
    padding: rem-calc(20) 0;
  }

  .menu-list {
    display: flex;
    justify-content: space-between;

    .level-1 {

      span {
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: rem-calc(10);
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6;

    li {
      padding: 0;
      line-height: 1.6;

      span, a {
        color: black;
      }
    }
  }

  .mobileMenu {
    .accordion-title{
      border: 1px solid #ffffff;
      background-color: #ffb400;
      font-size: 1rem;
      font-weight: bold;

      @include breakpoint(sm) {
        font-size: rem-calc(20);
      }


      &:before {
        position: absolute;
        right: 1rem;
        margin-top: -.9rem;
        font-size: 1.8rem;
      }
    }
  }
}