footer {
  .footer-content {
    min-height: 60px;
    background-color: #15303f;

  }

  .footer-menu {
    min-height: rem-calc(60);
    line-height: rem-calc(30);
    background-color: #0d2431;
    color: #6796b0;
    font-size: rem-calc(13);

    @include breakpoint (medium) {
      font-size: rem-calc(14);
      line-height: rem-calc(60);
    }

    .copyright {
      font-weight: 300;
      font-size: rem-calc(10);

      @include breakpoint (medium ) {
        font-size: rem-calc(12);
      }
    }

    ul {
      display: inline-block;
      text-align: center;
      margin: 0;

      li {
        display: inline-block;
        color: #d0eeff;

        a {
          color: inherit;
        }
      }
    }
  }
}