footer {
  .footer-content {
    min-height: 60px;
    background-color: #15303f;
    padding: rem-calc(10) 0;


    .contacts-presentations {
      @include breakpoint(large) {
        margin-bottom: 10px;
      }
    }

    .left-side {
      @include breakpoint(large) {
        border-right: 2px solid #2a4a5c;
      }
    }

    .present-icons {
      .column {
        display: flex;
        justify-content: space-between;

        & > * {
          flex: 33%;
        }
      }
    }

    .s3logo {
      width: 100px;
      height: 60px;
    }

    .all-times {
      width: 200px;
      color: #ffae21;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      clear: both;
      display: inline-block;

      img {
        float: left;
        width: 41px;
        height: 45px;
      }

      .title {
        font-size: 20px;
        font-weight: 900;
        line-height: 20px;
      }
    }

    .contacts {
      .column {
        display: flex;
        justify-content: space-between;

      }
    }

    .confirmations {
      @include breakpoint(large) {
        border-top: 2px solid #2a4a5c;;
      }
    }

    .menu-list {
      margin: 0;
      color: #6796b0;
      line-height: 31px;
      font-size: 16px;

      .title-menu {
        color: white;
        font-size: 21px;
        font-weight: 700;
        line-height: 21px;
      }

      .toll-free {
        font-size: 20px;

        .number {
          font-weight: 700;
          text-decoration: underline;
        }
      }

      a {
        color: #d0eeff;
      }

      @include breakpoint(medium) {
        line-height: 30px;
        font-size: 14px;

        .title-menu {
          font-size: 16px;
        }

        .toll-free {
          font-size: 18px;
        }
      }

      @include breakpoint(large) {
        line-height: 20px;
        font-size: 14px;

        .title-menu {
          font-size: 16px;
        }

        .toll-free {
          font-size: 20px;
        }
      }
    }
  }

  .footer-menu {
    min-height: rem-calc(60);
    line-height: rem-calc(30);
    background-color: #0d2431;
    color: #6796b0;
    font-size: rem-calc(13);

    @include breakpoint (medium) {
      font-size: rem-calc(14);
      line-height: rem-calc(60);
    }

    .copyright {
      font-weight: 300;
      font-size: rem-calc(10);

      @include breakpoint (medium ) {
        font-size: rem-calc(12);
      }
    }

    ul {
      display: inline-block;
      text-align: center;
      margin: 0;

      li {
        display: inline-block;
        color: #d0eeff;

        a {
          color: inherit;
        }
      }
    }
  }
}