footer {
  .footer-content {

  }

  .footer-menu {
    min-height: rem-calc(60);
    background-color: #0d2431;

    ul {
      line-height: rem-calc(60);
      text-align: center;
      margin: 0;

      li {
        display: inline-block;

        &, a {
          color: #d0eeff;
        }
      }
    }
  }
}