.page-invitation-subtitle{
  margin-left: 30px;
  margin-bottom: 15px;
}

.page-invitation-user-profile-container{
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #C4C4C4;
}

.page-invitation-user-profile-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.page-invitation-user-profile-name{
  font-size: 18px;
  line-height: 38px;
}

.edit-profile-btn{
  border-color: #c4c4c4 !important;
}

.accept-list-btn{
  margin-right: 15px !important;
}

.page-invitation-btns{
  margin-top: 25px;
  margin-left: 30px;
}