.form__price_button {
  margin: 10px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #0474ff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.table__dx-price {
  margin-bottom: 20px;
}

.table__dx-price th {
  background: #efefef;
  border: 1px solid #dddddd;
}

.table__dx-price td {
  border: 1px solid #dddddd;
}

.table__dx-price tr td:first-child, .table__dx-price tr th:first-child {
  border-left: none;
}

.table__dx-price tr td:last-child, .table__dx-price tr th:last-child {
  border-right: none;
}

.td-price-form {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  position: relative;
}

.td-first-item {
  font-weight: bold;
}

.pop-menu__table-dx {
  background-color: white !important;
  font-size: 12px !important;
  color: black !important;
  border: 0.12rem solid black;
}

.app-bar__back-color {
  color: black !important;
  background-color: #efefef !important;
}

.close-dialog__button {
  text-align: right;
  padding: 10px;
}
.form-group-select{
  margin-bottom: 0 !important;
}
