.filter-block {
  .full { display:none; }

  .block-title {
    text-transform: uppercase;
    font-size: rem-calc(20);
    background: #ebebeb;
    text-align: center;
    line-height: rem-calc(40);
    margin-bottom: rem-calc(6);
  }

  .accordion {
    .accordion-item {
      .accordion-title {
        border: none;
        font-size: rem-calc(16);
        line-height: rem-calc(20);
        padding: 10px 14px 9px 22px;
        border-top: 1px solid #dcdcdc;
        font-weight: bold;

        &:hover {
          background: none;
        }
      }


      .accordion-content {
        border: none;
        padding: rem-calc(2) 0 rem-calc(10);


        ul {
          li {
            font-size: rem-calc(12);
            position: relative;
            margin: .5em 0;

            &:first-child {
              margin-top: 0;
            }

            label {
              padding-left: 20px;
              margin: 0;
              display: inline-block;

              .count {
                color: #838383;
              }
            }

            input {
              &[type=checkbox] {
                display:none;

                & + label {
                  position: relative;
                  cursor: pointer;

                  &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    left: 0;
                    border: 1px solid #aaaaaa;
                    width: 1.25em;
                    height: 1.25em;
                    //margin-top: -8px;
                    //top: 50%;
                    top: .2em;

                  }
                }

                & + label {
                  &:before {
                    background: no-repeat center center;
                  }
                }
                &:checked + label {
                  &:before {
                    background-image: url("../images/icons/filter/check.svg");
                    background-size: .8em .8em;
                  }
                }
                &.checked {
                  &:checked + label {
                    &:before {
                      background-image: url("../images/icons/filter/cancel.svg");
                      border: none !important;
                      background-size: 1.3em 1.3em;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.is-active {}
      &:first-child {
        .accordion-title {
          border: none;
        }
      }
      &:last-child {
        .accordion-title {
          border-bottom: 1px solid #dcdcdc;
        }
      }
    }
  }

  .buttons {

    button {
      border-radius: 5px;
      background-color: #15303f;
      height: 33px;
      //line-height: 35px;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;

      width: 94px;
      font-size: 0.875rem;
    }

    .reset_filter {
      color: #055a93;
      border-bottom: 1px dashed #055a93;
      font-size: rem-calc(14);
      line-height: 1em;
      display: inline-block;
    }
  }
}

.filter_reset {
  margin: rem-calc(15) 0;
  .column-block {
    margin: .3em 0;
  }

  .filter_item {
    position: relative;
    padding-left: 20px;
    font-size: rem-calc(15);

    @include breakpoint(medium up) {
      font-size: rem-calc(16);
    }


    &:before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      width: 15px;
      height: 15px;
      margin-top: -8px;
      top: 50%;

      background-image: url("../images/icons/filter/cancel.svg");
      background-size: 15px 15px;
    }

    .filter_group {
      color: #838383;
      font-size: 14px;
    }
  }
}

.catalog-page {
  #filter_form {
    .accordion {
      .accordion-item {
        .accordion-title {
          &:before {
            content: '';
            display: block;
            border: 5px solid transparent;
            border-left: 7px solid black;

            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -5px;
            width: 7px;
            transition: all .4s;
          }
        }

        .accordion-content {
          .show_all {
            color: #055a93;
            border-bottom: 1px dashed #055a93;
            font-size: 0.75rem;
            line-height: 16px;
            margin: 15px 22px 8px;
            outline: none;
          }
        }

        &.is-active {
          .accordion-title {
            &:before {
              transform: rotate(90deg);
            }
          }
        }
      }
    }

    .buttons {
      @include justify-menu();

      button {
        width: 50%;
        font-size: 1em;
        border-radius: 5px;
        background-color: #15303f;
        height: 33px;
        //line-height: 35px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
      }

      .reset_filter {
        color: #055a93;
        border-bottom: 1px dashed #055a93;
        font-size: rem-calc(14);
        line-height: 1em;
        display: inline-block;
      }
    }
  }
}

.filters {
  &.mmodal-modal-bg {
    z-index: 10!important;
  }

  .mmodal-container {
    @include breakpoint(medium up) {
      width: 90vw !important;
      max-width: map_get($breakpoints, xxlarge);
    }

    @include breakpoint(medium down) {
      width: 100vw !important;
      min-height: 100vh;
      margin:0;
    }
  }

  .mmodal-content {
    padding: 0;

    @include breakpoint(medium down) {
      min-height: 100vh;
    }

    .filter-block {
      .full { display: block; }
      .short { display: none; }

      .block-title {
        background-color: #1e3f51;
        color: #90a6b1;
      }

      .accordion {
        .accordion-item {
          .accordion-title {

            &:before {
              //display: none;
              font-size: 1.2em;
              margin-top: -.6em;
            }
          }
          .accordion-content {
            padding: 0 10px;

            .filter {
              &.full {
                ul {
                  margin: 10px 0;

                  @include breakpoint(xsmall up) {
                    column-count: 2;
                  }
                  @include breakpoint(medium up) {
                    column-count: 3;
                  }
                  @include breakpoint(large up) {
                    column-count: 4;
                  }

                  li {

                  }
                }
              }
            }
          }

          &.is-active {
            .accordion-title {
              //background-color: #dfe5e8;
              background-color: #f5f5f5;
            }

          }
        }
      }
    }

    .buttons {
      padding: rem-calc(15) 0;
      box-shadow: 0 -4px 9px rgba(0, 0, 0, 0.15);
      text-align: center;
      background-color: #fff;

      @include breakpoint(medium down) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
      }

      button, .reset_filter {
        max-width: 238px;
        width: 50%;
        height: 45px;
        line-height: 45px;
        font-size: rem-calc(18);
        display: inline-block;

        margin: 0 1em;
        border-radius: 8px;
        text-transform: uppercase;
        text-align: center;
        vertical-align: top;
        border: 2px solid #15303f;


        @include breakpoint(xsmall down) {
          width: 35%;
          margin: 0 .5em;
        }
        @include breakpoint(large up) {
          margin: 0 2em;

          border-radius: 5px;
        }
      }

      button {
        background-color: #15303f;
        color: #ffffff;
      }

      .reset_filter {
        color: #15303f;

        .text {
          vertical-align: baseline;
          line-height: 1;
        }
      }
    }

    @include breakpoint(medium down) {
      padding-bottom: rem-calc(80);
    }
  }


  #filter_form {
    .filters_section {
      &.default {
        display: none;
      }
    }
  }

 &.filter {

   &.default {
     #filter_form {
       .filters_section {
         display: none;

         &.default {
           display: block;
         }
       }
     }
   }

 }
}