.table {
  width: 100%;
  table-layout: auto;
  display: table;

  .trow {
    display: table-row;
    width: 100%;
  }
  .tcell {
    display: table-cell;
    width: 100%;
  }

  .thead {}
  .tbody {}
}