@import "styles/utils/Utils.module";

.root {
  overflow-x: hidden;
}

.account__mainWrapper {
  position: relative;
  left: 0;
}

.accountMainWrapper {
  transition: left 0.33s ease-out;
  min-height: 100vh;
  overflow: hidden;
}

.accountMainWrapper__mainWrapperShifted {
  left: pxToRem(300);
}
