.billing__switcher {
    margin: 0 0 14px 0;
}

@include breakpoint(md up) {
    .billing__switcher {
        margin: 0 0 24px 0;
    }
}

@include breakpoint(lg up) {
    .billing__switcher {
        margin: 0 0 29px 0;
    }
}


.grid-catalog-product-image {
    grid-area: image;
    grid-row: 1/3;

    @include breakpoint(md up) {
        grid-row: 1/2;
    }
}

.grid-catalog-product-price {
    grid-area: price;
}

.grid-catalog-product-info {
    grid-area: info;
}

.products-slider-price-container {
    padding: 0 3%;

    @include breakpoint(md up) {
        padding: 0;
    }
}

.product-items__tile {
    display: flex;
    flex-direction: row;
}


.product-card-info {
    color: $dark_33;
}

.product-card-title {
    @include breakpoint(medium down) {
        font: {
            size: rem-calc(16);
        }
    }
    @include breakpoint(small down) {
        font: {
            size: rem-calc(14);
        }
    }

    &, a {
        color: black;
        text-align: left;

        //overflow: hidden;
        //max-height: 3em;

        &:hover {
            text-decoration: underline;
        }
    }
}

.product-card-sku {
    margin: 5px 0;
    line-height: 1.1;
    font: {
        size: rem-calc(16);
    };

    .value {
        color: $forest_green;
        text-transform: uppercase;
        font: {
            weight: 400;
        }
    }

    .has-tip {
        width: 19px;
        height: 19px;
        line-height: 1.3;
        color: $white;
        background-color: #cfcfcf;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        text-align: center;
        display: inline-block;
        border: none;
    }
}

.product-card-description {
    @include breakpoint(medium down) {
        font: {
            size: rem-calc(14)
        }
    }

    @include breakpoint(small down) {
        font: {
            size: rem-calc(12)
        }
    }
}

.product-card-brand {
    @include breakpoint(medium down) {
        font: {
            size: rem-calc(14)
        }
    }

    @include breakpoint(small down) {
        font: {
            size: rem-calc(12)
        }
    }
}

.product-card-price {
    line-height: rem-calc(22);
    flex-grow: 1;
    display: flex;

    @include breakpoint(md up) {
        flex-direction: column;
    }
}


/*grid for pricing block*/
.product-card-price__catalog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "price-option__price" "price-option__info";
    margin: rem-calc(10) 0 0 0;

    @include breakpoint(md up) {
        margin: 0;
        grid-template-rows: auto 1fr;
    }
}

.product-card-price {
    grid-area: price-option__price;
}

.product-card-price-info {
    grid-area: price-option__info;
}

.product-card-button {
    grid-area: price-option__button;
    grid-column: 2/4;

    @include breakpoint(md up) {
        grid-column: 1/2;
    }
}

.price_container product-card-price {
    grid-area: ценник;
}

.cart-quantity {
    grid-area: price-option__quantity;
}

.info-container {
    grid-area: price-option__info;
    grid-column: 1/3;
}

.price-attributes {
    display: grid;
    grid-template-areas: "price-option__quantity price-option__button" "price-option__link cell22" "price-option__info cell22";
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr;
    grid-column-gap: rem-calc(10);

    @include breakpoint(md up) {
        grid-template-areas: "price-option__quantity" "price-option__info" " price-option__button";
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }
}

.add-to-cart-text__catalog {
    display: none;

    @include breakpoint(550px up) {
        display: block;
    }
}

.add-to-cart-text__catalog.complex {
    @include breakpoint(md up) {
        display: none;
    }
}
.wait .add-to-cart-text__catalog {
    display: none;
}

/*WAIT BUTTON START*/

.wait-button .wait-text {
    display: none;
}

@include breakpoint(550px up) {
    .wait-button.wait .wait-text {
        display: block;
    }
}

@include breakpoint(md up) {
    .add-to-cart-button-add__complex.wait .wait-text {
        display: none;
    }
}

.button-wait-text {
    text-transform: uppercase;
}

.add-to-cart-button-add.wait:before {
    display: block;

    @include breakpoint(550px up) {
        display: none;
    }
}

.add-to-cart-button-add__complex.wait:before {
    @include breakpoint(md up) {
        display: block;
    }
}

.add-to-cart-button-add__catalog-tile.wait .wait-text {
    display: none;
}
/*WAIT BUTTON END*/

.product-card-checkout-link {
    grid-area: price-option__link;
    grid-column: 1/4;

    a {
        width: 100%;
        height: rem-calc(42);
        display: flex;
        margin: rem-calc(10) 0;
    }

    @include breakpoint(md up) {
        display: none;
    }
}

.see-other {
    @include breakpoint(md down) {
        height: rem-calc(42);
        display: flex;
        margin: rem-calc(10) 0;
        font-size: rem-calc(18);
        text-transform: uppercase;
        font-weight: 700;
    }
}

.product-card-image__catalog-list {
    height: rem-calc(180);
}

.product-card-image__catalog-tile {
    height: rem-calc(163);
    padding: 0 0 rem-calc(10);
}

.product-no-image__catalog {
    height: rem-calc(180);
}

.product-card-brand__tile {
    display: none;

    @include breakpoint(md up) {
        display: block;
    }
}

.product-card-description__tile {
    display: none;

    @include breakpoint(md up) {
        display: block;
    }
}

.price-attributes__tile {
    grid-template-areas:"price-option__quantity price-option__button" "price-option__info" "cell31 cell32";
    grid-template-columns: 1fr 1fr;
}

.product-card-button__tile {
    grid-column: 2/4;
}

.add-to-cart-text__catalog-tile {
    display: none;
}
