.checkout-compound-main-container {
  width: 70%;
  position: relative;
}

@include breakpoint(lg up) {
  .checkout-compound-main-container {
    width: 58%;
  }
}

@include breakpoint(xl up) {
  .checkout-compound-main-container {
    width: 60%;
  }
}
