.cart-table-row {
  display: flex;
  padding: .75rem 45px .75rem 0;
  border-top: none;
  border-bottom: 1px solid #e1e1e1;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
