.search-button {
    height: rem-calc(25);
    padding: 0 rem-calc(8);
    background: #f6f6f6;
    border-radius: 0;
    border: none;
    outline: none;
    font-size: rem-calc(13);

    &:hover {
        background: #fff1c9;
    }

    &:active {
        background: #fde192;
    }
}

.left-form{
    margin-right: 60px;
}