.cart-info-button__not-empty {
  &:after {
    border-left: rem-calc(4) solid transparent;
    border-right: rem-calc(4) solid transparent;
    border-top: rem-calc(6) solid #0d2431;
    content: "";
    position: absolute;
    display: inline-block;
    width: rem-calc(6);
    height: rem-calc(6);
    transition: all .4s;
    margin-top: rem-calc(-2);
    margin-left: rem-calc(6);
    top: 50%;
  }
}
