@mixin getQuantitySelectorStyle() {
  .select-quantity {
    text-align: center;
    .max-number {
      font-size: 90%;
      color: #4a4949;
    }
    .quantity-radio-group {
      margin: 0 auto;
      width: rem-calc(260);

      @include breakpoint(sm) {
        width: rem-calc(300)
      }
      @include breakpoint(medium) {
        width: rem-calc(428)
      }

      input[type="radio"] {
        display: none;
        position: absolute;
        top: -9999px;
        left: -9999px;

        & + label {
          display: block;
          width: 100%;
          line-height: rem-calc(43);
          height: rem-calc(43);
          border: 1px solid #aaaaaa;
          text-align: center;
          font-size: rem-calc(18);
          color: #4a4949;
          cursor: pointer;
          border-radius: rem-calc(6);
          margin-bottom: rem-calc(5);
          position: relative;
        }

        &:checked + label {
          font-weight: bold;
          color: $white;
          background-color: $forest_green;
          border-color: $forest_green;

          &:after {
            content: url("../../dist/images/icons/white_check_mark.svg");
            display: block;
            position: absolute;
            top: rem-calc(4);
            right: rem-calc(13);
            width: rem-calc(22);
            height: rem-calc(23);
          }
        }
      }

    }

    .input-quantity {
      padding-bottom: 1.5rem;

      input {
        width: 100%;
        line-height: 2rem;
      }
    }

    .button {
      line-height: rem-calc(43);
      height: rem-calc(43);
      width: 100%;
    }

    .button-amount {
      border: 1px solid #aaaaaa;
      line-height: rem-calc(43);
      height: rem-calc(43);
      font-size: 1rem;
      color: #9a9a9a;
      border-radius: rem-calc(6);
    }

    .button-change {
      text-transform: uppercase;
      font-weight: bold;
      line-height: rem-calc(46);
      height: rem-calc(46);
      box-shadow: 10px 10px 10px rgba(0, 0, 0, .15);
    }
  }
}
