@mixin getQuantityGroupStyle() {
  .quantity-group {
    word-spacing: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    max-width: rem-calc(126);

    .btn {
      flex: 0 0 rem-calc(22);
      color: black;
      text-align: center;
      background-color: #fff0ca;
      cursor: pointer;

      &.active {
        background-color: #ffe296;
      }

      &.inc {
        border-left: $default_qg_border;
      }

      &.dec {
        border-right: $default_qg_border;
      }
    }

    input {
      flex: 10 0;
      vertical-align: top;
      border: none !important;
      outline: none;
      text-align: center;
      width: 3em;
      max-width: 5em;
      margin: 0;
      min-width: 2em;
      height: 100%;
    }
  }
}