@mixin getProductQuestionsStyle() {
  .user-questions {
    .question-row {

      padding-top: rem-calc(22);
      padding-bottom: rem-calc(22);
      border-top: 2px solid #c9c9c9;

      &:first-child {
        border-top: 0;
      }

      .question-item {

        //padding-top: rem-calc(22);
        //
        //&:first-child {
        //  padding-top: 0;
        //}

        .title {
          .full {
            display: none;
          }
          .short {
            display: block;
          }
        }

        .post {

          .text {

            border: 1px solid #d2d2d2;
            border-radius: 0 4px 4px;
            background-color: #f8f8f8;
            line-height: rem-calc(22);
            color: #262626;
            padding: .5rem rem-calc(12);
            position: relative;
            box-shadow: 0 4px 3px 0px #d2d2d2;
            font-size: 1rem;

            .before {
              width: 24px;
              height: 24px;
              position: absolute;
              top: -1px;
              left: -24px;
              overflow: hidden;

              &:before {
                content: '';
                display: block;
                width: 32px;
                height: 19px;
                border: 1px solid #d2d2d2;
                //border-left-width: 2px;
                transform: skewX(45deg);
                background-color: #f8f8f8;
                box-shadow: -1px 6px 2px 2px #d2d2d2;
                position: absolute;
                top: 0;
                left: 14px;
              }


            }

          }
          .by-line {
            color: #6b6b6b;
            font-size: rem-calc(12);
            line-height: 1.2;
            padding-top: .5rem;
          }
        }
      }
      .question {
        .question-item {

          .post {
            .text {
              background-color: #f1ffec;
              border-color: #c8eebb;

              .before {
                &:before {
                  background-color: #f1ffec;
                  border-color: #c8eebb;
                }
              }
            }
          }

        }
      }
    }
  }
}