@import "styles/utils/Utils.module";

.sidebarMenuWrapper {
  position: sticky;
  top: pxToRem(70);
  overflow-y: scroll;

  @include breakpoint(md) {
    max-height: calc(100vh - 81px);
    overflow-y: scroll;
  }

  @include breakpoint(lg) {
    max-height: initial;
    overflow: initial;
  }
}
